@main("Where Adventurers meet.") { } {


    <div class="jrn-container">
        <h2>About JournWe</h2>
        <div>
            <blockquote>
                <p class="lead">
                    You want to go a trip and you don't want to go alone? Imagine a place where friends meet, discuss, and plan their upcoming adventure, to later embrace joint lifetime experiences. From mountain-biking next weekend to a road-trip in India, it's up to you to get it started...</p>
                <small>Michael Menzel, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>
        <h3>What is it, really?</h3>
        <div><p>
            JournWe is magical. You meet adventurous people and start to prepare a story of your lifetime together.</p></div>
        <div>
            <blockquote>
                <p class="lead">
                    It is clear that spending time with your friends is not only capital but becomes priceless when eventually accomplishing the adventure quest.</p>
                <small>Marlene, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>
        <div><p>Be adventurous. Try something new, achieve more than you expected.</p></div>
        <div class="spacer30"></div>
        <div>
            <blockquote>
                <p class="lead">
                    At first, when you get a glimpse of doing the right things with the right people you feel curios about it. Later, you never turn back!</p>
                <small>Markus Klems, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>
    </div>

    <div class="jrn-container">
		<h2>Features</h2>
		<div class="row">
			<div class="col-lg-4">
			  <h4><img style="height: 20px;" alt="JournWe logo" src="/assets/img/yingyangyong_green.png"></img> Get Your Trip Started</h4>
			  <ul style="list-style-type:none">
			  <li> Where do you want to go? </li>
			  <li> When do you want to go? </li>
			  <li> With whom do you want to go? </li>
			  </ul>
			  You're sure, then start. <br> You haven't decided yet? - Doesn't matter, start anyway and discuss later.
			</div>
			<div class="col-lg-4">
			  <h4><i class="fa fa-bullhorn"></i> Involve Your Friends</h4>
			  Use JournWe to motivate friends to join an adventure. Sharing information from JournWe is a cool way for having all your friends convinced to join your trip! Or announce it to the public and fiend new friends.
			</div>
			<div class="col-lg-4">
			  <h4><i class="fa fa-comments"></i> Keep it all in One Place</h4>
			  Don't bother with emails from travel operators that only reach one or few people in your travel group. JournWe gives you an email address (your-adventure@@journwe.com) and provides you with a single communication point. All of it is kept centrally in your adventure visible for all travel mates.
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
			  <h4><i class="fa fa-lightbulb"></i> Get Inspired</h4>
			  Is there anything out there? Find the hottest current adventures you may join. We have great inspirations for you to find your next adventure! Activate a notifier and get news on adventures in your area, a certain category or on where you always wanted to go.
			</div>
			<div class="col-lg-4">
			  <h4><i class="fa fa-plane"></i> Find the Cheapest Prices</h4>
			  Use reference booking systems to find cheapest flights, hotels, buses, trains, homestays, tents, backseats,tickets... matching your trip.
			</div><div class="col-lg-4">
			  <h4><i class="fa fa-camera-retro"></i> And when it's Over</h4>
			  Share your pictures, write a blog, keep in touch...
			</div>
		</div>
		<!--	<div class="row">
			 <div class="span4">
			  <h4><i class="fa fa-thumbs-up-alt"></i> Made for Bootstrap</h4>
			  Designed from scratch to be fully compatible with <a href="http://getbootstrap.com">Bootstrap 2.3.2</a>.
			</div>
			<div class="span4">
			  <h4><i class="fa fa-desktop"></i> Desktop Friendly</h4>
			  To use on the desktop or for a complete set of vectors,
			  check out the <a href="./cheatsheet/">cheatsheet</a>.
			</div>
			<div class="span4">
			  <h4><i class="fa fa-search"></i> Screen Reader Compatible</h4>
			  Font Awesome won't trip up screen readers, unlike other icon fonts.
			</div>
			</div> -->
		<!--     <ul>
				<li>Motivation Factor: Use JournWe to motivate friends to join an adventure. Information on JournWe is a profound basis to have all your friends convinced of the trip!</li>
				<li>Find Inspirations: We have great inspirations for you to find your next adventure!</li>
				<li>Message Central: Don't bother with emails from travel operators that only reach one or few people in your travel group. JournWe gives you an email address (your-adventure@@journwe.com) and provides you with a single communication point.</li>
				<li>Other Random Feature: It's great because...</li>
			</ul> -->
		<div class="row">
			<div class="col-lg-4">
			  <h4><i class="fa fa-phone"></i> Notifications </h4>
			</div>
			<div class="col-lg-4">
			  <h4><i class="fa fa-heart-empty"></i> Most wanted list </h4>
			</div>
			<div class="col-lg-4">
			  <h4><i class="fa fa-trophy"></i> Rewards from travel agents </h4>
			</div>
	    </div>
	</div>

    } { } ("about")
