@(loginForm: Form[_])

@import com.feth.play.module.pa.views.html._
@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.login.title")) { @Messages("playauthenticate.login.title") } {

<div class="jrn-container" style="margin-top:-20px;">
  <div id="login" class="row">
    <div class="col-lg-5">
        <p class="lead">Login with your JournWe Account:</p>
      @* Display proprietary login form *@
    	@helper.form(core.html.routes.ApplicationController.doLogin) {
    	
        @if(loginForm.hasGlobalErrors) { 
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }
        
        @_emailPartial(loginForm)
          
        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("playauthenticate.login.password.placeholder"),
          'class -> "form-control",
          'required -> true
        )
          
        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary"><br/>
        <br/>

        <a href="@core.html.routes.ApplicationController.signup">@Messages("playauthenticate.login.register")</a> @Messages("playauthenticate.login.or")

        <a href="javascript:void(0);" onclick="window.location.href = '@core.html.routes.SignupController.forgotPassword("../../../data/public")'+($('#email').val()?'/'+$('#email').val():'');">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>
    <div class="col-lg-5 col-lg-offset-2">
        <p class="lead">Login with your Social Network Account:</p>
        <ul class="nav nav-pills nav-stacked ">
            @forProviders() { p =>
                <li><a href="@p.getUrl()"><i class="fa fa-@(if(p.getKey().toLowerCase()=="google"){"google-plus"}else{p.getKey().toLowerCase()}) fa-fw"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase)</a></li>
            }
        </ul>
    </div>
  </div>
</div>

}