@(title: String)(headerText: Html = Html("Welcome"))(content: Html)(implicit ogMeta: Html = Html.empty, javascriptModule: String = null, active: String = "home")

<!DOCTYPE html>

<html lang="en">
<head>
	<title>JournWe - @Html(title)</title>
    @if(!Html.empty.equals(ogMeta)) {
        @ogMeta
    } else {
       @openGraphMeta(title)
    }
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' type='text/css'>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:300,400'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="@controllers.core.html.routes.CDNAssetsController.at("css/journwe.min.css")">
    <link rel="stylesheet" href="@controllers.core.html.routes.CDNAssetsController.at("css/typeahead.js-bootstrap.min.css")">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/2.0.0/css/bootstrap-switch.min.css">

    <link rel="shortcut icon" type="image/png" href="@controllers.core.html.routes.CDNAssetsController.at("img/favicon.png")">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39156308-1']);
	  _gaq.push(['_setDomainName', 'journwe.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = controllers.core.html.routes.CDNAssetsController.at("javascripts/" + (if(javascriptModule == null){"static"}else{javascriptModule})).absoluteURL())
</head>
<body>
    <div class="background-container">
		<img src="@routes.Assets.at("img/s.gif")" id="background"/>
		<div class="overlay"></div>
        <div class="overlay overlay-map" id="background-map"></div>
	</div>
	<div class="">
		<header class="header">
            <div class="container">
			@header()
            </div>
		</header>

		<div class="main">
				@if(!headerText.toString().equals(" ")){
                    <div class="container">
                        <div class="page-header">
                            <h1>@headerText</h1>
                        </div>
                    </div>
				}

				@content
		</div>

		<!-- TOP NAVIGATION -->
		<div class="footer-navigation clearfix">
	        <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                            &copy; 2014 JournWe.
                    </div>
                    <div class="col-xs-8">
                        <div class="pull-right"><a class="btn-scroll-top"><i class="fa fa-angle-up"></i> Top</a></div>
                    </div>
                </div>
 	        </div>
	    </div>

        <!-- FLASH MODALS -->
        @if(flash.get(GlobalParameters.FLASH_ERROR_KEY)) {
            <div class="modal fade in modal-auto-load" data-show="true" tabindex="-1" role="dialog" aria-labelledby="modal-error" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Error!</h2>
                        </div>
                        <div class="modal-body">
                            <p class="lead text-danger">@flash.get(GlobalParameters.FLASH_ERROR_KEY)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if(flash.get("success")) {
            <div class="modal fade in modal-auto-load" data-show="true" tabindex="-1" role="dialog" aria-labelledby="modal-success" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-check-circle"></i> Success!</h2>
                        </div>
                        <div class="modal-body">
                            <p class="lead text-success">@flash.get("success")</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if(flash.get("info")) {
            <div class="modal fade in modal-auto-load" data-show="true" tabindex="-1" role="dialog" aria-labelledby="modal-info" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title"><i class="fa fa-info-circle"></i> Info</h2>
                        </div>
                        <div class="modal-body">
                            <p class="lead text-info">@flash.get("info")</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }

	    
	    <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
            @footer()
            </div>
        </footer>

	    <div id="fb-root"></div>
	    <script>(function(d, s, id) {
	        var js, fjs = d.getElementsByTagName(s)[0];
	        if (d.getElementById(id)) return;
	        js = d.createElement(s); js.id = id;
	        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=515340035175937";
	        fjs.parentNode.insertBefore(js, fjs);
	        }(document, 'script', 'facebook-jssdk'));
	    </script>
	</div>
</body>
</html>