@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title")){ @Messages("playauthenticate.signup.title") }{

<div class="container content">
    <div class="jrn-container" style="margin-top:-20px;">
      <div id="signup" class="row">
        <div class="col-lg-4">
            @* Display proprietary login form *@
            @helper.form(core.html.routes.ApplicationController.doSignup) {

                @if(signupForm.hasGlobalErrors) {
                    <p class="error">
                        <span class="label label-important">@signupForm.globalError.message</span>
                    </p>
                }

                 @inputText(
                    signupForm("name"),
                    '_label -> Messages("playauthenticate.signup.name"),
                    '_showConstraints -> false,
                    'required -> true,
                    'class -> "form-control"
                 )

                 @_emailPartial(signupForm)

                 @_passwordPartial(signupForm)

                <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary">
            }
        </div>
      </div>
    </div>
</div>
}