@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.password.forgot.title")) { @Messages("playauthenticate.password.forgot.title") } {

<div class="jrn-container" style="margin-top:-20px;">
	<div id="login" class="row">
    	<div class="col-lg-4">

		@form(html.routes.SignupController.doForgotPassword) {
		   
	            @if(emailForm.hasGlobalErrors) { 
	                <p class="error">
			            <span class="label label-important">@emailForm.globalError.message</span>
			        </p>
	            }
		   
		   @_emailPartial(emailForm)
	           
			<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary"> 
		}

		</div>
	</div>
</div>
}