@(commentForm: Form[models.adventure.comment.Comment])(threadId: String)

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Create a Comment"){Write something} {

	<h2>Comment Form</h2>

    @form(api.json.routes.CommentController.saveComment(), args = 'class -> "form-horizontal") {

    	<fieldset>
    		<input type="hidden" name="threadId" value="@threadId" />
       		@inputText(commentForm("text"), '_label -> "Comment text")
    	</fieldset>
    	<div class="form-actions">
    	  <input type="submit" value="Post comment!" class="btn btn-primary"> | <a href="@html.routes.IndexController.index()" class="btn btn-link">Cancel</a>
    	</div>
    }
    
}
