@(commentForm: Form[Comment])(comments: Iterator[Comment])

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Manage Comments"){Manage Comments} {
  
	<h2>Comments</h2>
	@if(comments != null) {
		<table class="table table-striped">
		
		while (comments.hasNext){
		    @defining(comments.next) { comment =>
			<tr><td>@comment.getId()</td><td>@comment.getText()</td><td><a href="@routes.CommentController.edit(comment.getId())"><i class="icon-edit"></i>edit</a></td><td><a href="@routes.CommentController.delete(comment.getId())"><i class="icon-trash"></i>delete</a></td></tr>
			}
		}
		</table>
	}

	<h2>Comment Form</h2>

    @form(routes.CommentController.save(), args = 'class -> "form-horizontal") {

    	<fieldset>
    		@if(commentForm("id").value()) { 
    		<input type="hidden" name="@commentForm("id").name()" value="@commentForm("id").value()" />
    		}
       		@inputText(commentForm("text"), '_label -> "Comment text")
    	</fieldset>
    	<div class="form-actions">
    	  <input type="submit" value="Post comment!" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link">Cancel</a>
    	</div>
    }
    
}
