@(adv: models.adventure.Adventure, topic: String)

<div class="comments">

	<div id="comments-list-@topic" class="comment-list">
		<div class="empty"><i class="icon-spinner icon-spin"></i> Loading...</div>
	</div>	

	<div id="input-comment-@topic" class="input-group input-comment">
	    <input type="text" placeholder="Say hello!" class="form-control input-small"/>
	    <div class="input-group-btn"><button id="btn-add-comment-@topic" class="btn btn-add-comment btn-small" type="button"><i class="icon-plus"></i></button></div>
	</div>



	<script>

		$(function(){

			var adventureId = "@adv.getId()",
				topic = ("@topic"+""),
				threadId = adventureId+topic,
				input = $("#input-comment-@topic input"),
				btn = $("#btn-add-comment-@topic");

			// The container for all comments
			var list = $("#comments-list-@topic");


			// Perform GET
            refreshComments(threadId, list);

			// Perform POST
			btn.click(function () {
                var val;

                // Check if there is a value
                if (val = (input.val()||"").trim()){
                    input.val(""); // Reset
                    addComment(threadId, list, val, btn);
                }
            });

			input.keyup(function(e) {
				if(e.keyCode == 13) {
					btn.click();
				}
			});


		});
	</script>
</div>
