@(topic: String, user: models.user.User)

<div class="comments col-lg-12">

    <div class="comment-list comment-list-@topic" data-thread="@topic">
        <div class="empty"><i class="icon-journwe fa fa-spin"></i> @Messages("adventure.general.loading")</div>
    </div>

    <div class="comment-input">
        <div class="comment-image"><img src="@user.getImage"/></div>
        <div class="comment-text">
            <i class="fa fa-comment"></i>
            <span>
                <div class="input-group">
                    <input type="text" placeholder="@Messages("adventure.widgetComments.placeholder")" class="form-control input-sm"/>
                    <span class="input-group-btn"><button class="btn btn-default btn-comment-add btn-sm" data-thread="@topic" type="button"><i class="fa fa-plus"></i></button></span>
                </div>
            </span>
        </div>
    </div>
</div>
