@(adv: models.adventure.Adventure, topic: String)

<div class="comments-wall">

	<div id="comments-list-@topic" class="comment-list">
		<div class="empty"><i class="icon-journwe fa fa-spin"></i> @Messages("adventure.general.loading")</div>
	</div>	

	<div id="input-comment-@topic" class="input-group row col-lg-8" style="margin-top: 20px;">
	    <input type="text" placeholder="@Messages("adventure.wallComments.placeholder")" class="form-control"/>
	    <div class="input-group-btn">
	    	<button id="btn-add-comment-@topic" class="btn btn-primary btn-add-comment" type="button"><i class="fa fa-plus"></i></button>
	    </div>
	</div>


    <script id="template-wall" type="text/x-tmpl">
        <div>
            <img class="pull-left" style="margin-right: 10px; max-height: 24pt;" src="{%=o.user.image%}">
            <div class="comment-text"><i class="fa fa-comment"></i> {%=o.comment.text%}</div>
            <div class="comment-info">{%=o.user.name%} <small>-</small> {%=o.time%}</div>
        </div>
    </script>


    <script>

    $(function(){

    var adventureId = "@adv.getId()",
        topic = ("@topic"+""),
        threadId = adventureId+topic,
        input = $("#input-comment-@topic input"),
        btn = $("#btn-add-comment-@topic");

    // The container for all comments
    var list = $("#comments-list-@topic");


    // Perform GET
    $.get('@routes.CommentController.listComments("")'+threadId, function(res){
        list.html("");
        res.forEach(function(f){
            f.time = formatTime(f.comment.timestamp); // Append
            list.append(tmpl('template-wall', f)).fadeIn();
        });

        if (!res.length){
            list.append('<div class="empty"><i class="fa fa-envelope"></i> @Messages("adventure.wallComments.firstComment")</div>');
        }
    });

    // Perform POST
    btn.click(function(){
        var val;

        // Check if there is a value
        if (val = (input.val()||"").trim()){
            btn.html('<i class="fa fa-spin icon-journwe"></i>');
            input.val(""); // Reset

            $.post("@routes.CommentController.saveComment()", {text: val, threadId: threadId}, function(f){
                list.find(".empty").remove();

                f.time = formatTime(f.comment.timestamp); // Append
                list.append(tmpl('template-wall', f)).fadeIn();
                btn.html('<i class="fa fa-plus"></i>');
            });
        }
    });

    input.keyup(function(e) {
        if(e.keyCode == 13) {
            btn.click();
        }
    });


    });
    </script>
</div>
