@(topic: String)

<div class="comments comments-wall">

	<div class="comment-list comment-list-@topic" data-thread="@topic">
		<div class="empty"><i class="icon-journwe fa fa-spin"></i> @Messages("adventure.general.loading")</div>
	</div>	

	<div class="input-group col-lg-8 comment-input" style="margin-top: 20px;">
	    <input type="text" placeholder="@Messages("adventure.wallComments.placeholder")" class="form-control"/>
	    <div class="input-group-btn">
	    	<button id="btn-add-comment-@topic" class="btn btn-primary btn-comment-add" type="button" data-thread="@topic" ><i class="fa fa-plus"></i></button>
	    </div>
	</div>
    
</div>
