# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
# IntelliJ 
.idea
*.iml
*.pyc

infrastructure/play/repository/cache/
infrastructure/play/framework/sbt/
code/journwe-utility/target/*
code/journwe-james/target/*
code/journwe-booking/target/
