@(adv: models.adventure.Adventure, advr: models.adventure.adventurer.Adventurer)
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.dao.user.UserSocialDAO
@import models.adventure.adventurer.EAdventurerParticipation

    @import models.authorization.JournweAuthorization

    @defining(new JournweAuthorization(adv.getId)) { auth =>

        @if(auth.canEditAdventurerParticipationStatus()) {
            @defining((advr.getParticipationStatus())) { (status) =>
                @if(status != null && !EAdventurerParticipation.APPLICANT.equals(status)) {
                    <div>
                        <strong style="vertical-align : middle ;">@Messages("adventure.adventurers.myStat")</strong>

                        <div class="btn-group btn-select-adventurer">
                            <button class="btn btn-danger @if(status == EAdventurerParticipation.NOTGOING) {active}"
                            data-status="@EAdventurerParticipation.NOTGOING.name"><i class="fa fa-frown-o"></i> @Messages("adventure.adventurers.status.notIn")</button>
                            <button class="btn btn-warning @if(status == EAdventurerParticipation.UNDECIDED) {active}"
                            data-status="@EAdventurerParticipation.UNDECIDED.name"><i class="fa fa-question"></i> @Messages("adventure.adventurers.status.undecided")</button>
                            <button class="btn btn-info @if(status == EAdventurerParticipation.GOING) {active}"
                            data-status="@EAdventurerParticipation.GOING.name"><i class="fa fa-smile-o"></i> @Messages("adventure.adventurers.status.soIn")</button>
                            <button class="btn btn-success @if(status == EAdventurerParticipation.BOOKED) {active}"
                            data-status="@EAdventurerParticipation.BOOKED.name"><i class="fa fa-check"></i> @Messages("adventure.adventurers.status.booked")</button>
                        </div>
                    </div>
                } else {
                    @if(EAdventurerParticipation.APPLICANT.equals(status)) {
                        <div>
                            <strong>@Messages("adventure.adventurers.applicant")</strong>
                        </div>
                    } else {
                        <div>
                            <a class="btn btn-primary" href="@html.routes.AdventurePeopleController.participateFacebook(adv.getId())">@Messages("adventure.adventurers.button.participate")</a>
                        </div>
                    }
                }
            }
        }

        @if(auth.canViewAdventurerParticipants) {
            <div class="spacer10"></div>

            <div class="row">
                <div class="col-xs-12">
                    <h3>Adventurers</h3>
                    <div class="adventurers-list" style="overflow : hidden ;"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            @*
            <div class="row">
                <div class="col-xs-12">
                    <h3>Participants</h3>
                    <div class="adventurers-participants-list" style="overflow : hidden ;"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-12">
                    <h3>Invitees</h3>
                    <div class="adventurers-invitees-list" style="overflow : hidden ;"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-12">
                    <h3>Applicants</h3>
                    <div class="adventurers-applicants-list" style="overflow : hidden ;"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            *@


            <script type="text/x-tmpl" id="adventurer-template">
                <div data-id="{%=o.id%}" id="adventurers-adventurer-{%=o.id%}" class="polaroid" style="position: relative; float: left; border-bottom: 2px solid {%=o.color%};">
                    <a href="{%=o.link%}">
                        <img style="margin: 0px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=100&height=100&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}">
                    </a>
                    <div class="text-center" style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
                        <div style="line-height: 10px;"><a href="{%=o.link%}">
                            {%=String(o.name).replace(new RegExp(' [^ ]*$', 'g'), '')%}</a></div>
                        {% if(o.status == 'APPLICANT'){ %}
                        <button class="btn btn-primary btn-sm btn-adopt" data-id="{%=o.id%}">Adopt</button>
                        {% } %}
                        {% if(o.status == 'APPLICANT' || o.status == 'INVITEE'){ %}
                        <button class="btn btn-danger btn-sm btn-deny" data-id="{%=o.id%}">Deny</button>
                        {% } %}
                        <div class="overlay text-center">
                            <span class="label label-{%=o.cssLabel%}" title="Status" style="display: inline-block; width: 100%;">
                                {%=o.status%}</span>
                        </div>
                    </div>
                </div>
            </script>
        }

        <div class="row">
            <div class="col-xs-12">
                <h4><i class="fa fa-lock"></i> Your Details</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <i class="fa fa-road"></i>
                <a href="#" class="editable" data-type="text" data-name="adventurerHomeAirport" data-pk="@adv.getId()"
                data-url="@html.routes.AdventureController.saveEditable()"
                data-original-title="Enter your home airport" data-emptytext="Your Home Airport" data-inputclass="form-control">@advr.getHomeAirport()</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <i class="fa fa-ambulance"></i>
                <a href="#" class="editable" data-type="textarea" data-name="adventurerEmergencyContact" data-pk="@adv.getId()"
                data-url="@html.routes.AdventureController.saveEditable()"
                data-original-title="Enter your emergency contact" data-emptytext="Your Emergency Contact" data-inputclass="form-control">@advr.getEmergencyContact()</a>
            </div>
        </div>


        @if(auth.canInviteAdventurerParticipants()) {

            <div class="row">
                <div class="col-xs-6"><h4><i class="fa fa-plus-square"></i> Invite</h4></div>
                <div class="col-xs-6"><h4><i class="fa fa-share"></i> Share</h4></div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group">
                        <div id="people-add-provider" class="input-group-btn">

                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", advr.getUserId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-facebook fa-fw" data-social-provider="facebook"></i>
                                } else { @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("foursquare", advr.getUserId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-foursquare fa-fw" data-social-provider="foursquare"></i>
                                } else { @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("google", advr.getUserId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-google-plus fa-fw" data-social-provider="google"></i>
                                } else { @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("twitter", advr.getUserId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-twitter fa-fw" data-social-provider="twitter"></i>
                                } else {
                                    <i id="people-add-provider-icon" class="fa fa-envelope-o fa-fw" data-social-provider="email"></i>
                                }}}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", advr.getUserId) != null){
                                    <li><a data-icon="fa fa-facebook fa-fw" data-social-provider="facebook" data-input-type="text" data-typeahead="on"><i class="fa fa-facebook fa-fw"></i>
                                        @Messages("adventure.general.label.facebook")</a></li>
                                }
                                @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("foursquare", advr.getUserId) != null){
                                    <li><a data-icon="fa fa-foursquare fa-fw" data-social-provider="foursquare" data-input-type="text" data-typeahead="on"><i class="fa fa-foursquare fa-fw"></i>
                                        @Messages("adventure.general.label.foursquare")</a></li>
                                }
                                @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("google", advr.getUserId) != null){
                                    <li><a data-icon="fa fa-google-plus fa-fw" data-social-provider="google" data-input-type="text" data-typeahead="on"><i class="fa fa-google-plus fa-fw"></i>
                                        @Messages("adventure.general.label.google")</a></li>
                                }
                                @if(advr != null && new UserSocialDAO().findByUserIdAndProvider("twitter", advr.getUserId) != null){
                                    <li><a data-icon="fa fa-twitter fa-fw" data-social-provider="twitter" data-input-type="text" data-typeahead="on"><i class="fa fa-twitter fa-fw"></i>
                                        @Messages("adventure.general.label.twitter")</a></li>
                                }
                                <li><a data-icon="fa fa-envelope-o fa-fw" data-social-provider="email" data-input-type="email" data-typeahead="off"><i class="fa fa-envelope-o fa-fw"></i>
                                    @Messages("adventure.general.label.email")</a></li>
                            </ul>

                        </div>
                        <input id="people-add-input" type="text" placeholder="@Messages("adventure.adventurers.add.placeholder")" autocomplete="off" class="input-people-add form-control" style="top: 2px; height: 36px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-people-add"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    @if(adv.getShortURL()!=null && !adv.getShortURL().equals("../../../../public")){
                        <a href="@adv.getShortURL" class="btn btn-default"><i class="fa fa-globe"></i> @adv.getShortURL</a>
                    }
                    <button onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436'); return false;" class="btn btn-primary"><i class="fa fa-facebook"></i> @Messages("adventure.options.facebookpublish")</button>
                    <div class="options-twitter-share stash">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="JournWe" @if(adv.getShortURL()!=null && !adv.getShortURL().contains("localhost")){data-url="@adv.getShortURL"} data-size="large" data-related="JournWe" data-hashtags="journwe">@Messages("adventure.options.twitter")</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                </div>
            </div>
        }

    }

