@(adv: models.adventure.Adventure)

<button class="btn btn-create-new-booking-request btn-primary"><i class="fa fa-file-text-o"></i> Create Booking Request</button>

<form role="form">
    <div class="form-group">
        <label for="br-adventureName">JournWe Name</label>
        <input type="text" class="form-control" id="br-adventureName" placeholder="...">
    </div>
    <div class="form-group">
        <label for="br-favoritePlaceAddress">Address of favorite place</label>
        <input type="text" class="form-control" id="br-favoritePlaceAddress" placeholder="...">
    </div>

    <button type="submit" class="btn btn-default">Save (not implemented yet)</button>
</form>