@(adv: models.adventure.Adventure)

    Your email address is: @adv.getId()@@journwe.com

    <script type="text/x-tmpl" id="emails-template">
        <tr>
            <td><span class="label label-info" title="{%=o.sender%}">{%=o.sender%}</span></td>
            <td>{%=o.subject%}</td>
            <td>{%=o.timestamp%}</td>
            <td><a class="btn btn-primary" href="mailto:{%=o.sender%}?cc={%=o.adventureId%}@@journwe.com&subject={%=o.subject%}&body={%=o.body%}"><i class="fa fa-reply-all"></i></a> </td>
        </tr>
    </script>

    <table id="emails-list" class="table table-striped table-hover table-condensed stash">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>