@(adv: models.adventure.Adventure, ins: models.inspiration.Inspiration)


@import models.authorization.JournweAuthorization

    @defining(new JournweAuthorization(adv.getId)){ auth =>

<div class="row">
    @*
    <div class="col-lg-2" style="width: 20%;">
        <img id="adventure-title-image" class="img-polaroid" style="border: solid 1px rgba(0, 0, 0, 0); margin-right: 20px; margin-bottom: 20px; width: 100%;" @if(adv.getImage == null || !JournweAuthorization.canViewAdventureImage(adv.getId)){src="http://www.placehold.it/150x200/EFEFEF/AAAAAA&text=Drop+image"}else{src="http://i.embed.ly/1/image/crop?height=200&width=150&url=@adv.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"}/>
        <div style="position: absolute; bottom: 22px; left: 17px;opacity: 0.8;"><input id="adventure-title-image-file-input" type="file" class="hide"/><button id="adventure-title-image-upload-button" class="btn btn-default btn-upload btn-xs" onclick="$('#adventure-title-image-file-input').click();"><i class="fa fa-upload"></i> @Messages("adventure.files.fileUpload")</button></div>
    </div>
    *@

    <div class="col-lg-12 adventure-container">
    @if(auth.canViewAdventureDescription()) {
        <div id="adventureDescription" class="replace-links" data-type="textarea" data-pk="@adv.getId()"
            data-url="@html.routes.AdventureController.saveEditable()" data-toggle="manual" data-rows="15" data-inputclass="form-control" data-showbuttons="bottom"
            data-original-title="Enter adventure description" data-emptytext="Description of your adventure...">@if(adv.getHTMLDescription != null){@Html(adv.getHTMLDescription())}</div>
    }
    @if(auth.canEditAdventureDescription()) {
        <div class="text-right">
            <div class="btn-edit-description"><a class="btn" onclick="event.stopPropagation(); $('#adventureDescription').editable('toggle');$(this).parent().hide()"><i class="fa fa-pencil"></i> @Messages("adventure.general.label.edit")</a></div>
        </div>
    }
    </div>


    <script>

        $.fn.editable.defaults.mode = 'inline';
        $.fn.editableform.loading = '<div class="x-edit-loading"><i class="icon-journwe fa fa-spin"></i></div>';

        $('document').ready(function () {



            $('#adventureName').editable();

            $('#adventureDescription').on('hidden', function(){
            $('.btn-edit-description').show();
            });
            // Replace all links with html links for certain elements
            $('.replace-links').each(function(){
                $(this).html(replaceURLWithHTMLLinks($(this).html()));
            });

            // After saving via x-editable, replace those links as well
            $.extend($.fn.editabletypes.textarea.prototype, {
                v2h: $.fn.editabletypes.textarea.prototype.value2html,
                value2html: function(foo, element){
                    this.v2h.apply(this, arguments);
                    $(element).html(replaceURLWithHTMLLinks($(element).html()));
                }
            });

        });
    </script>

</div>
    }

