@(adv: models.adventure.Adventure, ins: models.inspiration.Inspiration)


@import models.authorization.JournweAuthorization

    @defining(new JournweAuthorization(adv.getId)){ auth =>

    <div class="row description-container" style="">
        <div class="col-lg-1"><i class="fa fa-quote-left icon-description"></i></div>
        <div class="col-lg-11">
            <p class="lead">You are in this JournWe&#8482; to <span class="places-favorite-place-name"></span> on <span class="times-favorite-time-name"></span>. Have some fun, guys!</p>
            @if(auth.canViewAdventureDescription()) {
                <div id="adventureDescription" class="replace-links" data-type="textarea" data-pk="@adv.getId()"
                    data-url="@html.routes.AdventureController.saveEditable()" data-toggle="manual" data-rows="15" data-inputclass="form-control" data-showbuttons="bottom"
                    data-original-title="Enter adventure description" data-emptytext="Description of your adventure...">@if(adv.getHTMLDescription != null){@Html(adv.getHTMLDescription())}</div>

            }
            @if(auth.canEditAdventureDescription()) {
                <div class="text-right">
                    <a class="btn btn-edit-description btn-default"><i class="fa fa-pencil"></i></a>
                </div>
            }
        </div>
    </div>
    }

