@(adv: models.adventure.Adventure, ins: models.inspiration.Inspiration)


@import models.authorization.JournweAuthorization

    @defining(new JournweAuthorization(adv.getId)){ auth =>

    <div class="row description-container" style="">
        <div class="col-xs-1"><i class="fa fa-quote-left icon-description"></i></div>
        <div class="col-xs-11">
            <p class="lead">You are in this JournWe&#8482; to <span class="places-favorite-place-name">?</span> on <span class="times-favorite-time-name">?</span>. Have some fun, guys!</p>
            @if(auth.canViewAdventureDescription()) {
                <div class="editable replace-links pull-left" data-type="textarea" data-name="adventureDescription" data-pk="@adv.getId()"
                    data-url="@controllers.html.routes.AdventureController.saveEditable()" data-toggle="manual" data-rows="15" data-inputclass="form-control" data-showbuttons="bottom"
                    data-original-title="Enter JournWe description" data-emptytext="Description of your JournWe...">@if(adv.getHTMLDescription != null){@Html(adv.getHTMLDescription())}</div>

            }
            @if(auth.canEditAdventureDescription()) {
                <div class="text-right pull-right">
                    <a class="btn btn-default btn-prime-image-upload"><i class="fa fa-fw fa-picture-o"></i></a>
                    <a class="btn btn-edit-description btn-default"><i class="fa fa-fw fa-pencil"></i></a>
                </div>
            }
        </div>
    </div>
    <div class="spacer20"></div>
    <div class="row">
        <div class="col-xs-1"><i class="fa fa-picture-o icon-description"></i></div>
        <div class="col-xs-11">
            <div>
                <div class="adventure-photos"></div>
                <div class="polaroid" style="position: relative; float: left; width: 20%;">
                    <a class="btn-photo-upload"><img style="margin: 0px; width: 100%;" src="http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=add+photo"></a>
                    <input id="adventure-photo-file-input" type="file" class="hide"/>
                </div>
            </div>
            <div class="loader loader-photos stash"></div>

            <script type="text/x-tmpl" id="adventure-photo-template">
                <div class="polaroid" style="position: relative; float: left; width: 20%;">
                    <a class="btn-adventure-photo" data-index='{%=o.index%}'>
                        <img style="margin: 0px; width: 100%;" src="{% if(o == null || o.url == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.url)%}{% } %}">
                    </a>
                    <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                        <button class="btn btn-default btn-photo-delete pull-right" data-id="{%=o.id%}"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </script>
            <div id="carousel-adventure-photos" class="carousel carousel-fullscreen slide modal fade">
                <div class="text-center" style="position: absolute; top: 0; width: 100%; z-index: 9999;"><em>Click</em> to exit</div>
                <ol class="carousel-indicators carousel-indicators-adventure-photos"></ol>
                <div class="carousel-inner carousel-inner-adventure-photos"></div>

                <a class="left carousel-control" href="#carousel-adventure-photos" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-adventure-photos" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <script type="text/x-tmpl" id="adventure-photo-carousel-indicator-template">
                <li class="{%=o.active%}" data-target="#carousel-adventure-photos" data-slide-to="{%=o.index%}"></li>
            </script>
            <script type="text/x-tmpl" id="adventure-photo-carousel-item-template">
                <div class="item {%=o.active%}" style="background-image: url('{% if(o == null || o.url == null) { %}{%=String('http://www.placehold.it/1600x1200/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=1600&h=1200&u=' + o.url)%}{% } %}')"></div>
            </script>
        </div>
    </div>
    }

