@(adv: models.adventure.Adventure, advr: models.adventure.adventurer.Adventurer)

    @import models.adventure.adventurer.EAdventurerParticipation

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h4><i class="fa fa-bullhorn"></i> Publish</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Messages("adventure.options.public")<div id="adventure-public-switch" style="display:inline-block;overflow:hidden;margin-top: 0px; margin-bottom: -14px;margin-left: 5px;margin-right: 15px;"><input type="checkbox" @if(adv.isPublish){checked="checked"}></div>
                Category:
                <div class="btn-group btn-journwe-category">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-folder-open-o"></i> <span>No Category</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h4><i class="fa fa-cogs"></i> Actions</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <a class="btn btn-default" data-toggle="modal" data-target="#pdfAdventure"><i class="fa fa-file-text"></i> @Messages("adventure.general.button.pdf")</a>

                <input id="adventure-prime-image-file-input" type="file" class="hide"/>
                <a id="adventure-prime-image-upload-button" class="btn btn-default btn-upload"><i class="fa fa-picture-o"></i> @Messages("adventure.files.imageUpload")</a>
                
                <a class="btn btn-default" data-toggle="modal" data-target="#cloneAdventure"><i class="fa fa-copy"></i> @Messages("adventure.general.button.clone")</a>
                
                @if(EAdventurerParticipation.INVITEE.equals(advr.getParticipationStatus)) {
                    <a class="btn btn-participate btn-success" href="@html.routes.AdventurePeopleController.participateFacebook(adv.getId())"><i class="fa fa-plus"></i> @Messages("adventure.general.button.join")</a>
                } else {
                    <a class="btn btn-danger" data-toggle="modal" data-target="#leave"><i class="fa fa-unlink"></i> @Messages("adventure.general.button.leave")</a>
                }
            </div>
        </div>
    </div>
</div>

