@(adv: models.adventure.Adventure)

@import models.authorization.JournweAuthorization


@defining(new JournweAuthorization(adv.getId)){ auth =>

@if(auth.canViewPlaces()) {
<div class="clearfix">
    @if(auth.canViewFavoritePlace()) {
    <div id="places-favorite-place" class="pull-left" style="margin-bottom: 10px; margin-top: 7px;">
        <i class="fa fa-spin icon-journwe icon-favorite-place"></i> @Messages("adventure.places.favourite") <em><span class="places-favorite-place-name">@Messages("adventure.general.nofavourite.placeholder")</span></em>
    </div>
    }

    @if(auth.canChangeVoteOnOffForPlaces()) {
    <div class="pull-right">
          <button class="btn @if(adv.getPlaceVoteOpen){btn-success} btn-set-close-place"><i class="fa fa-ok"></i> @if(adv.getPlaceVoteOpen){Close}else{Reopen}</button>
    </div>

    <div class="pull-right">
          <button class="btn btn-default btn-set-reminder-place date" data-id="@adv.getId" data-date="@adv.getPlaceVoteDeadlineFormatted" data-date-format="dd-mm-yyyy"><i class="fa fa-calendar"></i> @if(adv.getPlaceVoteDeadlineFormatted){@adv.getPlaceVoteDeadlineFormatted}else{ Set Deadline }</button>
    </div>

    <div class="pull-right btn-close-place stash hidden">
        @Messages("adventure.general.voting")
        <div class="make-switch">
            <input id="places-voting-active-switch" type="checkbox" @if(adv.getPlaceVoteOpen){checked="checked"}>
        </div>
    </div>
    }
</div>

<table id="places-list" class="table table-striped table-responsive stash">
    <thead>
        <tr>
            <th>@Messages("adventure.general.favourite")</th>
            <th>@Messages("adventure.places.location")</th>
            <th style="width: 120px;">@Messages("adventure.general.yourvote")</th>
            <th class="text-center" style="width: 100px;">Group Rating</th>
            <th class="text-center hidden">@Messages("adventure.general.yes")</th>
            <th class="text-center hidden">@Messages("adventure.general.maybe")</th>
            <th class="text-center hidden">@Messages("adventure.general.no")</th>
            <th>@Messages("adventure.general.advvotes")</th>
            @if(auth.canEditPlaces()) {
            <th class="text-center">@Messages("adventure.general.listactions")</th>
            }
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>

<div class="places-loading"><i class="fa fa-spin icon-journwe"></i> @Messages("adventure.general.loading")</div>
}
@if(auth.canEditPlaces()) {
<div id="place-add-form" class="">
    <div class="input-group col-lg-8" style="margin-bottom: 10px;">
        <input type="text" placeholder="@Messages("yingyangyong.place.placeholder")" id="place-add-input" style="" class="form-control">
        <input id="place-add-comment-input" class="form-control stash" style="display: none; width: 50%;" type="text" placeholder="@Messages("adventure.comments.comment")">
        <div class="input-group-btn">
            <button id="place-add-button" class="btn btn-add btn-primary"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>

<div style="height: 400px;">
    <div id="place-add-map" style="width: 100%; height: 100%"></div>
</div>
}

<script type="text/x-tmpl" id="place-template">
    <tr id="placeoption-item-{%=o.placeId%}" data-placeid="{%=o.placeId%}">
        <td><button class="btn btn-favorite-place btn-default {%=o.favorite?'btn-success':''%}"><i class="fa fa-star"></i></button></td>
        <td><em>{%=o.address%}</em></td>
        @if(auth.canVoteForPlaces()) {
        <td>
            <div class="btn-group hidden">
                <button id="placeoption-status-{%=o.placeId%}" class="btn btn-default" style="width: 90px" disabled="disabled"><i id="placeoption-status-icon-{%=o.placeId%}"></i> {%=o.vote%}</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="votePlace('YES', 1, '{%=o.placeId%}');"><i class="fa fa-thumbs-up"></i> @Messages("adventure.general.yes")</a></li>
                    <li><a onclick="votePlace('MAYBE', 0.5, '{%=o.placeId%}');"><i class="fa fa-question"></i> @Messages("adventure.general.maybe")</a></li>
                    <li><a onclick="votePlace('NO', 0, '{%=o.placeId%}');"><i class="fa fa-thumbs-down"></i> @Messages("adventure.general.no")</a></li>
                </ul>
            </div>
            <div class="rating rating-place">
                <input type="radio" class="star" id="{%=o.placeId%}-star5" name="{%=o.placeId%}-rating" value="5" data-id="{%=o.placeId%}" {% if(o.voteGravity === 5/5){ %}checked{% } %} /><label for="{%=o.placeId%}-star5" title="Rocks!"><i class="fa fa-star"></i></label>
                <input type="radio" class="star" id="{%=o.placeId%}-star4" name="{%=o.placeId%}-rating" value="4" data-id="{%=o.placeId%}" {% if(o.voteGravity < 5/5){ %}checked{% } %} /><label for="{%=o.placeId%}-star4" title="Pretty good"><i class="fa fa-star"></i></label>
                <input type="radio" class="star" id="{%=o.placeId%}-star3" name="{%=o.placeId%}-rating" value="3" data-id="{%=o.placeId%}" {% if(o.voteGravity < 4/5){ %}checked{% } %} /><label for="{%=o.placeId%}-star3" title="Meh"><i class="fa fa-star"></i></label>
                <input type="radio" class="star" id="{%=o.placeId%}-star2" name="{%=o.placeId%}-rating" value="2" data-id="{%=o.placeId%}" {% if(o.voteGravity < 3/5){ %}checked{% } %} /><label for="{%=o.placeId%}-star2" title="Kinda bad"><i class="fa fa-star"></i></label>
                <input type="radio" class="star" id="{%=o.placeId%}-star1" name="{%=o.placeId%}-rating" value="1" data-id="{%=o.placeId%}" {% if(o.voteGravity < 2/5){ %}checked{% } %} /><label for="{%=o.placeId%}-star1" title="Sucks big time"><i class="fa fa-star"></i></label>
            </div>
        </td>
        }
        @if(auth.canViewVotesForPlaces()) {
        <td class="text-center">{%=o.voteGroup%}</td>
        <td class="text-center hidden">{%=o.voteCount.YES%}</td>
        <td class="text-center hidden">{%=o.voteCount.MAYBE%}</td>
        <td class="text-center hidden">{%=o.voteCount.NO%}</td>
        <td>{% for (var i in o.voteAdventurers) { for (var j in o.voteAdventurers[i]) { %} <span class="label {%=o.votePlaceLabelCSSClassMap[i]%}" title="{%=o.voteAdventurers[i][j]%}">{%=String(o.voteAdventurers[i][j]).split(/\s/)[0]%}</span> {% }} %}</td>
        }
        @if(auth.canEditPlaces()) {
        <td class="text-center"><button class="btn btn-delete-place btn-danger"><i class="fa fa-trash-o"></i></button></td>
        }
    </tr>
</script>


}


