@(adv: models.adventure.Adventure, user: models.user.User)


    <script type="text/x-tmpl" id="timeline-template-log">
        <div class="timeline-entry timeline-left">
            <div class="timeline-icon timeline-i timeline-small">
                <img src="/assets/img/s.gif" style="background-image: url('{%= o.user.image %}')">
            </div>

            <div class="timeline-content">
                {%= o.log.data %}
            </div>

            <div class="timeline-info"><span class="subject">{%= o.log.topic %} in {%= o.log.section %}</span> <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span> <span class="author">{%= o.user.name %}</span></div>
        </div>
    </script>

    <script type="text/x-tmpl" id="timeline-template-info">
        <div class="timeline-entry timeline-left">
            <div class="timeline-icon timeline-i timeline-small">
                <img src="/assets/img/s.gif" style="background-image: url('{%= o.user.image %}')">
            </div>

            <div class="timeline-content">
                {%= o.message %}
            </div>

            <div class="timeline-info"><span class="time stash" title="{%= o.fulltime %}">{%= o.time %}</span>  <span class="stash">&nbsp;&nbsp;-&nbsp;&nbsp;</span> {% if(o.info){ %}<span class="subject">{%= o.info %}</span> <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span> {% } %}<span class="author">{%= o.user.name %}</span></div>
        </div>
    </script>

    <script type="text/x-tmpl" id="timeline-template-comment">
		<div class="timeline-entry timeline-right">
			<div class="timeline-icon">
				<img src="/assets/img/s.gif" style="background-image: url('{%= o.user.image %}')">
			</div>
			
			<div class="timeline-content">
				{%= o.comment.text %}
			</div>
			
			<div class="timeline-info"><span class="author">{%= o.user.name %}</span> <span class="stash">&nbsp;&nbsp;-&nbsp;&nbsp;</span> <span class="time stash" title="{%= o.fulltime %}">{%= o.time %}</span></div>
		</div>
    </script>

    <script type="text/x-tmpl" id="timeline-template-file">
		<div class="timeline-entry timeline-left">
			<div class="timeline-icon timeline-small">
				<img src="/assets/img/s.gif" style="background-image: url('{%= o.user.image %}')">
			</div>
			
			<div class="timeline-content">
				<a href="{%= o.file.url %}" target="_blank">{%= o.file.fileName %}</a>
			</div>
			
			<div class="timeline-info"><span class="author">{%= o.user.name %}</span></div>
			<div class="timeline-toolbar"><a class="btn btn-link btn-file-delete" data-id="{%=o.file.fileName%}"><i class="fa fa-trash-o"></i> Remove file</a></div>
		</div>
    </script>


    <script type="text/x-tmpl" id="timeline-template-email">
		<div class="timeline-entry timeline-left">
			<div class="timeline-icon timeline-i timeline-small">
				<i class="fa fa-envelope-o"></i>
			</div>
			
			<div class="timeline-content">
				<a class="btn-email-preview" data-timestamp="{%=o.email.timestamp%}">{%= o.email.subject %}</a>
			</div>
			
			<div class="timeline-info"><span class="author">{%= o.email.sender %}</span></div>
			<div class="timeline-toolbar"><a class="btn btn-link btn-email-preview" data-timestamp="{%=o.email.timestamp%}"><i class="fa fa-eye"></i> Preview</a></div>
		</div>
    </script>

<div class="tab-content">
    <div class="tab-pane fade in active" id="discussion-timeline">
        <div class="clearfix">
            <div class="pull-right">
                <div class="btn-group btn-group-timeline-filter">
                    <button class="btn btn-default btn-timeline-filter-all active" data-toggle="tooltip" title="All"><i class="fa fa-comments-o fa-fw"></i></button>
                    <button class="btn btn-default btn-timeline-filter-logs" data-toggle="tooltip" title="Filter: Log Entries"><i class="fa fa-list fa-fw"></i></button>
                    <button class="btn btn-default btn-timeline-filter-emails" data-toggle="tooltip" title="Filter: Emails"><i class="fa fa-envelope-o fa-fw"></i></button>
                    <button class="btn btn-default btn-timeline-filter-comments" data-toggle="tooltip" title="Filter: Comments"><i class="fa fa-comment fa-fw"></i></button>
                    <button class="btn btn-default btn-timeline-filter-files" data-toggle="tooltip" title="Filter: Files"><i class="fa fa-file-o fa-fw"></i></button>
                </div>
            </div>
        </div>

        <div class="files-upload-dropzone file-upload-timeline">

            <div class="timeline-line"></div>

            <div class="timeline-add">
                <div class="timeline-entry">
                    <div class="timeline-icon">
                        <img src="/assets/img/s.gif" style="background-image: url('@user.getImage')">
                    </div>
                    <div class="timeline-content">
                        <div class="input-group">
                            <input type="text" placeholder="@Messages("adventure.widgetComments.placeholder")" class="form-control input-sm"/>
                            <span class="input-group-btn"><button class="btn btn-default btn-comment-add btn-sm" type="button"><i class="fa fa-plus"></i></button></span>
                        </div>
                    </div>

                    <div class="timeline-content-left hint">
                        <i class="fa fa-spin icon-journwe"></i>
                        Drop a file here, send a <a href="mailto:@adv.getId()@@journwe.com">mail</a> or
                    </div>
                </div>
            </div>

           <div class="timeline"></div>
       </div>
    </div>
    <div class="tab-pane fade" id="discussion-emails">
       @emails(adv)
    </div>
    <div class="tab-pane fade" id="discussion-files">
        @files(adv)
    </div>
</div>

