@(adv: models.adventure.Adventure)

@import models.authorization.JournweAuthorization


@defining(new JournweAuthorization(adv.getId)){ auth =>

@if(auth.canViewDateAndTime()) {
<div class="clearfix">
    <div id="times-favorite-time" style="font-size: 20px; margin-bottom: 10px;" class="pull-left">
        <i id="times-favorite-time-icon" class="fa fa-spin icon-journwe"></i> @Messages("adventure.time.favourite") <em><span id="times-favorite-time-name">@Messages("adventure.general.nofavourite.placeholder")</span></em>
    </div>

    @if(auth.canChangeVoteOnOffForDateAndTime()) {
    <div class="pull-right">
        <button class="btn @if(adv.getTimeVoteOpen){btn-success} btn-set-close-time"><i class="fa fa-ok"></i> @if(adv.getTimeVoteOpen){Close}else{Reopen}</button>
    </div>

    <div class="pull-right">
          <button class="btn btn-default btn-set-reminder-time date" data-id="@adv.getId" data-date="@adv.getTimeVoteDeadlineFormatted" data-date-format="dd-mm-yyyy"><i class="fa fa-calendar"></i> @if(adv.getTimeVoteDeadlineFormatted){@adv.getTimeVoteDeadlineFormatted}else{ Set Deadline }</button>
    </div>

    <div class="pull-right btn-close-time stash hidden">
        @Messages("adventure.general.voting")
        <div class="switch">
            <input id="times-voting-active-switch" type="checkbox" @if(adv.getTimeVoteOpen){checked="checked"}>
        </div>
    </div>
    }
</div>


<table id="times-list" class="table table-striped table-hover stash">
    <thead>
    <tr>
        <th>@Messages("adventure.general.favourite")</th>
        <th>@Messages("adventure.time.option")</th>
        <th style="min-width: 135px;">@Messages("adventure.general.yourvote")</th>
        <th class="text-center" style="width: 100px;">Group Rating</th>
        <th class="text-center hidden">@Messages("adventure.general.yes")</th>
        <th class="text-center hidden">@Messages("adventure.general.maybe")</th>
        <th class="text-center hidden">@Messages("adventure.general.no")</th>
        <th>@Messages("adventure.general.advvotes")</th>
        <th class="text-center">@Messages("adventure.general.listactions")</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="times-loading"><i class="fa fa-spin icon-journwe"></i> @Messages("adventure.general.loading")</div>
}

@if(auth.canEditDateAndTime()) {
<div id="time-add-form" class="row">

        <div class="input-group col-lg-5" style="width: 43%;">
            <span class="input-group-addon"><i class="fa fa-calendar"></i> @Messages("adventure.time.start")</span>
            <input class="journwe-date form-control" id="time-add-input-start" data-date="2014-03-14" data-date-format="yyyy-mm-dd" type="text" name="startDate" placeholder="@Messages("adventure.time.start.placeholder")" style=""/>
        </div>
        <div class="input-group col-lg-5" style="width: 43%;">
            <span class="input-group-addon"><i class="fa fa-calendar"></i> @Messages("adventure.time.end")</span>
            <input class="journwe-date form-control" id="time-add-input-end" data-date="2014-03-16" data-date-format="yyyy-mm-dd" type="text" name="endDate" placeholder="@Messages("adventure.time.end.placeholder")" style=""/>
        </div>

        <div class="col-lg-2 text-right" style="width: 14%;">
            <button id="time-add-button" class="btn btn-primary" style="width: 100%;"><i class="fa fa-plus"></i></button>
        </div>

</div>
}

    <script type="text/x-tmpl" id="time-template">
        <tr id="timeoption-item-{%=o.timeId%}" data-timeid="{%=o.timeId%}">
            @if(auth.canEditFavoriteDateAndTime()) {
            <td><button class="btn btn-favorite-time btn-default {%=o.favorite?'btn-success':''%}"><i class="fa fa-star"></i></button></td>
            }

            {% if (o.startDate == o.endDate){ %}
                <td>{%=formatDate(o.startDate)%}</td>
            {% } else { %}
                <td>{%=formatDate(o.startDate)%} - {%=formatDate(o.endDate)%}</td>
            {% } %}
            @if(auth.canVoteForDateAndTime()) {
            <td>
                <div class="btn-group hidden">
                    <button id="timeoption-status-{%=o.timeId%}" class="btn btn-default" style="width: 90px" disabled="disabled"><i id="timeoption-status-icon-{%=o.timeId%}"></i> {%=o.vote%}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onclick="voteTime('YES', '{%=o.timeId%}');"><i class="fa fa-thumbs-up"></i> @Messages("adventure.general.yes")</a></li>
                        <li><a onclick="voteTime('MAYBE', '{%=o.timeId%}');"><i class="fa fa-question"></i> @Messages("adventure.general.maybe")</a></li>
                        <li><a onclick="voteTime('NO', '{%=o.timeId%}');"><i class="fa fa-thumbs-down"></i> @Messages("adventure.general.no")</a></li>
                    </ul>
                </div>
                <div class="rating rating-time">
                    <input type="radio" class="star" id="{%=o.timeId%}-star5" name="{%=o.timeId%}-rating" value="5" data-id="{%=o.timeId%}" {% if(o.voteGravity == 1){ %}checked{% } %} /><label for="{%=o.timeId%}-star5" title="Rocks!"><i class="fa fa-star"></i></label>
                    <input type="radio" class="star" id="{%=o.timeId%}-star4" name="{%=o.timeId%}-rating" value="4" data-id="{%=o.timeId%}" {% if(o.voteGravity == 0.8){ %}checked{% } %} /><label for="{%=o.timeId%}-star4" title="Pretty good"><i class="fa fa-star"></i></label>
                    <input type="radio" class="star" id="{%=o.timeId%}-star3" name="{%=o.timeId%}-rating" value="3" data-id="{%=o.timeId%}" {% if(o.voteGravity == 0.6){ %}checked{% } %} /><label for="{%=o.timeId%}-star3" title="Meh"><i class="fa fa-star"></i></label>
                    <input type="radio" class="star" id="{%=o.timeId%}-star2" name="{%=o.timeId%}-rating" value="2" data-id="{%=o.timeId%}" {% if(o.voteGravity == 0.4){ %}checked{% } %} /><label for="{%=o.timeId%}-star2" title="Kinda bad"><i class="fa fa-star"></i></label>
                    <input type="radio" class="star" id="{%=o.timeId%}-star1" name="{%=o.timeId%}-rating" value="1" data-id="{%=o.timeId%}" {% if(o.voteGravity == 0.2){ %}checked{% } %} /><label for="{%=o.timeId%}-star1" title="Sucks big time"><i class="fa fa-star"></i></label>
                </div>
            </td>
            }
            @if(auth.canViewVotesForDateAndTime()) {
            <td class="text-center">{%=(o.voteGroup*5)%}</td>
            <td class="text-center hidden">{%=o.voteCount.YES%}</td>
            <td class="text-center hidden">{%=o.voteCount.MAYBE%}</td>
            <td class="text-center hidden">{%=o.voteCount.NO%}</td>
            <td>{% for (var i in o.voteAdventurers) { for (var j in o.voteAdventurers[i]) { %} <span class="label {%=o.voteTimeLabelCSSClassMap[i]%}" title="{%=o.voteAdventurers[i][j]%}">{%=o.voteAdventurers[i][j].split(/\s/)[0]%}</span> {% }} %}</td>
            }
            @if(auth.canEditDateAndTime()) {
            <td class="text-center"><button class="btn btn-delete-time btn-danger"><i class="fa fa-trash-o"></i></button></td>
            }
        </tr>
    </script>
}
