@(adv: models.adventure.Adventure, user: models.user.User)


    <script type="text/x-tmpl" id="timeline-template-comment">
		<div class="timeline-entry timeline-right">
			<div class="timeline-icon">
				<img src="{%= o.user.image %}">
			</div>
			
			<div class="timeline-content">
				{%= o.comment.text %}
			</div>
			
			<div class="timeline-info"><span class="author">{%= o.user.name %}</span></div>
		</div>
    </script>

    <script type="text/x-tmpl" id="timeline-template-file">
		<div class="timeline-entry timeline-left">
			<div class="timeline-icon timeline-small">
				<img src="{%= o.user.image %}">
			</div>
			
			<div class="timeline-content">
				<a href="{%= o.file.url %}" target="_blank">{%= o.file.fileName %}</a>
			</div>
			
			<div class="timeline-info"><span class="author">{%= o.user.name %}</span></div>
		</div>
    </script>


    <script type="text/x-tmpl" id="timeline-template-email">
		<div class="timeline-entry timeline-left">
			<div class="timeline-icon timeline-i timeline-small">
				<i class="fa fa-envelope-o"></i>
			</div>
			
			<div class="timeline-content">
				{%= o.email.body %}
			</div>
			
			<div class="timeline-info"><span class="subject">{%= o.email.subject %}</span> <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span> <span class="author">{%= o.email.sender %}</span></div>
		</div>
    </script>


    <div class="files-upload-dropzone file-upload-timeline">
    	<div class="timeline-line"></div>

	    <div class="timeline-add">
	    	<div class="timeline-entry">
				<div class="timeline-icon">
					<img src="@user.getImage">
				</div>
				<div class="timeline-content">
					<div class="input-group">
	                    <input type="text" placeholder="@Messages("adventure.widgetComments.placeholder")" class="form-control input-sm"/>
	                    <span class="input-group-btn"><button class="btn btn-default btn-comment-add btn-sm" type="button"><i class="fa fa-plus"></i></button></span>
	                </div>
				</div>

				<div class="timeline-content-left hint">
					<i class="fa fa-spin icon-journwe"></i> 
					Drop a file here or
				</div>
			</div>
	    </div>

	    <div class="timeline">

	    </div>
    </div>