@(adv: models.adventure.Adventure, advr: models.adventure.Adventurer)

@import models.adventure.EAdventurerParticipation
@import models.dao.AdventurerDAO
@import models.dao.UserDAO


@cssForStatus(status:EAdventurerParticipation) = {
@status match {
case EAdventurerParticipation.NOTGOING => {error}
case EAdventurerParticipation.UNDECIDED => {warning}
case EAdventurerParticipation.GOING => {info}
case EAdventurerParticipation.BOOKED => {success}
case EAdventurerParticipation.APPLICANT => {}
}
}


@defining((advr.getParticipationStatus())) { (status) =>

<h3>What kind of adventurer are you?</h3>
@if(status != null && !EAdventurerParticipation.APPLICANT.equals(status)){
<div>
    <strong>You are...</strong>

    <div class="btn-group">
        <a class="btn btn-danger @if(status == EAdventurerParticipation.NOTGOING){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.NOTGOING.name())"><i class="icon-frown"></i> Not
            In</a>
        <a class="btn btn-warning @if(status == EAdventurerParticipation.UNDECIDED){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.UNDECIDED.name())"><i class="icon-question"></i> Undecided</a>
        <a class="btn btn-primary @if(status == EAdventurerParticipation.GOING){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.GOING.name())"><i class="icon-smile"></i> So In</a>
        <a class="btn btn-success @if(status == EAdventurerParticipation.BOOKED){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.BOOKED.name())"><i class="icon-ok"></i> Booked</a>
    </div>
</div>
} else {
@if(EAdventurerParticipation.APPLICANT.equals(status)) {
<div>
    <strong>You are an Applicant.</strong>
</div>
} else {
<div>
    <a class="btn btn-primary" href="@routes.AdventureController.participate(adv.getId())">Participate</a>
</div>
}
}

<h3>Who's in the group of Adventurers?</h3>
<table class="table table-striped table-hover">

    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @{new
    AdventurerDAO().all(adv.getId()).filter(!_.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT)).map{
    advr =>
    <tr class={cssForStatus(advr.getParticipationStatus()).toString}>
        <td>{new UserDAO().get(advr.getUserId()).getName()}</td>
        <td>{advr.getParticipationStatus()}</td>
    </tr>
    }}
    </tbody>
</table>
@defining(new AdventurerDAO().all(adv.getId())) { applicants =>
@if(applicants != null && applicants.size() >= 0) {
<h3>Some guys want to join!</h3>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Adopt</th>
    </tr>
    </thead>
    <tbody>
    @{applicants.filter(_.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT)).map{
    appl =>
    <tr class={cssForStatus(appl.getParticipationStatus()).toString}>
        <td>{new UserDAO().get(appl.getUserId()).getName()}</td>
        <td>{appl.getParticipationStatus()}</td>
        <td>{if(!status.equals(EAdventurerParticipation.APPLICANT)){<a class="btn btn-primary"
                                                                       href="@{routes.AdventureController.adopt(adv.getId(), appl.getUserId())}">Adopt</a>
            }}
        </td>
    </tr>
    }}
    </tbody>
</table>
}
}
}