@(adv: models.adventure.Adventure, advr: models.adventure.Adventurer)

@import models.authorization.JournweAuthorization
@import models.adventure.EAdventurerParticipation
@import models.dao.AdventurerDAO
@import models.dao.UserDAO


@cssForStatus(status:EAdventurerParticipation) = {
@status match {
case EAdventurerParticipation.NOTGOING => {label-error}
case EAdventurerParticipation.UNDECIDED => {label-warning}
case EAdventurerParticipation.GOING => {label-info}
case EAdventurerParticipation.BOOKED => {label-success}
case EAdventurerParticipation.APPLICANT => {}
}
}


@defining((advr.getParticipationStatus())) { (status) =>

@if(JournweAuthorization.canEditAdventurerParticipationStatus(adv.getId)) {
@if(status != null && !EAdventurerParticipation.APPLICANT.equals(status)){
<div>
    <strong style="vertical-align:middle;">@Messages("adventure.adventurers.myStat")</strong>

    <div class="btn-group btn-select-adventurer">
        <button class="btn btn-danger @if(status == EAdventurerParticipation.NOTGOING){active}"
           href="@routes.AdventurePeopleController.participateStatus(adv.getId(), EAdventurerParticipation.NOTGOING.name())"><i class="icon-frown"></i> @Messages("adventure.adventurers.status.notIn")</button>
        <button class="btn btn-warning @if(status == EAdventurerParticipation.UNDECIDED){active}"
           href="@routes.AdventurePeopleController.participateStatus(adv.getId(), EAdventurerParticipation.UNDECIDED.name())"><i class="icon-question"></i> @Messages("adventure.adventurers.status.undecided")</button>
        <button class="btn btn-info @if(status == EAdventurerParticipation.GOING){active}"
           href="@routes.AdventurePeopleController.participateStatus(adv.getId(), EAdventurerParticipation.GOING.name())"><i class="icon-smile"></i> @Messages("adventure.adventurers.status.soIn")</button>
        <button class="btn btn-success @if(status == EAdventurerParticipation.BOOKED){active}"
           href="@routes.AdventurePeopleController.participateStatus(adv.getId(), EAdventurerParticipation.BOOKED.name())"><i class="icon-ok"></i> @Messages("adventure.adventurers.status.booked")</button>
    </div>
</div>
} else {
@if(EAdventurerParticipation.APPLICANT.equals(status)) {
<div>
    <strong>@Messages("adventure.adventurers.applicant")</strong>
</div>
} else {
<div>
    <a class="btn btn-primary" href="@routes.AdventurePeopleController.participate(adv.getId())">@Messages("adventure.adventurers.button.participate")</a>
</div>
}
}
}

<div class="spacer20"></div>

<div style="overflow: hidden;">
    @defining(new AdventurerDAO()){ advrDAO =>
    @advrDAO.all(adv.getId()).filter(!_.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT)).map{ advr =>
        @defining(new UserDAO().get(advr.getUserId())) { user =>
    <div id="adventurer-state-@user.getId" class="polaroid" style="position: relative; float: left; margin-right: 20px; margin-bottom: 20px;">
        <a href="@routes.UserController.getProfile(user.getId)">
            <img style="margin: 0px;" title="@user.getName" @if(user.getImage() == null) {src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image"} else {src="http://i.embed.ly/1/image/crop?width=100&height=100&url=@user.getImage()&key=2c8ef5b200c6468f9f863bc75c46009f"}>
        </a>
        <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
            <div style="line-height: 10px;"><a href="@routes.UserController.getProfile(user.getId)">@user.getName().replaceAll(" [^ ]*$", "")</a></div>
            <div class="overlay text-center">
                <span class="label @cssForStatus(advr.getParticipationStatus())" title="Status" style="display: inline-block; width: 100%;">@advr.getParticipationStatus()</span>
            </div>
        </div>
    </div>
        }}}
</div>

<div style="overflow: hidden;">
@defining(new AdventurerDAO()){ advrDAO =>
    @advrDAO.all(adv.getId()).filter(_.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT)).map{ advr =>
        @defining(new UserDAO().get(advr.getUserId())) { user =>
            <div id="adventurer-state-@user.getId" class="polaroid" style="position: relative; float: left; margin-right: 20px; margin-bottom: 20px;">
                <a href="@routes.UserController.getProfile(user.getId)">
                    <img style="margin: 0px;" title="@user.getName" @if(user.getImage() == null) {src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image"} else {src="http://i.embed.ly/1/image/crop?width=100&height=100&url=@user.getImage()&key=2c8ef5b200c6468f9f863bc75c46009f"}>
                </a>
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
                    <div style="line-height: 10px;"><a href="@routes.UserController.getProfile(user.getId)">@user.getName().replaceAll(" [^ ]*$", "")</a></div>
                    <div class="overlay text-center">
                        <span class="label @cssForStatus(advr.getParticipationStatus())" title="Status" style="display: inline-block; width: 100%;">@advr.getParticipationStatus()</span>
                        @if(!status.equals(EAdventurerParticipation.APPLICANT) && JournweAuthorization.canAcceptAdventurerApplicants(adv.getId)){
                        <button class="btn btn-primary btn-small btn-adopt" href="@routes.AdventurePeopleController.adopt(adv.getId(),advr.getUserId())">Adopt</button>
                        }
                    </div>
                </div>
            </div>
        }
    }
}
</div>

@if(JournweAuthorization.canInviteAdventurerParticipants(adv.getId)) {
<div class="row">
    <div class="input-group col-6">
        <div class="input-group-btn">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                <i id="people-add-type" class="icon-facebook"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a onclick="$('#people-add-type').attr('class', 'icon-facebook'); $('#people-add-input').attr('type', 'text'); $('#people-add-input').focus();"><i class="icon-facebook"></i>
                    Facebook</a></li>
                <li><a onclick="$('#people-add-type').attr('class', 'icon-envelope'); $('#people-add-input').attr('type', 'email'); $('#people-add-input').focus();"><i class="icon-envelope"></i>
                    Email</a></li>
            </ul>
        </div>
        <input id="people-add-input" type="text" placeholder="A good ol' friend" onkeypress="if (event.which == 13 || event.keyCode === 13) {addFriend(); event.preventDefault(); return false;} else return true;" autocomplete="off" class="form-control">
        <div class="input-group-btn">
            <button class="btn btn-primary btn-add" onclick="addFriend();"><i class="icon-plus"></i></button>
        </div>
    </div>
</div>
}

<script type="text/javascript">

    var facebookUsers = {};
    var facebookUserNames = [];

    function addFriend() {
        $.post('@routes.AdventurePeopleController.invite(adv.getId)', ($('#people-add-input').attr('type') == 'text') ? {type: 'facebook', value: facebookUsers[$('#people-add-input').val()]} : {type: 'email', value: $('#people-add-input').val()}, function () {
            $('#people-add-input').val('');
        });
    }

    $('document').ready(function () {
        $('#people-add-input').typeahead({
        source: function (input, process) {
        if($('#people-add-input').attr('type') == 'text') {
        $.get('@routes.AdventurePeopleController.autocompleteFacebook', {input: input}, function (data) {
        facebookUsers = {};
        facebookUserNames = [];
        $.each(data, function( ix, item ){
        if ( $.inArray(item.name, facebookUserNames) > -1 ){
        item.name = item.name + ' #' + item.id;
        }

        facebookUserNames.push( item.name );
        facebookUsers[item.name] = item.id;
        });

        process(facebookUserNames);

        });
        }
        }
        });
    });


    $(function(){

        var conf = {
            '@EAdventurerParticipation.NOTGOING' : 'error',
            '@EAdventurerParticipation.UNDECIDED' : 'warning',
            '@EAdventurerParticipation.GOING' : 'info',
            '@EAdventurerParticipation.BOOKED' : 'success'
        };

        $('.btn-select-adventurer button').click(function(){
            var el = $(this),
                html = el.html();
            
            el.css({width:el.width()+"px"})
                .html('<i class="icon-spin icon-spinner"></i>');

            $.post(el.attr('href'), function(json){
                var state = json.participationStatus;

                el.css({width:""})
                    .html(html);

                el.parent().find('.active').removeClass('active');
                el.addClass('active');

                $('#adventurer-state-'+json.userId)
                    .find('.label').removeClass().addClass('label label-' + conf[state])
                    .html(state);
            });
            return false;
        });


        $('.btn-adopt').click(function(){
            var el = $(this),
                html = el.html();
            
            el.css({width:el.width()+"px"})
                .html('<i class="icon-spin icon-spinner"></i>');

            $.post(el.attr('href'), function(json){
                var state = json.participationStatus;

                /*el.css({width:""})
                    .html(html);*/

                window.location.reload();

            });
            return false;
        });

    });
</script>

}
