@(adv: models.adventure.Adventure, cloneAdvForm: DynamicForm)

    @import helper._
    @import fieldConstructor._

    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

    <div id="cloneAdventure" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title"><i class="fa fa-copy"></i> <strong>@Messages("adventure.general.cloneby")
                        "@adv.getName()".</strong></h3>
                </div>
                @form(html.routes.CloneController.cloneAndSaveAdventure(adv.getId()), args = 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

                    <div class="modal-body">
                        <fieldset>
                            <p class="lead">Clone these parts of the original Adventure:</p>
                            @inputText(cloneAdvForm("name"), '_label -> "New JournWe name", 'required -> "required")
                            @checkbox(cloneAdvForm("cloneAdventurers"), '_label -> "Clone Adventurers?")
                            @checkbox(cloneAdvForm("clonePlaceOptions"), '_label -> "Clone Place Options?")
                            @checkbox(cloneAdvForm("cloneTimeOptions"), '_label -> "Clone Time Options?")
                            @checkbox(cloneAdvForm("cloneTodo"), '_label -> "Clone Todo List?")
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-copy"></i> Clone the Adventure!</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>