@(adv: models.adventure.Adventure, cloneAdvForm: DynamicForm)

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(routes.CloneController.cloneAndSaveAdventure(adv.getId()), args = 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
    <fieldset>
        @inputText(cloneAdvForm("name"), '_label -> "Adventure name", 'required -> "required")
        <p>Clone these parts of the original Adventure:</p>
        <br />
        @checkbox(cloneAdvForm("cloneAdventurers"), '_label -> "Clone Adventurers?", '_wrapperclass -> "switch")
        @checkbox(cloneAdvForm("clonePlaceOptions"), '_label -> "Clone Place Options?", '_wrapperclass -> "switch pull-left")
        @checkbox(cloneAdvForm("cloneTimeOptions"), '_label -> "Clone Time Options?", '_wrapperclass -> "switch pull-left")
        @checkbox(cloneAdvForm("cloneTodo"), '_label -> "Clone Todo List?", '_wrapperclass -> "switch pull-left")

    </fieldset>
    <div class="form-actions">
        <input type="submit" value="Clone the Adventure!" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link">Cancel</a>
    </div>
}