@(adv: models.adventure.Adventure, ins: Inspiration, shortURL: String, shortname: String)

@import helper._

@main(adv.getName()){@adv.getName()
<small>@ins.getName()</small>} {
<h2>We created the new Adventure "@adv.getName()" for you!</h2>

<p>Start motivating friends to join your Adventure</p>
<p>(Facebook, Email, if(public): Twitter)</p>

<div>
    <a class="btn"
       onclick="$('#emailForm').slideDown()"><!---->
        <i class="icon-envelope"></i> @Messages("adventure.created.button.emailInvite")
    </a>
    <a class="btn"
       onclick="$('#facebookForm').slideDown()"><!---->
        <i class="icon-facebook"></i> @Messages("adventure.general.button.facebookPost")
    </a>
    @if(adv.isPublish()){
    <a class="btn"
       href="https://twitter.com/intent/tweet?original_referer=@routes.ApplicationController.index().absoluteURL(request())&related=JournWe&text=Join+my+adventure+@adv.getName()+on+Journwe.com+@shortURL&tw_p=tweetbutton&url=@shortURL"
       target="_blank">
        <i class="icon-twitter"></i> @Messages("adventure.options.twitter")
    </a>
    }
</div>

<div id="facebookForm" class="hide">
    <form id="publishFacebookPostForm">
        <fieldset>
            <textarea id="posttext" name="posttext">@Messages("adventure.created.facebookMessage")</textarea>
        </fieldset>
        <div class="form-actions">
            <a class="btn btn-primary" onclick="$.post('@routes.AdventurePeopleController.postOnMyFacebookWall(adv.getId())', $('#publishFacebookPostForm').serialize(), function (data) {alert('Posted!');});">@Messages("adventure.general.button.facebookPost")</a>
        </div>
    </form>
</div>

<div id="emailForm" class="hide">
    <form id="publishEmailForm">
        <fieldset>
            <input type="email" name="email" placeholder="friend@@example.com">
            <textarea id="emailtext" name="emailtext">@Messages("adventure.created.emailMessage") @shortURL</textarea>
        </fieldset>
        <div class="form-actions">
            <a class="btn btn-primary" onclick="$.post('@routes.AdventurePeopleController.inviteViaEmail(adv.getId())', $('#publishEmailForm').serialize(), function (data) {alert('Email sent!');});">@Messages("adventure.created.button.emailSend")</a>
        </div>
    </form>
</div>

<p>@Messages("adventure.created.url")</p>
<p><a class="btn btn-link" href="@routes.AdventureController.getIndexShortname(shortname)">@routes.AdventureController.getIndexShortname(shortname).absoluteURL(request())</a>
</p>


<p>@Messages("adventure.created.urlShort")</p>
<p><a class="btn btn-link" href="@shortURL">@shortURL</a></p>

<p><a class="btn btn-link" href="@routes.AdventureController.getIndexShortname(shortname)">@Messages("adventure.created.manageAdv")</a></p>

}
