@(advForm: Form[Adventure])(inspirations: Map[String, String])

@import helper._
@import helper.twitterBootstrap._

@main("Start a new Group Adventure") {
    @form(routes.AdventureController.save()) {
    	<fieldset>
       		@inputText(advForm("name"), '_label -> "Adventure name")
    		@select(
    			advForm("inspirationId"), 
    			options(inspirations), 
    			'_default -> "--- Choose an Inspiration ---",
    			'_label -> "Inspiration",
    			'_error -> advForm("inspirationId").error.map(_.withMessage("Please select an Inspiration to type your Adventure!"))
    		)
    	</fieldset>
    	<div class="actions">
    	  <input type="submit" value="Create Group Adventure!" class="btn btn-primary"> | <a href="@routes.Application.index()" class="btn btn-link">Cancel</a>
    	</div>
    }
    
}
