@(advForm: Form[Adventure])(inspirations: Map[String, String])

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Start a new Group Adventure"){Start a new Group Adventure @if(advForm("inspirationId").value){<small>from "@inspirations.get(advForm("inspirationId").value)"</small>}} {
    @form(routes.AdventureController.save(), args = 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
    	<fieldset>
       		@inputText(advForm("name"), '_label -> "Adventure name")
            @helper.input(advForm("shortname"), '_label -> "Shortname", 'required -> "required") { (id, name, value, args) =>
            <div class="input-append">
                <input type="text" name="@name" id="@id" @toHtmlArgs(args)>
                <span class="add-on">@@journwe.com</span>
            </div>
            <div id="shortname-available">shortname available?</div>
            }
    		@select(
    			advForm("inspirationId"), 
    			options(inspirations), 
    			'_default -> "--- Choose an Inspiration ---",
    			'_label -> "Inspiration",
    			'_error -> advForm("inspirationId").error.map(_.withMessage("Please select an Inspiration to type your Adventure!"))
    		)
            @inputFile(advForm("image"), '_label -> "Image")(FieldConstructor(twitterBootstrapInputImgUpload.render), Lang.apply("en-US"))
            @checkbox(advForm("publish"), '_label -> "Public?", '_wrapperclass -> "switch")
    		@checkbox(advForm("limited"), '_label -> "Limited?", '_wrapperclass -> "switch pull-left")
    		@inputText(advForm("limit"), '_label -> "Max. # of Adventurers", 'type -> "number")
    		
    	</fieldset>
    	<div class="form-actions">
    	  <input type="submit" value="Create Group Adventure!" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link">Cancel</a>
    	</div>
    }

        <script>
            $('#shortname').change(
            function () {
                $.get('@routes.AdventureController.checkShortname("")' + $('#shortname').val(),
                    function(exists) {
                        $('#shortname-available').html(exists ? '<span class="text-error"><i class="icon-warning-sign"></i> not available!</span>' : '<span class="text-success"><i class="icon-ok"></i> available.</span>' );
                    });
            }
            );
        </script>
}
