@(advForm: Form[Adventure])(inspirations: Map[String, String])

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Start a new Group Adventure"){Start a new Group Adventure @if(advForm("inspirationId").value){<small>from "@inspirations.get(advForm("inspirationId").value)"</small>}} {
    @form(routes.AdventureController.save(), args = 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
    	<fieldset>
       		@inputText(advForm("name"), '_label -> "Adventure name")
            @inputText(advForm("shortname"), '_label -> "Shortname")
    		@select(
    			advForm("inspirationId"), 
    			options(inspirations), 
    			'_default -> "--- Choose an Inspiration ---",
    			'_label -> "Inspiration",
    			'_error -> advForm("inspirationId").error.map(_.withMessage("Please select an Inspiration to type your Adventure!"))
    		)
            @inputFile(advForm("image"), '_label -> "Image")(FieldConstructor(twitterBootstrapInputImgUpload.render), Lang.apply("en-US"))
            @checkbox(advForm("publish"), '_label -> "Public?", '_wrapperclass -> "switch")
    		@checkbox(advForm("limited"), '_label -> "Limited?", '_wrapperclass -> "switch pull-left")
    		@inputText(advForm("limit"), '_label -> "Max. # of Adventurers", 'type -> "number")
    		
    	</fieldset>
    	<div class="form-actions">
    	  <input type="submit" value="Create Group Adventure!" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link">Cancel</a>
    	</div>
    }
    
}
