@(adv: models.adventure.Adventure)

@import models.authorization.JournweAuthorization
@import models.adventure.file.JournweFile

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

    <script type="text/x-tmpl" id="emails-template">
        <tr>
            <td><span class="label label-info" title="{%=o.sender%}">{%=o.sender%}</span></td>
            <td>{%=o.subject%}</td>
            <td>{%=o.timestamp%}</td>
        </tr>
    </script>

    <table id="emails-list" class="table table-striped table-hover table-condensed stash">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>