@(adv: models.adventure.Adventure, fileForm: Form[models.adventure.file.JournweFile])

@import models.authorization.JournweAuthorization
@import models.adventure.file.JournweFile

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@if(JournweAuthorization.canViewAndDownloadFiles(adv.getId)) {
    <script type="text/x-tmpl" id="files-template">
        <tr>
            <td><a class="btn btn-link" href="{%=o.url%}" target="_blank"><i class="icon-file"></i> {%=o.fileName%}</a></td>
            <td><span class="label label-info" title="{%=o.user.name%}">{%=String(o.user.name).split(/\s/)[0]%}</span></td>
            <td class="text-center"><button class="btn btn-primary" href="{%=o.url%}" target="_blank"><i class="icon-cloud-download"></i></button> <button class="btn btn-danger" onclick="deleteFile('{%=o.fileName%}', this);"><i class="icon-trash"></i></button></td>
        </tr>
    </script>


    <div class="row">
        <div class="pull-left files-loading"><i class="icon-spin icon-spinner"></i> @Messages("adventure.general.loading")</div>
        <div class="pull-right"><button class="btn btn-success" onclick="loadFiles();"><i class="icon-refresh"></i></button></div>
    </div>

    <table id="files-list" class="table table-striped table-hover table-condensed stash">
        <thead>
            <tr>
                <th>@Messages("adventure.files.fileName")</th>
                <th>@Messages("adventure.files.uploadedBy")</th>
                <!--<th>@Messages("adventure.files.downloadBy")</th>-->
                <th class="text-center">@Messages("adventure.general.listactions")</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

}

@if(JournweAuthorization.canUploadFiles(adv.getId)) {
    <div id="files-upload-dropzone" ondragleave="$('#files-upload-dropzone').removeClass('hover'); return false;" ondragenter="$('#files-upload-dropzone').addClass('hover'); return false;">
        <div class="text-center">
            <p class="lead">@Messages("adventure.files.fileDrop")
                <input id="files-file-input" type="file" class="hide"/><button class="btn btn-upload" onclick="$('#files-file-input').click();"><i class="icon-cloud-upload"></i> @Messages("adventure.files.fileUpload")</button>
            </p>
        </div>
    </div>
}


<script type="text/javascript">
    jQuery.event.props.push('dataTransfer');

    $(document).ready(function (){
        loadFiles();

        $('#files-upload-dropzone').on('drop', function (event) {
            event.stopPropagation();
            event.preventDefault();

            uploadFiles(event.target.files || event.dataTransfer.files);

            $('#files-upload-dropzone').removeClass('hover');
            return false;
        });

        $('#files-file-input').change(function () {
            var inputFile = $('#files-file-input'),
                files = inputFile[0].files;
            if(files) {
                uploadFiles(files);
                inputFile.val('');
            }
        });
    });


    function uploadFiles(files) {
        var btn = $('#files-upload-dropzone .btn-upload'),
        btnOriginal = btn.html();
        btn.css({width:btn.css('width')})
            .html('<i class="icon-spin icon-spinner"></i>');

        for(var i = 0; i < files.length; i++) {
            var data = new FormData();
            data.append('uploadFile', files[i]);
            data.append('fileName', files[i].name);

            $.ajax({
                url: '@routes.AdventureFileController.uploadFile(adv.getId())',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success:  function (result) {
                    btn.css({width:""})
                        .html(btnOriginal);
                    loadFiles();
                }
            });
        }
    }

    function loadFiles() {
        $('.files-loading').show();

        $.get('@routes.AdventureFileController.listFiles(adv.getId)', function (files) {
            $('#files-list tbody').empty();

            for (var fileName in files) {
                renderFile(files[fileName])
            }
            if (files.length){
                $('#files-list').show();
            } else {
                $('#files-list').hide();
            }

            $('.files-loading').hide();
        });
    }


    function renderFile(data, replace) {
        if(replace)
            replace.replaceWith(tmpl('files-template', data)).fadeIn();
        else
            $('#files-list tbody').append(tmpl('files-template', data));

    }

    function deleteFile(fileName, el) {
        
        $(el).html('<i class="icon-spin icon-spinner"></i>');

        $.ajax({
            url: '@routes.AdventureFileController.deleteFile(adv.getId(), "")' + fileName, 
            type: 'DELETE', 
            success: function () {
                var tr = $(el).parents('tr');
                tr.fadeOut(function (){tr.remove();});
            }
        });
    }

</script>