@(adv: models.adventure.Adventure, fileForm: Form[models.adventure.file.JournweFile])

@import models.authorization.JournweAuthorization
@import models.adventure.file.JournweFile

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@if(JournweAuthorization.canUploadFiles(adv.getId)) {
<script type="text/x-tmpl" id="files-template">
    <tr>
        <td>{%=o.fileName%}</td>
        <td>{%=o.user.name%}</td>
        <td><a href="{%=o.url%}" target="_blank">{%=o.url%}</a></td>
        <td><a onclick="deleteFile('{%=o.fileName%}', this);" class="btn btn-danger"><i class="icon-trash"></i></a></td>
    </tr>
</script>
}

<div class="times-loading"><i class="icon-spin icon-spinner"></i> @Messages("adventure.general.loading")</div>

    @if(JournweAuthorization.canViewAndDownloadFiles(adv.getId)) {
    <table id="files-list" class="table table-striped table-hover hide">
        <thead>
            <tr>
                <th>@Messages("adventure.files.fileName")</th>
                <th>@Messages("adventure.files.uploadedBy")</th>
                <th>
@Messages("adventure.files.downloadBy")</th>
                <th>@Messages("adventure.general.listactions")</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    }

@*
@form(routes.AdventureFileController.uploadFile(adv.getId()), args = 'class -> "form-horizontal form-file",  'enctype -> "multipart/form-data") {
    <fieldset>
        @inputText(fileForm("fileName"), '_label -> "File name", 'required -> "required")
        @inputText(fileForm("fileDescription"), '_label -> "Description")
        @inputFile(fileForm("uploadFile"), '_label -> "File")(FieldConstructor(twitterBootstrapInputFileUpload.render), Lang.apply("en-US"))
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary">@Messages("adventure.files.fileUpload")</button> | <a href="#" class="btn btn-link">@Messages("adventure.general.button.reset")</a>
    </div>
}
*@

@if(JournweAuthorization.canViewAndDownloadFiles(adv.getId)) {
    <div id="files-upload-dropzone" style="" ondragleave="$('#files-upload-dropzone').removeClass('hover'); return false;" ondragenter="$('#files-upload-dropzone').addClass('hover'); return false;">
        <div class="text-center"><p class="lead">@Messages("adventure.files.fileDrop")
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">@Messages("adventure.files.fileSelect")</span><span class="fileupload-exists">@Messages("adventure.files.fileChange")</span><input type="file" name="uploadFile" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">@Messages("adventure.files.fileRemove")</a>
                    <button class="btn btn-upload"><i class="icon-cloud-upload"></i> @Messages("adventure.files.fileUpload")</button>
                </div>
            </div>
            </p>
        </div>
    </div>
}

<script type="text/javascript">
    jQuery.event.props.push('dataTransfer');

    $('#files-upload-dropzone .fileupload').fileupload();

    $('#files-upload-dropzone').on('drop', function (event) {
        event.stopPropagation();
        event.preventDefault();

        uploadFile(event.target.files || event.dataTransfer.files);

        $('#files-upload-dropzone').removeClass('hover');
        return false;
    }).find('.btn-upload').click(function () {
        uploadFile($('#files-upload-dropzone input:file')[0].files);
    });

    function uploadFile(files) {
        var data = new FormData(),
            btn = $('#files-upload-dropzone .btn-upload');
        data.append('uploadFile', files[0]);
        data.append('fileName', files[0].name);
        btn.css({width:btn.css('width')})
            .html('<i class="icon-spin icon-spinner"></i>');
        $.ajax({
            url: '@routes.AdventureFileController.uploadFile(adv.getId())',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success:  function (data) {
                btn.css({width:""})
                    .html('<i class="icon-cloud-upload"></i> Upload file');
                $('#files-upload-dropzone .fileupload').fileupload('reset');
            }
        });
    }

    $(function(){

        $('form.form-file').on('submit', function(){

            var data = new FormData(),
                form = $(this),
                btn = form.find('button');
            
            form.find('input').each(function(){
                if (this.name){
                    data.append(this.name, this.files ? this.files[0] : this.value);
                }
            });

            btn.css({width:btn.css('width')})
                .html('<i class="icon-spin icon-spinner"></i>');

            $.ajax({
                url: '@routes.AdventureFileController.uploadFile(adv.getId())',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success:  function (data) {
                    btn.css({width:""})
                        .html('Upload file');
                    form[0].reset();
                }
            });

            return false;
        }).find('button').click(function(){
            $(this).parents('form').submit();
            return false;
        });

        $('form.form-file a').click(function(){
            $(this).parents('form')[0].reset();
            return false;
        });

        $.get('@routes.AdventureFileController.listFiles(adv.getId)', function (files) {
            $('#files-list tbody').empty();

            for (var fileName in files) {
                renderFile(files[fileName])
            }
            if (files.length){
                $('#files-list').show();
            } else {
                $('#files-list').hide();
            }

            $('.files-loading').hide();
        });


    });



    function renderFile(data, replace) {
        if(replace)
            replace.replaceWith(tmpl('files-template', data)).fadeIn();
        else
            $('#files-list tbody').append(tmpl('files-template', data));

    }

    function deleteFile(fileName, el) {
        
        $(el).html('<i class="icon-spin icon-spinner"></i>');

        $.ajax({
            url: '@routes.AdventureFileController.deleteFile(adv.getId(), "")' + fileName, 
            type: 'DELETE', 
            success: function () {
                var tr = $(el).parents('tr');
                tr.fadeOut(function (){tr.remove();});
            }
        });
    }

</script>