@(adv: models.adventure.Adventure, ins: models.inspiration.Inspiration, advr: models.adventure.Adventurer, active: String, timeForm: Form[models.adventure.time.TimeOption], fileForm: Form[models.adventure.file.JournweFile])(description: Html)
@import models.inspiration.Inspiration
@import models.adventure.EAdventurerParticipation
@import models.authorization.JournweAuthorization

@import models.dao.AdventurerDAO
@import models.dao.UserDAO
@import com.feth.play.module.pa.PlayAuthenticate
@import play.mvc.Http

@main(adv.getName()){ }{

<div id="adventure-container">
    @if(new AdventurerDAO().get(adv.getId(), new
    UserDAO().findByAuthUserIdentity(PlayAuthenticate.getUser(Http.Context.current())).getId()) != null){
    <!-- Only required for left/right tabs -->
    <div class="nav-adventure visible-lg" style=""> <!---->
        <ul id="nav-adventure-list" class="nav nav-pills nav-stacked">
            <li  id="nav-adventure-index"
            @if(active == "index"){class="active"}><a href="#index" onclick="return jumpToSection('index');"><i
                class="icon-info" title="Overview"></i></a></li>
            <li id="nav-adventure-discussion"
            @if(active == "discussion"){class="active"}><a href="#discussion" onclick="return jumpToSection('discussion');"><i class="icon-comments" title="Discussion"></i></a></li>
            <li id="nav-adventure-places"
            @if(active == "places"){class="active"}><a href="#places" onclick="return jumpToSection('places');"><i class="icon-globe" title="Place"></i></a></li>
            <li id="nav-adventure-adventurers"
            @if(active == "adventurers"){class="active"}><a href="#adventurers" onclick="return jumpToSection('adventurers');"><i class="icon-group" title="Adventurers"></i></a></li>
            <li  id="nav-adventure-time"
            @if(active == "times"){class="active"}><a href="#times" onclick="return jumpToSection('times');"><i
                class="icon-calendar" title="Date &amp; Time"></i></a></li>

            @*<li id="nav-adventure-messages"
            @if(active == "messages"){class="active"}><a href="#messages" onclick="return jumpToSection('messages');"><i class="icon-envelope" title="Messages"></i></a></li>*@
            <li   id="nav-adventure-todos"
            @if(active == "todos"){class="active"}><a href="#todos" onclick="return jumpToSection('todos');"><i
                class="icon-list-ol" title="Todos"></i></a></li>
            <li   id="nav-adventure-files"
            @if(active == "files"){class="active"}><a href="#files" onclick="return jumpToSection('files');"><i class="icon-file" title="Files"></i></a></li>
            <li   id="nav-adventure-offers"
            @if(active == "offers"){class="active"}><a href="#offers" onclick="return jumpToSection('offers');"><i class="icon-suitcase" title="Offers"></i></a></li>
        </ul>
    </div>
    }

    <div class="prime-image">
        <div style="width: 100%;">
            <img id="adventure-prime-image" style="width: 100%; height: 200px;" @if(adv.getImage == null || !JournweAuthorization.canViewAdventureImage(adv.getId)){src="http://www.placehold.it/1200x200/AAAAAA/EFEFEF&text=Drop+image"}else{src="http://i.embed.ly/1/image/crop?height=200&width=1200&url=@adv.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"}/>
            <i id="adventure-prime-image-loading" class="icon-spin icon-journwe stash"></i>
        </div>

        @if(JournweAuthorization.canViewAdventureTitle(adv.getId)) {
        <div class="title-name">
            <a href="#" id="adventureName" data-type="text" data-pk="@adv.getId()"
            data-url="@routes.AdventureController.saveEditable()"
            data-original-title="Enter adventure name" data-inputclass="input-lg">@adv.getName()</a> <i class="icon-pencil muted"></i> <span></span>
            @if(ins != null) {<small>- <a href="@routes.InspirationController.get(ins.getId)">@ins.getName()</a></small>}
        </div>
        }
        <div class="toolbar">
            <a class="btn btn-primary pull-right" onclick="$('#cloneAdventure').modal();"><i class="icon-copy"></i> @Messages("adventure.general.button.clone")</a>
            @if(EAdventurerParticipation.INVITEE.equals(advr.getParticipationStatus)) {
                <a class="btn btn-participate btn-success pull-right" href="@routes.AdventurePeopleController.participate(adv.getId())"><i class="icon-plus"></i> @Messages("adventure.general.button.join")</a>
                <script>
                    $(function(){
                        $('.btn-participate').click(function(){
                            var el = $(this),
                            html = el.html();

                            el.css({width:el.width()+"px"})
                                    .html('<i class="icon-spin icon-journwe"></i>');

                            return true;
                        })
                    });
                </script>
            } else {
                <a class="btn btn-danger pull-right" onclick="$('#leave').modal();"><i class="icon-unlink"></i> @Messages("adventure.general.button.leave")</a>
            }
        </div>
    </div>

    @comment.commentsCommon()


    <div class="jrn-container">
        <h2 id="index"><i class="icon-info icon-for-adventure-title"></i> @Messages("adventure.getScala.adventure.title")</h2>
        <div class="row">
            <div class="col-lg-12">
                @index(adv, ins)
            </div>

            @if(JournweAuthorization.canViewAdventureComments(adv.getId)) {
                @{views.html.comment.widget_comment.render(adv, "index")}
            }
        </div>
        <div class="row jrn-footer">
            <div class="col-lg-12">@options(adv)</div>
        </div>
    </div>

    <hr/>

    @if(JournweAuthorization.canViewAdventureDiscussionWidget(adv.getId)) {
    <div class="jrn-container">

        <h2 id="discussion"><i class="icon-comments icon-for-adventure-title"></i> @Messages("adventure.getScala.discussion.title")</h2>
        <div class="row">
            <div class="col-lg-12">

                @views.html.comment.widget_wall.render(adv, "discussion")

            </div>
        </div>
    </div>
    <hr/>
    }

    @if(JournweAuthorization.canViewAdventurePlacesWidget(adv.getId)) {
    <div class="jrn-container">


        <h2 id="places"><i class="icon-globe icon-for-adventure-title"></i> @Messages("adventure.getScala.place.title")</h2>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">@Messages("adventure.getScala.place.subtitle")</p>

                @places(adv)

            </div>
            @if(JournweAuthorization.canViewPlaceComments(adv.getId)) {
            @views.html.comment.widget_comment.render(adv, "places")
            }
        </div>
    </div>
    <hr/>
    }

    @if(JournweAuthorization.canViewAdventureAdventurersWidget(adv.getId)) {
    <div class="jrn-container">

        <h2 id="adventurers"><i class="icon-group icon-for-adventure-title"></i> @Messages("adventure.getScala.adventurers.title")</h2>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">@Messages("adventure.getScala.adventurers.subtitle")</p>
                @adventurers(adv, advr)
            </div>
            @{views.html.comment.widget_comment.render(adv, "adventurers")}
        </div>
    </div>
    <hr/>
    }

    @if(JournweAuthorization.canViewAdventureTimeWidget(adv.getId)) {
    <div class="jrn-container">
        <h2 id="times"><i class="icon-calendar icon-for-adventure-title"></i> @Messages("adventure.getScala.time.title")</h2>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">@Messages("adventure.getScala.time.subtitle")</p>

                @time(adv, timeForm)

            </div>
            @views.html.comment.widget_comment.render(adv, "times")
        </div>
    </div>
    <hr/>
    }

@*
    <hr/>
    <div class="jrn-container">
        <h2 id="messages"><i class="icon-envelope icon-for-adventure-title"></i> @Messages("adventure.getScala.messages.title")</h2>
        <div class="span11">
            <p class="lead">@Messages("adventure.getScala.messages.subtitle")</p>


        </div>
        @views.html.comment.widget_comment.render(adv, "messages")
    </div>
*@

    @if(JournweAuthorization.canViewAdventureTodoWidget(adv.getId)) {
    <div class="jrn-container">
        <h2 id="todos"><i class="icon-list-ol icon-for-adventure-title"></i> @Messages("adventure.getScala.todo.title")<div class="pull-right"><button id="todos-button-refresh" class="btn btn-success"><i class="icon-refresh"></i></button></div></h2>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">@Messages("adventure.getScala.todo.subtitle")</p>

                @todos(adv, advr)

            </div>
            @views.html.comment.widget_comment.render(adv, "todos")
        </div>
    </div>
    <hr/>
    }

    @if(JournweAuthorization.canViewAdventureFilesWidget(adv.getId)) {
    <div class="jrn-container">
        <h2 id="files"><i class="icon-file icon-for-adventure-title"></i> @Messages("adventure.getScala.files.title")<div class="pull-right"><button id="files-button-refresh" class="btn btn-success"><i class="icon-refresh"></i></button></div></h2>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">@Messages("adventure.getScala.files.subtitle")</p>

                @files(adv, fileForm)

            </div>
            @if(JournweAuthorization.canViewFilesComments(adv.getId)) {
            @views.html.comment.widget_comment.render(adv, "files")
            }
        </div>

    </div>
    <div style="position: relative; display: block; padding-right: 20px; background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);">
        <div class="row"><small class="pull-right"><a href="http://www.entouragebox.com" target="_blank"><img src="http://www.entouragebox.com/img/logo.png" style="max-height: 30px;"></a></small></div>
    </div>

    <hr/>
    }

    @if(JournweAuthorization.canViewAdventureOffersWidget(adv.getId)) {
    <div class="jrn-container">
        <h2 id="offers"><i class="icon-suitcase icon-for-adventure-title"></i> @Messages("adventure.getScala.offers.title")</h2>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">@Messages("adventure.getScala.offers.subtitle")</p>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr><th>Time Option</th><th>Place Option</th><th><i class="icon-plane"></i> Cheap Flights</th><th><i class="icon-building"></i> Cheap Hotels</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>13.9.2013 - 19.9.2013</td><td>Berlin, Deutschland</td><td>LH 419, FRA - BER</td><td>NH Hotel Berlin City West</td></tr>
                    </tbody>
                </table>

            </div>
            @views.html.comment.widget_comment.render(adv, "offers")
        </div>
    </div>
    }

    <div id="cloneAdventure" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><i class="icon-copy"></i> <strong>@Messages("adventure.general.cloneby") "@adv.getName()".</strong></h3><br/>
                    @cloneAdventure(adv,new DynamicForm())
                </div>
            </div>
        </div>
    </div>

    <div id="leave" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@Messages("adventure.general.leaveconfirm") @adv.getName()?</h3>
                </div>
                <div class="modal-body">@Messages("adventure.general.leaveconfirm") @adv.getName()?</div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="@routes.AdventurePeopleController.leave(adv.getId())">@Messages("adventure.general.button.leave")</a> <a class="btn"
                                                                                                                   data-dismiss="modal">@Messages("adventure.general.button.cancel")</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $.fn.editable.defaults.mode = 'inline';
    $.fn.editableform.loading = '<div class="x-edit-loading"><i class="icon-journwe icon-spin"></i></div>';

    $('document').ready(function () {

        jQuery.event.props.push('dataTransfer');
        $(window).bind('drop', function(event){event.stopPropagation(); event.preventDefault(); return false;});
        $(window).bind('dragover', function(event){event.stopPropagation(); event.preventDefault(); return false;});

        $('#adventureName').editable();

        $('#adventureDescription').on('hidden', function(){
            $('.btn-edit-description').show();
        });
        // Replace all links with html links for certain elements
        $('.replace-links').each(function(){
            $(this).html(replaceURLWithHTMLLinks($(this).html()));
        });

        // After saving via x-editable, replace those links as well
        $.extend($.fn.editabletypes.textarea.prototype, {
            v2h: $.fn.editabletypes.textarea.prototype.value2html,
            value2html: function(foo, element){
                this.v2h.apply(this, arguments);
                $(element).html(replaceURLWithHTMLLinks($(element).html()));
            }
        });

    });



    function jumpToSection(section) {
        /*
        $('#nav-adventure-list').find('li').removeClass('active');
        $('#nav-adventure-' + section).addClass('active');
        */
        $('html, body').animate({
        scrollTop : $('#' + section).offset().top - 100
        }, 'slow');
        return false;
    }
	$('body').scrollspy({offset: 100}).on('activate', function(evt){
        $('.row.active').removeClass('active');
        $($(evt.target).find('a').attr('href')).parent('.row').addClass('active');
    })
    jumpToSection('@active');
</script>

}
