@(adv: models.adventure.Adventure, ins: Inspiration, advr: models.adventure.Adventurer, active: String, timeForm: Form[models.adventure.time.TimeOption], fileForm: Form[models.adventure.file.JournweFile])(description: Html)

@import models.dao.AdventurerDAO
@import models.dao.UserDAO
@import com.feth.play.module.pa.PlayAuthenticate
@import play.mvc.Http

@main(adv.getName()){

<div style="width: 100%">
    @if(adv.getImage != null) {
    <img style="width: 100%; height: 200; margin-bottom: 20px;" src="http://i.embed.ly/1/image/crop?height=200&width=1200&url=@adv.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"/>
    }
</div>

<div class="title-name">
    <a href="#" id="adventureName" data-type="text" data-pk="@adv.getId()"
    data-url="@routes.AdventureController.saveEditable()"
    data-original-title="Enter adventure name" data-inputclass="input-xxlarge">@adv.getName()</a> <i class="icon-pencil muted"></i> <span></span>
    @if(ins != null) {<small>@ins.getName()</small>}
</div>
<div class="toolbar">
    <a class="btn btn-primary pull-right" onclick="$('#cloneAdventure').modal();"><i class="icon-copy"></i> Clone</a>
    <a class="btn btn-danger pull-right" onclick="$('#leave').modal();"><i class="icon-unlink"></i> Leave</a>
</div>
} {

<div id="adventure-container" class="row">
    @if(new AdventurerDAO().get(adv.getId(), new
    UserDAO().findByAuthUserIdentity(PlayAuthenticate.getUser(Http.Context.current())).getId()) != null){
    <!-- Only required for left/right tabs -->
    <div class="nav-adventure" style=""> <!---->
        <ul id="nav-adventure-list" class="nav nav-pills nav-stacked">
            <li  id="nav-adventure-index"
            @if(active == "index"){class="active"}><a href="#index" onclick="return jumpToSection('index');"><i
                class="icon-info" title="Overview"></i></a></li>
            <li id="nav-adventure-places"
            @if(active == "places"){class="active"}><a href="#places" onclick="return jumpToSection('places');"><i class="icon-globe" title="Place"></i></a></li>
            <li id="nav-adventure-adventurers"
            @if(active == "adventurers"){class="active"}><a href="#adventurers" onclick="return jumpToSection('adventurers');"><i class="icon-group" title="Adventurers"></i></a></li>
            <li  id="nav-adventure-time"
            @if(active == "times"){class="active"}><a href="#times" onclick="return jumpToSection('times');"><i
                class="icon-time" title="Date &amp; Time"></i></a></li>

            @*<li id="nav-adventure-messages"
            @if(active == "messages"){class="active"}><a href="#messages" onclick="return jumpToSection('messages');"><i class="icon-envelope" title="Messages"></i></a></li>*@
            <li   id="nav-adventure-todos"
            @if(active == "todos"){class="active"}><a href="#todos" onclick="return jumpToSection('todos');"><i
                class="icon-list-ol" title="Todos"></i></a></li>
            <li   id="nav-adventure-files"
            @if(active == "files"){class="active"}><a href="#files" onclick="return jumpToSection('files');"><i class="icon-file" title="Files"></i></a></li>
            <li   id="nav-adventure-offers"
            @if(active == "offers"){class="active"}><a href="#offers" onclick="return jumpToSection('offers');"><i class="icon-suitcase" title="Offers"></i></a></li>
        </ul>
    </div>
    }

    <div class="row">
        <h2 id="index"><i class="icon-info icon-for-adventure-title"></i> Adventure</h2>

        <div class="span11">
            <p class="pull-left">
                <img id="adventure-title-image" class="img-polaroid" style="margin-right: 20px; margin-bottom: 20px;" @if(adv.getImage == null){src="http://www.placehold.it/150x200/EFEFEF/AAAAAA&text=no+image"}else{src="http://i.embed.ly/1/image/resize?height=100&url=@adv.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"}
                    ondragleave="$('#adventure-title-image').removeClass('hover'); return false;" ondragenter="$('#adventure-title-image').addClass('hover'); return false;"/>

                <div id="adventureDescription" class="replace-links" data-type="textarea" data-pk="@adv.getId()"
                data-url="@routes.AdventureController.saveEditable()" data-toggle="manual" data-rows="15" data-inputclass="input-xxlarge" data-showbuttons="bottom" 
                data-original-title="Enter adventure description" data-emptytext="Description of your adventure...">@Html(adv.getHTMLDescription())</div>

                <div class="btn-edit-description"><a class="btn btn-mini" onclick="event.stopPropagation(); $('#adventureDescription').editable('toggle');$(this).parent().hide()"><i class="icon-pencil"></i> Edit</a></div>

            </p>
            <script type="text/javascript">
                jQuery.event.props.push('dataTransfer');

                $('#adventure-title-image').on('drop', function (event) {
                    event.stopPropagation();
                    event.preventDefault();

                    var files = event.target.files || event.dataTransfer.files;
                    var data = new FormData();
                    data.append(files[0].name, files[0])
                    $.ajax({
                        url: '@routes.AdventureController.updateImage(adv.getId)',
                        data: data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        success:  function (data) {
                            $('#adventure-title-image').prop('src', 'http://i.embed.ly/1/image/resize?height=100&url=' + data.image + '&key=2c8ef5b200c6468f9f863bc75c46009f');
                        }
                    });
                    $('#adventure-title-image').removeClass('hover');
                    return false;
                });
            </script>


            @*index(adv, ins)*@
        </div>
        @{views.html.comment.widget_comment.render(adv, "index")}

        <div class="row">
            <div class="span1"><i class="icon-cogs icon-for-adventure-title"></i></div>

            <div class="span8">@options(adv)</div>
            <div class="span3"></div>
        </div>
    </div>

    <hr/>
    <div class="row">

        <h2 id="places"><i class="icon-globe icon-for-adventure-title"></i> Place</h2>

        <div class="span11">
            <p class="lead">Find a special place where your adventure takes place. Make it a beautiful spot worth exploring.</p>

            @places(adv)

        </div>
        @views.html.comment.widget_comment.render(adv, "places")
    </div>

    <hr/>
    <div class="row">

        <h2 id="adventurers"><i class="icon-group icon-for-adventure-title"></i> Adventurers</h2>

        <div class="span11">
            <p class="lead">Experience your adventure with great people, real adventurers. Invite the greatest and book together.</p>
            @adventurers(adv, advr)
        </div>
        @{views.html.comment.widget_comment.render(adv, "adventurers")}
    </div>

    <hr/>
    <div class="row">
        <h2 id="times"><i class="icon-calendar icon-for-adventure-title"></i> Date &amp; Time</h2>
        <div class="span11">
            <p class="lead">Its all about the right time. Select the time you prefer most and get excited.</p>

            @time(adv, timeForm)

        </div>
        @views.html.comment.widget_comment.render(adv, "times")

    </div>

@*
    <hr/>
    <div class="row">
        <h2 id="messages"><i class="icon-envelope icon-for-adventure-title"></i> Messages</h2>
        <div class="span11">
            <p class="lead">Communicate with agencies and assistants with only one email address and all adventurers stay up-to-date.</p>


        </div>
        @views.html.comment.widget_comment.render(adv, "messages")
    </div>
*@


    <hr/>
    <div class="row">
        <h2 id="todos"><i class="icon-list-ol icon-for-adventure-title"></i> Todo List</h2>
        <div class="span11">
            <p class="lead">Don't forget utilities at home or miss important errands. Sync with your co-adventurers.</p>

            @todos(adv, advr)

        </div>
        @views.html.comment.widget_comment.render(adv, "todos")
    </div>

    <hr/>
    <div class="row">
        <h2 id="files"><i class="icon-file icon-for-adventure-title"></i> Files</h2>
        <div class="span11">
            <p class="lead">You can upload and share files here. Store pdfs, docs, xls, ...</p>

            @files(adv, fileForm)

        </div>
        @views.html.comment.widget_comment.render(adv, "files")
    </div>

    <hr/>
    <div class="row">
        <h2 id="offers"><i class="icon-suitcase icon-for-adventure-title"></i> Offers</h2>
        <div class="span11">
            <p class="lead">Check offers for your dates and places. There might be just the right sweet spot for you.</p>

            <table class="table table-striped table-hover">
                <thead>
                    <tr><th>Time Option</th><th>Place Option</th><th><i class="icon-plane"></i> Cheap Flights</th><th><i class="icon-building"></i> Cheap Hotels</th></tr>
                </thead>
                <tbody>
                    <tr><td>13.9.2013 - 19.9.2013</td><td>Berlin, Deutschland</td><td>LH 419, FRA - BER</td><td>NH Hotel Berlin City West</td></tr>
                </tbody>
            </table>

        </div>
        @views.html.comment.widget_comment.render(adv, "offers")
    </div>



</div>
</div>

<div id="cloneAdventure" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <h3><i class="icon-copy"></i> <strong>You can create a new Adventure based on "@adv.getName()".</strong></h3><br/>
        @cloneAdventure(adv,new DynamicForm())
    </div>
</div>

<div id="leave" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <h3>Sure, you want to leave @adv.getName()?</h3>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="@routes.AdventurePeopleController.leave(adv.getId())">Leave</a> <a class="btn"
                                                                                                       data-dismiss="modal">Cancel</a>
    </div>
</div>

<script>

    $.fn.editable.defaults.mode = 'inline';
    $.fn.editableform.loading = '<div class="x-edit-loading"><i class="icon-spinner icon-spin"></i></div>';

    $('document').ready(function () {

        jQuery.event.props.push('dataTransfer');
        $(window).bind('drop', function(event){event.stopPropagation(); event.preventDefault(); return false;});
        $(window).bind('dragover', function(event){event.stopPropagation(); event.preventDefault(); return false;});

        $('#adventureName').editable();

        $('#adventureDescription').on('hidden', function(){
            $('.btn-edit-description').show();
        });
        // Replace all links with html links for certain elements
        $('.replace-links').each(function(){
            $(this).html(replaceURLWithHTMLLinks($(this).html()));
        });

        // After saving via x-editable, replace those links as well
        $.extend($.fn.editabletypes.textarea.prototype, {
            v2h: $.fn.editabletypes.textarea.prototype.value2html,
            value2html: function(foo, element){
                this.v2h.apply(this, arguments);
                $(element).html(replaceURLWithHTMLLinks($(element).html()));
            }
        });

    });



    function jumpToSection(section) {
        /*
        $('#nav-adventure-list').find('li').removeClass('active');
        $('#nav-adventure-' + section).addClass('active');
        */
        $('html, body').animate({
        scrollTop : $('#' + section).offset().top - 100
        }, 'slow');
        return false;
    }
	$('body').scrollspy({offset: 100}).on('activate', function(evt){
        $('.row.active').removeClass('active');
        console.log($($(evt.target).find('a').attr('href')).parent('.row'))
        $($(evt.target).find('a').attr('href')).parent('.row').addClass('active');
    })
    jumpToSection('@active');
</script>

}
