@(adv: Adventure, ins: Inspiration, active: String)(content: Html)

@import models._
@import models.dao._
@import com.feth.play.module.pa.PlayAuthenticate;

@main(adv.getName()){<a href="#" id="adventureName" data-type="text" data-pk="@adv.getId()" data-url="/adventure/save/editable" data-original-title="Enter name">@adv.getName()</a> <small>@ins.getName()</small>} {

<div>
    @if(new AdventurerDAO().get(adv.getId(), User.findByAuthUserIdentity(PlayAuthenticate.getUser(Http.Context.current())).getId()) != null){
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li @if(active == "index"){class="active"}><a href="@routes.AdventureController.getIndex(adv.getId())"><i class="icon-th"></i>Overview</a></li>
        <li @if(active == "adventurers"){class="active"}><a href="@routes.AdventureController.getAdventurers(adv.getId())"><i class="icon-th"></i>Adventurers</a></li>
        <li @if(active == "messages"){class="active"}><a href="#messages"><i class="icon-search"></i>Messages</a></li>
        <li @if(active == "time"){class="active"}><a href="#time"><i class="icon-search"></i>Date &amp; Time</a></li>
        <li @if(active == "todo"){class="active"}><a href="@routes.AdventureController.getTodos(adv.getId())"><i class="icon-th"></i>Packing List</a></li>
        <li @if(active == "files"){class="active"}><a href="#files"><i class="icon-search"></i>Files</a></li>
    </ul>
    }
    <div class="row">

        <div class="span3">@views.html.comment.widget_comment.render(adv, active)</div>
        <div class="span9">@content</div>

    </div>
</div>
<script>
    $.fn.editable.defaults.mode = 'inline';
    $('#adventureName').editable();
</script>

}
