@(adv: models.adventure.Adventure, ins: models.inspiration.Inspiration)

@import com.feth.play.module.pa.views.html._
@import play.libs.Json
@import views.html.index.quickintro

@main(adv.getName()){ }{

<div id="adventure-container">
    <div class="prime-image">

        <div id="adventure-prime-image" style="width: 100%; height: 200px; background: url('http://www.placehold.it/1250x200/AAAAAA/EFEFEF&text=Drop+image') no-repeat center center transparent; background-size: auto 100%;">
        </div>

        <div class="title-name">
            @adv.getName() @if(ins != null) {<small>@ins.getName()</small>}
        </div>

        <div class="toolbar">

            <div class="btn-group pull-right">
                <a class="btn btn-participate btn-success" href="@html.routes.AdventurePeopleController.participateFacebook(adv.getId())"><i class="fa fa-plus"></i> @Messages("adventure.general.button.join") (via Facebook)</a>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@html.routes.AdventurePeopleController.participate(adv.getId(), "journwe")"><i class="fa fa-user fa-fw"></i> @Messages("adventure.general.button.join") (via JournWe)</a></li>
                    @forProviders() { p =>
                        <li><a class="btn-participate" href="@html.routes.AdventurePeopleController.participate(adv.getId(), p.getKey)"><i class="fa fa-@(if(p.getKey().toLowerCase()=="google"){"google-plus"}else{p.getKey().toLowerCase()}) fa-fw"></i> @Messages("adventure.general.button.join") (via @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase))</a></li>
                    }
                </ul>
            </div>

            @*
            @currentAuth() { auth =>
                @if(auth != null) {
                    <a class="btn btn-primary pull-right" onclick="$('#cloneAdventure').modal();"><i class="fa fa-copy"></i> @Messages("adventure.general.button.clone")</a>
                }
            }
            *@

        </div>
    </div>

    <div class="jrn-container">
        <h2>@Messages("adventure.general.invitation")</h2>
        <p class="pull-left">
            <div>@Html(adv.getHTMLDescription())</div>
        </p>
        <div>
            <h3 class="lead">Involved Adventurers</h3>
            <div class="adventurers-list" style="overflow: hidden;"></div>
            <div class="clearfix"></div>
        </div>

        <script type="text/x-tmpl" id="adventurer-template">
            <div data-id="{%=o.id%}" id="adventurers-adventurer-{%=o.id%}" class="polaroid" style="position: relative; float: left; margin-right: 20px; margin-bottom: 20px;">
                <a href="{%=o.link%}">
                    <img style="margin: 0px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=100&height=100&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}">
                </a>
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
                    <div style="line-height: 10px;"><a href="{%=o.link%}">{%=String(o.name).replace(new RegExp(' [^ ]*$', 'g'), '')%}</a></div>
                    <div class="overlay text-center">
                        <span class="label label-{%=o.cssLabel%}" title="Status" style="display: inline-block; width: 100%;">{%=o.status%}</span>
                    </div>
                </div>
            </div>
        </script>
    </div>

   @cloneAdventure(adv,new DynamicForm())

</div>

@quickintro()

<script type="text/javascript">
    define("adventureData", [], @{Html(Json.toJson(adv).toString())});
    define("adventurerData", [], @{Html(Json.newObject().toString())});
</script>
<script src="@routes.Assets.at("javascripts/adventurePublic.js").url" type="text/javascript"></script>


}{@openGraphMeta("JournWe " + adv.getName, adv.getShortURL, "Join" + " " + adv.getName + ". " + adv.getDescription, adv.getImage)}
