@(adv: models.adventure.Adventure, provider:String, ins: models.inspiration.Inspiration)

@import com.feth.play.module.pa.views.html._
@import play.libs.Json

@scripts = {
    <script type="text/javascript">
    define("adventureData", [], @{Html(Json.toJson(adv).toString())});
    define("adventurerData", [], @{Html(Json.newObject().toString())});
    </script>
}

@main(adv.getName()){ } {

<div class="prime-image">

    <div id="adventure-prime-image" style="width: 100%; height: 200px; background: url('http://www.placehold.it/1250x200/AAAAAA/EFEFEF&text=Drop+image') no-repeat center center transparent; background-size: auto 100%;">
    </div>

    <div class="title-overlay">
        <div class="container">
            <div class="title-name">
                <strong>@adv.getName()</strong> @if(ins != null) {<small>@ins.getName()</small>}
            </div>
        </div>
    </div>




    @*
    @currentAuth() { auth =>
    @if(auth != null) {
    <div class="toolbar">
    <a class="btn btn-primary pull-right" onclick="$('#cloneAdventure').modal();"><i class="fa fa-copy"></i> @Messages("adventure.general.button.clone")</a>
    </div>
    }
    }
    *@

</div>

<div class="adventure-container">


    <div class="jrn-container">
        <h2>@Messages("adventure.general.invitation")</h2>
        <div class="spacer20"></div>
        <div class="text-center">
            <a class="btn btn-participate btn-success btn-lg" href="@html.routes.AdventurePeopleController.participate(adv.getId(), provider)"><i class="fa fa-plus"></i> @Messages("adventure.general.button.join") (via <i class="fa fa-@(if(provider.toLowerCase()=="google"){"google-plus"}else{provider.toLowerCase()})"></i> @(provider.substring(0, 1).toUpperCase + provider.substring(1, provider.length).toLowerCase))</a>
            <br>
            <small><a href="@core.html.routes.ApplicationController.login()">or: Register to join JournWe</a></small>
        </div>
        <div class="spacer20"></div>
        <div>
            <p class="lead">You are invited to this JournWe&#8482; to <span class="places-favorite-place-name">?</span> on <span class="times-favorite-time-name">?</span>. Have some fun, guys!</p>
        </div>
        <div>
            <p>
                @Html(adv.getHTMLDescription())
            </p>
        </div>
        <div>
            <h3><i class="fa fa-group"></i> Involved Adventurers</h3>
            <div class="adventurers-list" style="overflow: hidden;"></div>
            <div class="clearfix"></div>
        </div>

        <script type="text/x-tmpl" id="adventurer-template">
            <div data-id="{%=o.id%}" id="adventurers-adventurer-{%=o.id%}" class="polaroid" style="position: relative; float: left; border-bottom: 2px solid {%=o.color%};">
                <img style="margin: 0px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=100&h=100&u=' + o.image)%}{% } %}">
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
                    <div style="line-height: 10px;">{%=String(o.name).replace(new RegExp(' [^ ]*$', 'g'), '')%}</div>
                    <div class="overlay text-center">
                        <span class="label label-{%=o.cssLabel%}" title="Status" style="display: inline-block; width: 100%;">{%=o.status%}</span>
                    </div>
                </div>
            </div>
        </script>
    </div>

    <div class="jrn-container">
        <h2><em>Discuss, Plan, Organize</em> in one place with Journ<strong>We</strong>.</h2>
        <div class="spacer20"></div>
        <div><img src="@controllers.core.html.routes.CDNAssetsController.at("img/landing/landing-journwe-explain.png")" style="50%"></div>
        <div class="spacer20"></div>
        <div>Also: share <em>Todos and Documents</em>, use a dedicated <em>Group Email Address</em>, and correspond with Travel Guides &amp; Agencies.</div>
        <div class="spacer20"></div>
    </div>

   @* cloneAdventure(adv,new DynamicForm()) *@

</div>

}(openGraphMeta("JournWe " + adv.getName, adv.getShortURL, "Join" + " " + adv.getName + ". " + adv.getDescription, adv.getImage), "adventurePublic", scripts)
