@(adv: models.adventure.Adventure, ins: Inspiration)(adventurers: List[models.adventure.Adventurer])(status: models.adventure.EAdventurerParticipation)

@import models.adventure._
@import models.dao.UserDAO
@import models.adventure.EAdventurerParticipation

@cssForStatus(status:EAdventurerParticipation) = {
@status match {
case EAdventurerParticipation.NOTGOING => {error}
case EAdventurerParticipation.UNDECIDED => {warning}
case EAdventurerParticipation.GOING => {info}
case EAdventurerParticipation.BOOKED => {success}
case EAdventurerParticipation.APPLICANT => {}
}
}


@get(adv, ins, "adventurers") {

@if(status != null && !status.equals(EAdventurerParticipation.APPLICANT)){
<div>
    <strong>You are...</strong>

    <div class="btn-group">
        <a class="btn btn-danger @if(status == EAdventurerParticipation.NOTGOING){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.NOTGOING.name())">Not
            Going</a>
        <a class="btn btn-warning @if(status == EAdventurerParticipation.UNDECIDED){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.UNDECIDED.name())">Undecided</a>
        <a class="btn btn-primary @if(status == EAdventurerParticipation.GOING){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.GOING.name())">Going</a>
        <a class="btn btn-success @if(status == EAdventurerParticipation.BOOKED){active}"
           href="@routes.AdventureController.participateStatus(adv.getId(), EAdventurerParticipation.BOOKED.name())">Booked</a>
    </div>
</div>
} else {
@if(status.equals(EAdventurerParticipation.APPLICANT)) {
<div>
    You are an Applicant.
</div>
} else {
<div>
    <a class="btn btn-primary" href="@routes.AdventureController.participate(adv.getId())">Participate</a>
</div>
}
}

<table class="table table-striped table-hover">
    <caption>List of Adventurers</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @adventurers.filter(!_.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT)).map{ advr =>
    <tr class="@cssForStatus(advr.getParticipationStatus())">
        <td>@{new UserDAO().get(advr.getUserId()).getName()}</td>
        <td>@advr.getParticipationStatus()</td>
    </tr>
    }
    </tbody>
</table>
<table class="table table-striped table-hover">
    <caption>List of Applicants</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Adopt</th>
    </tr>
    </thead>
    <tbody>
    @adventurers.filter(_.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT)).map{ appl =>
    <tr class="@cssForStatus(appl.getParticipationStatus())">
        <td>@{new UserDAO().get(appl.getUserId()).getName()}</td>
        <td>@appl.getParticipationStatus()</td>
        <td>@if(!status.equals(EAdventurerParticipation.APPLICANT)){<a class="btn btn-primary" href="@routes.AdventureController.adopt(adv.getId(), appl.getUserId())">Adopt</a> } else{}</td>
    </tr>
    }
    </tbody>
</table>

}