@(adv: models.adventure.Adventure, ins: models.inspiration.Inspiration)
@import models.adventure.adventurer.EAdventurerParticipation
@import models.inspiration.Inspiration

@import models.dao._
    @import com.feth.play.module.pa.PlayAuthenticate
@import com.feth.play.module.pa.views.html._

@import views.html.index.quickintro

@main(adv.getName()){ }{

<div id="adventure-container">
    <div class="prime-image">

        @if(adv.getImage != null) {
            <div style="width: 100%; height: 200px; background: url('http://i.embed.ly/1/image/crop?height=200&width=1200&url=@adv.getImage&key=2c8ef5b200c6468f9f863bc75c46009f') no-repeat center center transparent; background-size: auto 100%;"></div>
        } else {
            <div style="width: 100%; height: 200px; background: #aaa; background: rgba(255,255,255,0.1);"></div>
        }
     

        <div class="title-name">
            @adv.getName() @if(ins != null) {<small>@ins.getName()</small>}
        </div>

        <div class="toolbar">

            <a class="btn btn-participate btn-success pull-right" href="@routes.AdventurePeopleController.participate(adv.getId())"><i class="fa fa-plus"></i> @Messages("adventure.general.button.join")</a>
            <script>

                $(function(){
                $('.btn-participate').click(function(){
                var el = $(this),
                html = el.html();

                el.css({width:el.width()+"px"})
                .html('<i class="fa fa-spin icon-journwe"></i>');

                return true;
                })
                });

            </script>

            @currentAuth() { auth =>
                @if(auth != null) {
                    <a class="btn btn-primary pull-right" onclick="$('#cloneAdventure').modal();"><i class="fa fa-copy"></i> @Messages("adventure.general.button.clone")</a>
                }
            }

        </div>
    </div>

    <div class="jrn-container">
        <h2>@Messages("adventure.general.invitation")</h2>
        <p class="pull-left">
            @*
            <img id="adventure-title-image" class="img-polaroid" style="margin-right: 20px; margin-bottom: 20px;" @if(adv.getImage == null){src="http://www.placehold.it/150x200/EFEFEF/AAAAAA&text=no+image"}else{src="http://i.embed.ly/1/image/resize?height=100&url=@adv.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"}/>
            *@
            <div>@Html(adv.getHTMLDescription())</div>

        </p>
        <div>
            <p><span id="adventurers-count"></span> Adventurers participate.</p>
            <div id="adventurers-list" style="overflow: hidden;"></div>
            <div class="clearfix"></div>
        </div>

        <div>
            @quickintro()
        </div>

        <script type="text/x-tmpl" id="adventurer-template">
            <div data-id="{%=o.id%}" id="adventurers-adventurer-{%=o.id%}" class="polaroid" style="position: relative; float: left; margin-right: 20px; margin-bottom: 20px;">
                <a href="{%=o.link%}">
                    <img style="margin: 0px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=100&height=100&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}">
                </a>
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
                    <div style="line-height: 10px;"><a href="{%=o.link%}">{%=String(o.name).replace(new RegExp(' [^ ]*$', 'g'), '')%}</a></div>
                    <div class="overlay text-center">
                        <span class="label label-{%=o.cssLabel%}" title="Status" style="display: inline-block; width: 100%;">{%=o.status%}</span>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/javascript">

            var cssLabel = {
            '@EAdventurerParticipation.APPLICANT' : 'default',
            '@EAdventurerParticipation.INVITEE' : 'warning',
            '@EAdventurerParticipation.NOTGOING' : 'error',
            '@EAdventurerParticipation.UNDECIDED' : 'warning',
            '@EAdventurerParticipation.GOING' : 'info',
            '@EAdventurerParticipation.BOOKED' : 'success'
            };

            $(document).ready(function(){
                loadAdventurers('#adventurers-list');
            });

            function loadAdventurers(target) {

                $.get('@routes.AdventurePeopleController.getAdventurers(adv.getId)', function (advs) {
                    $(target).empty();
                    if(advs != null && advs.length > 0) {
                        $('#adventurers-count').html(advs.length);
                        for(var i in advs) {
                            advs[i].cssLabel = cssLabel[advs[i].status];
                            $(target).append(tmpl('adventurer-template', advs[i]));
                        }
                        $(target).parent().show();
                    } else $(target).parent().hide();
                });
            }
        </script>
    </div>

    <div id="cloneAdventure" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><i class="fa fa-copy"></i> <strong>@Messages("adventure.general.cloneby") "@adv.getName()".</strong></h3><br/>
                    @cloneAdventure(adv,new DynamicForm())
                </div>
            </div>
        </div>
    </div>

</div>

<script>
$(document).ready(function () {
    @if(adv.getImage != null && !"".equals(adv.getImage)){$('#background').css('background-image', 'url("http://i.embed.ly/1/image/resize?width=1600&key=2c8ef5b200c6468f9f863bc75c46009f&url=@adv.getImage()")');}
});
</script>

}
