@(adv: models.adventure.Adventure, advr: models.adventure.Adventurer, timeForm: play.data.Form[models.adventure.time.TimeOption], groups: List[models.adventure.group.AdventurerGroup])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>JournWe - Groups</title>
        <meta property="og:title" content="JournWe - Where Adventurers meet. Coming Soon." />
        <meta property="og:type" content="company" />
        <meta property="og:site_name" content="JournWe - Where Adventurers meet. Coming Soon." />
        <meta property="og:description" content="JournWe changes how you travel in groups and how people join for an adventure. Traveling becomes group adventures at the most inspiring destinations and challenges. JournWe helps the right people to join for an adventure and make an adventure travel a lifetime experience." />
        <meta property="og:url" content="www.journwe.com" />
        <meta property="og:image" content="@routes.Assets.at("img/yingyangyong.png")" />
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/jasny-bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/jasny-bootstrap-responsive.css")">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrapSwitch.css")">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:100,300'>
        <link rel="stylesheet" href="@routes.Assets.at("css/journwe.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/yingyangyong.png")">
        <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/tmpl.min.js")" type="text/javascript"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("js/jasny-bootstrap.js")" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrapSwitch.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/ckeditor/ckeditor.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/bootstrap-datepicker.de.js")" charset="UTF-8"></script>
        <script src="@routes.Assets.at("js/journwe.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>

<div class="tabbable" style="background:white;">
    <ul class="nav nav-tabs">
        @for((group,i) <- groups.zipWithIndex) {
            @if(i==0){
                <li class="active"><li><a href="#@group.getGroupId" data-toggle="tab">Group @(i+1)</a></li>
                } else {
                <li><a href="#@group.getGroupId" data-toggle="tab">Group @(i+1)</a></li>
                }
        }
        <li><a href="#tab-new" onclick="createGroup()" data-toggle="tab"><i class="icon-plus-sign"></i> New group</a></li>
    </ul>
    <div class="tab-content">
        @for((group,i) <- groups.zipWithIndex) {
        @if(i==0){<div class="tab-pane active" id="@group.getGroupId">} else {<div class="tab-pane" id="@group.getGroupId">}
            <h2>Welcome to Group @(i+1).</h2>
            @group_adventurers(adv, group, advr)
        </div>
        }
        <div class="tab-pane" id="tab-new">
            Want to create a new Group?
        </div>
    </div>
</div>

<script>
function createGroup() {
    $.post('@routes.AdventurerGroupController.createGroup(adv.getId)', function (data) {

    });

}
</script>

</body>
