@(adv: models.adventure.Adventure, group: models.adventure.group.AdventurerGroup, advr: models.adventure.Adventurer)

<div id="adventurers-list">
    <ul>

    </ul>
</div>

<script>
    $('#adventurers-list').ready(function (){
    $.get('@routes.AdventurerGroupController.getAdventurersOfGroup(adv.getId, group.getGroupId)', function (data) {

    $('#adventurers-list ul').empty();
    $.each(data, function (index, value) {
    console.log(value);
    $('#adventurers-list ul').append('<li>'+value['userName']+'</li>');
    });

    if (data.length){
    $('#adventurers-list').show();
    } else {
    $('#adventurers-list').hide();
    }

});
});
</script>