@(adv: models.adventure.Adventure)
@import models.dao.category.CategoryDAO
@import models.dao.manytomany.AdventureToCategoryDAO

<div class="row">
    <div class="col-lg-4"> @Messages("adventure.options.public") &nbsp;&nbsp;
        <div id="adventure-public-switch" class="make-switch" style="display:inline-block;overflow:hidden;"><input type="checkbox" @if(adv.isPublish){checked="checked"}></div>
        <script>
            $('#adventure-public-switch').change(function(){
                $.post('@api.json.routes.AdventureController.updatePublic(adv.getId)', {public: $(this).find('input:checkbox').prop('checked')}, function(pub){
                    $(this).find('input:checkbox').prop('checked', pub);
                });
            });
        </script>
        Category:
        <div id="adventure-category-select" class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-spin icon-journwe hide"></i> <span>No Category</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
        </div>
        <script>

            $(document).ready(function(){
                updateCategorySelection(null);
                loadCategoriesOptionsMap();
            });

            function loadCategoriesOptionsMap() {
                $.get('@api.json.routes.CategoryController.categoriesOptionsMap()', function (cats){
                    $('#adventure-category-select ul.dropdown-menu').empty();
                    if(cats != null && cats.length > 0){
                        for(var i in cats)
                            $('#adventure-category-select ul.dropdown-menu').append('<li data-id="' + cats[i].id + '"><a>' + cats[i].name + '</a></li>');
                        $('#adventure-category-select li').click(function(){
                            updateCategorySelection($(this).data('id'));
                        });
                    }
                });
            }

            function updateCategorySelection(catId) {
                $('#adventure-category-select button i').first().removeClass('hide');
                $.post('@api.json.routes.AdventureController.updateCategory(adv.getId)', {categoryId: catId}, function (data) {
                    if(data.name != null && data.name.length > 0) $('#adventure-category-select button span').first().html(data.name);
                    $('#adventure-category-select button i').first().addClass('hide');
                });
            }
        </script>
    </div>
    <div class="col-lg-3">
        <button onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436'); return false;" class="btn btn-primary"><i class="fa fa-facebook"></i> @Messages("adventure.options.facebookpublish")</button>
    </div>

    @if(adv.isPublish){
        <div class="col-lg-2">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="JournWe" @if(adv.getShortURL()!=null && !adv.getShortURL().equals("")){data-url="@adv.getShortURL"} data-size="large" data-related="JournWe" data-hashtags="journwe">@Messages("adventure.options.twitter")</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
    }

    @if(adv.getShortURL()!=null && !adv.getShortURL().equals("")){
        <div class="col-lg-3">
            <div><a href="@adv.getShortURL" class="btn"><i class="fa fa-link"></i> @adv.getShortURL</a></div>
        </div>
    }
</div>

