@(adv: models.adventure.Adventure)



<table id="places-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Vote</th>
            <th>Location</th>
            <th>YES</th>
            <th>NO</th>
            <th>MAYBE</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>

<div class="input-append">
    <input type="text" placeholder="A decent place name" id="place-add-input">
    <a id="place-add-button" class="btn btn-add"><i class="icon-plus"></i></a>
</div>

<div style="height: 400px;">
    <div id="where-map" style="width: 100%; height: 100%"></div>
</div>

<script type="text/x-tmpl" id="place-template">
    <tr>
        <td>
            <div class="btn-group">
                <button id="placeoption-status-{%=o.id%}" class="btn" style="width: 90px"><i id="placeoption-status-icon-{%=o.id%}"></i> {%=o.vote%}</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-pencil"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="vote('YES', '{%=o.id%}');"><i class="icon-thumbs-up"></i> Yes</a></li>
                    <li><a onclick="vote('MAYBE', '{%=o.id%}');"><i class="icon-question"></i> Maybe</a></li>
                    <li><a onclick="vote('NO', '{%=o.id%}');"><i class="icon-thumbs-down"></i> No</a></li>
                </ul>
            </div>
        </td>
            <!--<td>{%=o.name%}</td>-->
        <td>{%=o.address%}</td>
        <td>{%=o.voteCount.YES%}</td>
        <td>{%=o.voteCount.NO%}</td>
        <td>{%=o.voteCount.MAYBE%}</td>
        <td><a href="#" onclick="deletePlace({%=o.id%});" class="btn btn-danger"><i class="icon-trash"></i></a></td>
        {%



        %}
    </tr>
</script>


<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAbYnwpdOgqWhspiETgFdlXyX3H2Fjb8fY"></script>
<script>

    var map;
    var markers = [];
    google.maps.visualRefresh = true;

    function initialize() {
    var mapOptions = {
    zoom: 19,
    center: new google.maps.LatLng(52.467541, 13.324957),
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('where-map'), mapOptions);

    }


    function resetBounds() {
        var bounds = new google.maps.LatLngBounds();
        for(var i in markers) {
           bounds.extend(markers[i].getPosition());
        }
        map.fitBounds(bounds);
        google.maps.event.trigger(map, 'resize');
    }

    function removeMarker(id) {
        markers[id].setMap(null);
        delete markers[id];
        resetBounds();
    }




    $('#place-add-button').on('click', function() {

        new google.maps.Geocoder().geocode({'address': $('#place-add-input').val()}, function (results, status) {
            $.post('@routes.AdventurePlaceController.addPlace(adv.getId)', { name: 'Option ' + ($('#places-list tbody').children().length+1), googleMapsAddress: results[0].formatted_address }, function(res) {
                renderPlaceOption(res);
                $('#place-add-input').val("");
            });
        });
    });

    $('body').ready(function (){initialize();});

    $('#places-list').ready(function (){
        $.get('@routes.AdventurePlaceController.getPlaces(adv.getId)', function (places) {
            $('#places-list tbody').empty();
            for(var id in places) {
                renderPlaceOption(places[id])
            }

        });
    });

    function renderPlaceOption(data) {
        $('#places-list tbody').append(tmpl('place-template', data));

        new google.maps.Geocoder().geocode({address: data.address}, function (results, status) {
            var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
            markers[data.id] = marker;
            map.setCenter(results[0].geometry.location);
            resetBounds();
        });
        $('#placeoption-status-icon-' + data.id).addClass(voteIconCSSClassMap[data.vote]);
        $('#placeoption-status-' + data.id).addClass(voteButtonCSSClassMap[data.vote]);
   }


    var voteIconCSSClassMap = {'YES': 'icon-thumbs-up', 'NO': 'icon-thumbs-down', 'MAYBE': 'icon-question'};
    var voteButtonCSSClassMap = {'YES': 'btn-success', 'NO': 'btn-danger', 'MAYBE': 'btn-warning'};

    function vote(vote, optId) {
        $.ajax({
        url: '@routes.AdventurePlaceController.vote("")' + optId,
        data: {
            vote: vote
        },
        type: 'PUT',
        success: function(res) {
            $('#placeoption-status-' + res.placeOptionId).html('<i class="' + voteIconCSSClassMap[res.vote] + '"></i> ' + res.vote);
            for(var i in voteButtonCSSClassMap) $('#placeoption-status-' + res.placeOptionId).removeClass(voteButtonCSSClassMap[i]);
            $('#placeoption-status-' + res.placeOptionId).addClass(voteButtonCSSClassMap[res.vote]);
        }
        });
    }

</script>



