@(adv: models.adventure.Adventure, timeForm: play.data.Form[models.adventure.time.TimeOption])

@import models.adventure.time.TimeOption
@import models.dao.TimeOptionDAO

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<div class="clearfix">
    <div id="times-favorite-time" style="font-size: 20px; margin-bottom: 10px;" class="pull-left">
        <i id="times-favorite-time-icon" class="icon-spin icon-spinner"></i> @Messages("adventure.time.favourite") <em><span id="times-favorite-time-name"></span></em>
    </div>

    <div class="pull-right btn-close-time stash">
        @Messages("adventure.general.voting")
        <div class="switch">
            <input id="times-voting-active-switch" type="checkbox" @if(adv.getTimeVoteOpen){checked="checked"}>
        </div>
    </div>
</div>


<table id="times-list" class="table table-striped table-hover stash">
    <thead>
    <tr>
        <th>@Messages("adventure.general.favourite")</th>
        <th>@Messages("adventure.time.option")</th>
        <th style="min-width: 135px;">@Messages("adventure.general.yourvote")</th>
        <th class="text-center">@Messages("adventure.general.yes")</th>
        <th class="text-center">@Messages("adventure.general.maybe")</th>
        <th class="text-center">@Messages("adventure.general.no")</th>
        <th>@Messages("adventure.general.advvotes")</th>
        <th class="text-center">@Messages("adventure.general.listactions")</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<div class="times-loading"><i class="icon-spin icon-spinner"></i> @Messages("adventure.general.loading")</div>

<div id="time-add-form" class="row">

        <div class="input-group col-lg-5" style="width: 43%;">
            <span class="input-group-addon"><i class="icon-calendar"></i> @Messages("adventure.time.start")</span>
            <input class="journwe-date form-control" id="time-add-input-start" data-date="2014-03-14" data-date-format="yyyy-mm-dd" type="text" name="startDate" placeholder="@Messages("adventure.time.start.placeholder")" style=""/>
        </div>
        <div class="input-group col-lg-5" style="width: 43%;">
            <span class="input-group-addon"><i class="icon-calendar"></i> @Messages("adventure.time.end")</span>
            <input class="journwe-date form-control" id="time-add-input-end" data-date="2014-03-16" data-date-format="yyyy-mm-dd" type="text" name="endDate" placeholder="@Messages("adventure.time.end.placeholder")" style=""/>
        </div>

        <div class="col-lg-2 text-right" style="width: 14%;">
            <button id="time-add-button" class="btn btn-primary" style="width: 100%;"><i class="icon-plus"></i></button>
        </div>

</div>


    <script type="text/x-tmpl" id="time-template">
        <tr id="timeoption-item-{%=o.timeId%}">
            <td><button class="btn {%=o.favorite?'btn-success':'btn-default'%}" onclick="setFavoriteTimeOption('{%=o.timeId%}', this)"><i class="icon-star"></i></button></td>
            <td><em>{%=formatDate(o.startDate)%} - {%=formatDate(o.endDate)%}</em></td>
            <td>
                <div class="btn-group">
                    <button id="timeoption-status-{%=o.timeId%}" class="btn btn-default" style="width: 90px" disabled="disabled"><i id="timeoption-status-icon-{%=o.timeId%}"></i> {%=o.vote%}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-pencil"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onclick="voteTime('YES', '{%=o.timeId%}');"><i class="icon-thumbs-up"></i> @Messages("adventure.general.yes")</a></li>
                        <li><a onclick="voteTime('MAYBE', '{%=o.timeId%}');"><i class="icon-question"></i> @Messages("adventure.general.maybe")</a></li>
                        <li><a onclick="voteTime('NO', '{%=o.timeId%}');"><i class="icon-thumbs-down"></i> @Messages("adventure.general.no")</a></li>
                    </ul>
                </div>
            </td>
            <td class="text-center">{%=o.voteCount.YES%}</td>
            <td class="text-center">{%=o.voteCount.MAYBE%}</td>
            <td class="text-center">{%=o.voteCount.NO%}</td>
            <td>{% for (var i in o.voteAdventurers) { for (var j in o.voteAdventurers[i]) { %} <span class="label {%=voteTimeLabelCSSClassMap[i]%}" title="{%=o.voteAdventurers[i][j]%}">{%=o.voteAdventurers[i][j].split(/\s/)[0]%}</span> {% }} %}</td>
            <td class="text-center"><button onclick="deleteTime('{%=o.timeId%}', this);" class="btn btn-danger"><i class="icon-trash"></i></button></td>
        </tr>
    </script>

    <script type="text/javascript">

        function setFavoriteTimeOption(optionId, el) {
            $('#times-list td:first-child .btn-success').removeClass('btn-success');
            $('#times-favorite-time-icon').removeClass("icon-star").addClass("icon-spin icon-spinner");
            $(el).find('i').removeClass("icon-star").addClass("icon-spin icon-spinner");
            $.post('@routes.AdventureTimeController.setFavoriteTime(adv.getId)', {favoriteTimeId: optionId}, function (data) {
                $('#times-favorite-time-icon').removeClass("icon-spin icon-spinner").addClass("icon-star");
                $(el).find('i').removeClass("icon-spin icon-spinner").addClass("icon-star");
                $('#times-favorite-time-name').html(formatDate(data.startDate) + " - " + formatDate(data.endDate));
                $(el).addClass('btn-success');
                $('.btn-close-time').show();
            });
        }

        $('#time-add-button').on('click', function() {

            var start = $('#time-add-form input[name=startDate]'),
                end = $('#time-add-form input[name=endDate]');

            if (!start.val()){ start.focus(); return false; }
            if (!end.val()){ end.focus(); return false; }

            $(this).html('<i class="icon-spin icon-spinner"></i>');
            $.post('@routes.AdventureTimeController.addTime(adv.getId)', { startDate: start.val(), endDate: end.val()}, function(res) {
                renderTimeOption(res);
                $('#time-add-form input[name=name]').val("");
                $('#time-add-form input[name=startDate]').val("");
                $('#time-add-form input[name=endDate]').val("");
                $('#time-add-button').html('<i class="icon-plus"></i>');
                $('#times-list').show();
            });
        });

        $(document).ready(function (){
            $("#time-add-input-start").datepicker({startDate: new Date()}).on('changeDate', function(e){$("#time-add-input-end" ).datepicker('setStartDate', e.date); $("#time-add-input-start").datepicker('hide');});
            $("#time-add-input-end").datepicker({startDate: new Date()}).on('changeDate', function(e){$("#time-add-input-end").datepicker('hide');});

            $('#times-favorite-time-icon').removeClass("icon-star").addClass("icon-spin icon-spinner");
            $.get('@routes.AdventureTimeController.getTimes(adv.getId)', function (result) {
                $('#times-favorite-time-name').html(result.favoriteTime != "" ? formatDate(result.favoriteTime.startDate) + " - " + formatDate(result.favoriteTime.endDate) : "@Messages("adventure.general.nofavourite.placeholder")");
                $('.btn-close-time').toggle(!!result.favoriteTime);

                $('#times-list tbody').empty();
                for(var id in result.times) {
                    renderTimeOption(result.times[id])
                }
                if (result.times.length){
                    $('#times-list').show();
                } else {
                    $('#times-list').hide();
                }

                $('.times-loading').hide();
                $('#times-favorite-time-icon').removeClass("icon-spin icon-spinner").addClass("icon-star");

                updateTimeVoteOpen(@adv.getTimeVoteOpen)
            });
        });

        function renderTimeOption(data, replace) {
        if(replace)
            replace.replaceWith(tmpl('time-template', data)).fadeIn();
        else
            $('#times-list tbody').append(tmpl('time-template', data));


        $('#timeoption-status-icon-' + data.timeId).addClass(voteTimeIconCSSClassMap[data.vote]);
        $('#timeoption-status-' + data.timeId).addClass(voteTimeButtonCSSClassMap[data.vote]);
        }


        var voteTimeIconCSSClassMap = {'YES': 'icon-thumbs-up', 'NO': 'icon-thumbs-down', 'MAYBE': 'icon-question'};
        var voteTimeButtonCSSClassMap = {'YES': 'btn-success', 'NO': 'btn-danger', 'MAYBE': 'btn-warning'};
        var voteTimeLabelCSSClassMap = {'YES': 'label-success', 'NO': 'label-important', 'MAYBE': 'label-warning'};


        $('#times-voting-active-switch').on('change', function () {
            $.post('@routes.AdventureController.updateTimeVoteOpen(adv.getId)', {voteOpen: $('#times-voting-active-switch').prop('checked')}, updateTimeVoteOpen);
        });

        function updateTimeVoteOpen(data) {

            if(data) {
            $('#times-list button').prop('disabled', false);
            $('#time-add-form').fadeIn();
            } else {
            $('#times-list button').prop('disabled', true);
            $('#time-add-form').fadeOut();
            }

        }


        function voteTime(vote, optId) {

            $('#timeoption-item-'+optId+' .dropdown-toggle')
                .html('<i class="icon-spin icon-spinner"></i>');
            $.ajax({
            url: '@routes.AdventureTimeController.vote(adv.getId, "")' + optId,
            data: {
            vote: vote
            },
            type: 'PUT',
            success: function(res) {
                renderTimeOption(res, $('#timeoption-item-' + res.timeId));
                $('#timeoption-item-'+res.timeId+' .dropdown-toggle')
                    .html('<i class="icon-pencil"></i>');
            }
            });
        }

        function deleteTime(optId, el) {
            $(el).html('<i class="icon-spin icon-spinner"></i>');
            $.ajax({url: '@routes.AdventureTimeController.deleteTime(adv.getId, "")' + optId, type: 'DELETE', success: function () {
                $('#timeoption-item-' + optId).fadeOut(function () {$('#timeoption-item-' + optId).remove();});
            }
            });
        }

</script>