@(adv: models.adventure.Adventure, advr: models.adventure.Adventurer)

@import models.dao.TodoDAO
@import models.dao.UserDAO
@import models.dao.AdventurerDAO
@import models.adventure.checklist.EStatus
@import models.adventure.EAdventurerParticipation

@if(adv != null && advr != null) {
    <table id="todos-list" class="table table-striped table-hover table-my-todos">
        <thead>
        <tr>
            <th colspan="2">@Messages("adventure.todos.listheading")</th>
            <th></th>
            <th class="text-center">@Messages("adventure.general.listactions")</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="row">
        <div class="input-group col-lg-6">
            <input id="todo-title" type="text" placeholder="@Messages("adventure.todos.placeholder")" class="form-control"/>
            <div class="input-group-btn">
                <button id="btn-add-todo" class="btn btn-primary" type="button"><i class="icon-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="spacer30"></div>
    <h3>@Messages("adventure.todos.otherAdventurer")</h3>

    <div id="todos-adventurers-selection" style="overflow: hidden;">
    @defining(new AdventurerDAO()){ advrDAO =>
        @advrDAO.all(adv.getId()).filter(advr => !(advr.getParticipationStatus().equals(EAdventurerParticipation.APPLICANT) && advr.getParticipationStatus().equals(EAdventurerParticipation.INVITEE))).filter(!_.getUserId.equals(advr.getUserId)).zipWithIndex.map{ case(coadvr, idx) =>
            @defining(new UserDAO().get(coadvr.getUserId())) { user =>
                <div id="todos-adventurer-@user.getId" class="polaroid" style="position: relative; float: left; margin-right: 20px; margin-bottom: 20px;">
                    <a onclick="loadAdventurerTodos('@coadvr.getUserId')">
                        <img style="margin: 0px;" title="@user.getName" @if(user.getImage() == null) {src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image"} else {src="http://i.embed.ly/1/image/crop?width=100&height=100&url=@user.getImage()&key=2c8ef5b200c6468f9f863bc75c46009f"}>
                    </a>
                    <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 10px !important;">
                        <div style="line-height: 10px;"><a onclick="loadAdventurerTodos('@coadvr.getUserId')">@if(user.getName){@user.getName().replaceAll(" [^ ]*$", "")}else{Unknown}</a></div>
                    </div>
                </div>
                @if(idx == 0){<script>$(document).ready(function () {loadAdventurerTodos('@coadvr.getUserId');});</script>}
            }
        }
    }
    </div>

    <table id="todos-adventurers-list" class="table table-striped table-hover stash">
        <thead>
        <tr>
            <th colspan="2">@Messages("adventure.todos.listheading")</th>
            <th></th>
            <th class="text-center">@Messages("adventure.general.listactions")</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <div id="amazon-affiliate" class="modal fade" tabindex="-1" role="dialog" style="color: black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"> @Messages("adventure.todos.amazon.title") </h3>
                </div>
                <div class="modal-body"><div><i class="icon-spinner icon-spin"></i></div><div class="content"></div></div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal"><i class="icon-remove"></i> @Messages("adventure.general.button.close")</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-tmpl" id="todo-template">
        <tr class="status-{%=o.status%} todo-entry" data-id="{%=o.id%}">
            <td><button class="btn btn-primary btn-check"><i class="icon-check{% if(o.status != '@EStatus.COMPLETE'){ %}{%=String('-empty')%}{% } %}"></i></button></td>
            <td style="width:100%;">{%=o.title%}</td>
            <td><a class="btn btn-link btn-affiliate"> @Messages("adventure.todos.amazon.purchase") </a></td>
            <td class="text-center"><button class="btn btn-danger btn-delete"><i class="icon-trash"></i></button></td>
        </tr>
    </script>
    <script type="text/x-tmpl" id="todo-adventurer-template">
        <tr class="status-{%=o.status%} todo-entry" data-id="{%=o.id%}">
            <td><i class="icon-check{% if(o.status != '@EStatus.COMPLETE'){ %}{%=String('-empty')%}{% } %}"></i></td>
            <td style="width:100%;">{%=o.title%}</td>
            <td><a class="btn btn-link btn-affiliate"> @Messages("adventure.todos.amazon.purchase") </a></td>
            <td class="text-center"><button class="btn btn-primary btn-copy" title="Copy todo to my list."><i class="icon-plus"></i></button></td>
        </tr>
    </script>
    <script type="text/x-tmpl" id="todo-affiliate-template">
        <div class="media" style="max-height: 200px">
            <a class="pull-left" href="{%=o.url%}" target="_blank">
                <img class="media-object" src="{%=o.image%}" alt="{%=o.title%} thumbnail" style="width: 100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a class="pull-left" href="{%=o.url%}" target="_blank">{%=o.title%}</a> {%=o.price%}</h4>
                {%=o.description%} <a href="{%=o.url%}" target="_blank"> @Messages("adventure.general.button.more") </a>
            </div>
        </div>
    </script>

    <script type="text/javascript">


            $(document).ready(function () {

                loadUserTodos();

                $('#todos-button-refresh' ).click(function (){loadUserTodos();});

            });

            function loadUserTodos() {
                loadTodos('@advr.getUserId', '#todos-list', 'todo-template', activateUserButtonListener);
            }

            function loadAdventurerTodos(advrId) {
                $('#todos-adventurers-selection > div').css('border', '');
                $('#todos-adventurer-' + advrId).css('border',  '3px solid green');
                loadTodos(advrId, '#todos-adventurers-list', 'todo-adventurer-template', activateAdventurerButtonListener);
            }

            function loadTodos(userId, target, template, activator) {
                $('#todos-button-refresh i').addClass("icon-spin");
                $.get('@routes.AdventureTodoController.getTodos(adv.getId, "")' + userId, function (results){
                    $(target + ' tbody').empty();

                    for (var todo in results)
                        renderTodo(results[todo], target, template);

                    if (results.length) {
                        $(target).show();
                        activator();
                    } else
                        $(target).hide();

                    $('#todos-button-refresh i').removeClass("icon-spin");
                });
            }

            function renderTodo(data, target, template, replace) {
                if(replace)
                    replace.replaceWith(tmpl(template, data)).fadeIn();
                else
                    $(target + ' tbody').append(tmpl(template, data));


            }

        $('#todo-title').on('keydown', function(e){
            if (e.keyCode==13){
                $('#btn-add-todo').click();
            }
        });

        $('#btn-add-todo').on('click', function() {
            $(this).html('<i class="icon-spin icon-spinner"></i>');
            var btn = $(this),
            fld = $('#todo-title');

            $.post('@routes.AdventureTodoController.addTodo(adv.getId)', { title: fld.val() }, function(res) {
                //$('.table-my-todos  tbody').append($(tmpl('todo-template', res).trim()).fadeIn());
                //activateUserButtonListener();
                loadUserTodos();
                fld.val("");
                $('#btn-add-todo').html('<i class="icon-plus"></i>')
            });
        });



        function activateUserButtonListener() {
            $('#todos-list tbody .btn-check').on('click', function() {

                var input = $(this),
                    tr = input.parents('.todo-entry'),
                    id = tr.attr('data-id'),
                    i = tr.find('.btn-check i'),
                    complete = i.is('.icon-check-empty');

                i.removeClass('icon-check, icon-check-empty').addClass('icon-spin icon-spinner');

                $.ajax({
                    url: '@routes.AdventureTodoController.setTodo(adv.getId(), "")' + id,
                    data: {
                        status: complete ? "@EStatus.COMPLETE" : "@EStatus.NEW"
                    },
                    type: 'PUT',
                    success: function(res) {
                        tr.get(0).className = 'status-' + res.status + ' todo-entry';
                        i.removeClass('icon-spin icon-spinner').addClass(res.status == '@EStatus.COMPLETE' ? 'icon-check' : 'icon-check-empty');
                    }
                });

                return false;
            });

            $('#todos-list tbody .btn-delete').on('click', function(e) {
                $(this).html('<i class="icon-spin icon-spinner"></i>');
                e.preventDefault();

                var a = $(this),
                    tr = a.parents('.todo-entry'),
                    id = tr.data('id');

                $.ajax({
                    url: '@routes.AdventureTodoController.deleteTodo(adv.getId(), "")' + id,
                    type: 'DELETE',
                    success: function(res) {
                        tr.fadeOut(function() {
                            tr.remove();
                        });
                    }
                });

            });

            $('#todos-list tbody .btn-affiliate').on('click', function(e) {
                //$(this).html('<i class="icon-spin icon-spinner"></i>');
                e.preventDefault();

                var a = $(this),
                tr = a.parents('.todo-entry'),
                id = tr.data('id');

                $('#amazon-affiliate .modal-content .modal-body .content').first().empty();
                $('#amazon-affiliate .modal-content .modal-body .icon-spin').first().removeClass('stash');
                $('#amazon-affiliate').modal();

                $.get('@routes.AdventureTodoController.getTodoAffiliateItems(adv.getId())', {id: id}, function(res) {
                    if(!res.length) $('#amazon-affiliate .modal-content .modal-body .content').first().html('@Messages("adventure.todos.amazon.noItems")');

                    for(var i in res)
                        $('#amazon-affiliate .modal-content .modal-body .content').first().append(tmpl('todo-affiliate-template', res[i]));

                    $('#amazon-affiliate .modal-content .modal-body .icon-spin').first().addClass('stash');
                });

            });
        }

        function activateAdventurerButtonListener() {
            $('#todos-adventurers-list tbody .btn-copy').on('click', function(e) {
                e.preventDefault();

                var btn = $(this),
                    tr = btn.parents('.todo-entry'),
                    td = tr.find('td'),
                    title = $(td[1]).text();

                btn.html('<i class="icon-spin icon-spinner"></i>');

                $.post('@routes.AdventureTodoController.addTodo(adv.getId)', {title: title}, function(res) {
                    $('.table-my-todos tbody').append($(tmpl('todo-template', res).trim()).fadeIn());
                    btn.html('<i class="icon-plus"></i>');
                });
            });

            $('#todos-adventurers-list tbody .btn-affiliate').on('click', function(e) {
                //$(this).html('<i class="icon-spin icon-spinner"></i>');
                e.preventDefault();

                var a = $(this),
                    tr = a.parents('.todo-entry'),
                    id = tr.data('id');

                $('#amazon-affiliate .modal-content .modal-body .content').first().empty();
                $('#amazon-affiliate .modal-content .modal-body .icon-spin').first().removeClass('stash');
                $('#amazon-affiliate').modal();

                $.get('@routes.AdventureTodoController.getTodoAffiliateItems(adv.getId())', {id: id}, function(res) {
                    if(!res.length) $('#amazon-affiliate .modal-content .modal-body .content').first().html('@Messages("adventure.todos.amazon.noItems")');

                    for(var i in res)
                        $('#amazon-affiliate .modal-content .modal-body .content').first().append(tmpl('todo-affiliate-template', res[i]));

                    $('#amazon-affiliate .modal-content .modal-body .icon-spin').first().addClass('stash');
                });

            });
        }

    </script>

}
