@(adv: models.adventure.Adventure, advr: models.adventure.Adventurer)

@import models.dao.TodoDAO
@import models.dao.UserDAO
@import models.adventure.checklist.EStatus

    @if(adv != null && advr != null) {
@defining(advr.getUserId()) { user =>
        @if(user != null) {
@defining(new TodoDAO().allByUser(adv.getId())) { list =>
<table class="table table-striped table-hover table-my-todos">
    <thead>
    <tr>
        <th colspan="2">@Messages("adventure.todos.listheading")</th>
        <th class="text-center">@Messages("adventure.general.listactions")</th>
    </tr>
    </thead>
    <tbody>
    @if(list.containsKey(user)){
    @for(todo <- list.get(user)) {
        <tr class="status-@todo.getStatus() todo-entry" data-id="@todo.getId()">
            <td><a href="#" class="btn btn-primary btn-check"><i class="icon-check@if(todo.getStatus()!=EStatus.COMPLETE){-empty}"></i></a></td>
            <td style="width:100%;">@todo.getTitle()</td>
            <td class="text-center"><a href="#" class="btn btn-danger btn-delete"><i class="icon-trash"></i></td>
        </tr>
    }
    }
    </tbody>
</table>


<div class="row">
    <div class="input-group col-6">
        <input id="todo-title" type="text" placeholder="Add an important thing" class="form-control"/>
        <div class="input-group-btn">
            <button id="btn-add-todo" class="btn btn-primary" type="button"><i class="icon-plus"></i></button>
        </div>
    </div>
</div>

<div class="spacer30"></div>

@for(usr <- list.keySet()) {
@if(usr != null && usr != user){
    @defining(new UserDAO().get(usr)) { userOfTodos =>
        @if(userOfTodos != null){
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="2">@userOfTodos.getName()</th>
        <th class="text-center">@Messages("adventure.general.listactions")</th>
    </tr>
    </thead>
    <tbody>
    @for(todo <- list.get(usr)) {
        <tr>
            <td><i class="icon-check@if(todo.getStatus()!=EStatus.COMPLETE){-empty}" style="margin: 13px;"></i></td>
            <td style="width:100%;">@todo.getTitle()</td>
            <td class="text-center"><a href="#" class="btn btn-primary btn-copy" title="Copy todo to my list."><i class="icon-plus"></i></a></td>
        </tr>
    }
    </tbody>
</table>
        }
    }
}
}

<script type="text/x-tmpl" id="todo-template">
    <tr class="status-{%=o.status%} todo-entry" data-id="{%=o.id%}"> 
        <td><a href="#" class="btn btn-primary btn-check"><i class="icon-check-empty"></i></a></td>
        <td style="width:100%;">{%=o.title%}</td>
        <td class="text-center"><a href="#" class="btn btn-danger btn-delete"><i class="icon-trash"></i></a></td>
    </tr>
</script>

<script type="text/javascript">
    $(function() {

    $('#todo-title').on('keydown', function(e){
        if (e.keyCode==13){
            $('#btn-add-todo').click();
        }
    });

    $('#btn-add-todo').on('click', function() {
        $(this).html('<i class="icon-spin icon-spinner"></i>');
        var btn = $(this),
        fld = $('#todo-title');

        $.post('@routes.AdventureTodoController.addTodo(adv.getId)', { title: fld.val() }, function(res) { 
            $('.table-my-todos  tbody')
                .append($(tmpl('todo-template', res).trim()).fadeIn());
            fld.val("");
            $('#btn-add-todo').html('<i class="icon-plus"></i>')
        });
    });


    $('table.table-my-todos').on('click', '.btn-check', function() {

        var input = $(this),
            tr = input.parents('.todo-entry'),
            id = tr.attr('data-id'),
            i = tr.find('.btn-check i'),
            complete = i.is('.icon-check-empty');

        i.removeClass('icon-check, icon-check-empty').addClass('icon-spin icon-spinner');

        $.ajax({
            url: '@routes.AdventureTodoController.setTodo(adv.getId(), "")' + id,
            data: {
                status: complete ? "COMPLETE" : "NEW"
            },
            type: 'PUT',
            success: function(res) {
                tr.get(0).className = 'status-' + res.status + ' todo-entry';
                i.removeClass('icon-spin icon-spinner').addClass(res.status == 'COMPLETE' ? 'icon-check' : 'icon-check-empty');
            }
        });

        return false;
    });

    $('table.table-my-todos').on('click', 'a.btn-delete', function(e) {
        $(this).html('<i class="icon-spin icon-spinner"></i>');
        e.preventDefault();

        var a = $(this),
            tr = a.parents('.todo-entry'),
            id = tr.attr('data-id');

    $.ajax({
    url: '@routes.AdventureTodoController.deleteTodo(adv.getId(), "")' + id,
    type: 'DELETE',
    success: function(res) {
    tr.fadeOut(function() {
    tr.remove();
    });
    }
    });

    });

    $('.btn-copy')
    .on('click', function(e) {
        e.preventDefault();

        var btn = $(this),
            tr = btn.parents('tr'),
            td = tr.find('td'),
            title = $(td[1]).text();

        btn.html('<i class="icon-spin icon-spinner"></i>');

        $.post('@routes.AdventureTodoController.addTodo(adv.getId)', {
            title: title
            }, function(res) {
                $('.table-my-todos tbody').append($(tmpl('todo-template', res).trim()).fadeIn());
                btn.html('<i class="icon-plus"></i>');
            });
        });


    });


</script>

} }
}
    }