@(user: models.user.User)

@import models.notifications.ENotificationFrequency

@main("User Profile") {
    <h1>User Profile of @user.getName</h1>
} {

    <table class="table table-striped table-hover">
        <tbody>
            <tr><th><i class="icon-tag"></i> Name</th><td>@user.getName</td></tr>
            <tr><th><i class="icon-user"></i> Status</th><td>@user.getRole</td></tr>
            <tr><th><i class="icon-bell"></i> Email Notifications</th>
                <td>
                    <div class="btn-group btn-select-notification-frequency">
                        <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.IMMEDIATELY) {active}"
                        href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.IMMEDIATELY.toString)"><i class="icon-exclamation-sign"></i> Immediately</button>
                        <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.DAILY) {active}"
                        href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.DAILY.toString)"><i class="icon-time"></i> Daily</button>
                        <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.WEEKLY) {active}"
                        href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.WEEKLY.toString)"><i class="icon-calendar"></i> Weekly</button>
                        <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.NONE) {active}"
                        href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.NONE.toString)"><i class="icon-stop"></i> None</button>
                     </div>
                </td></tr>
            <tr><th>Adventures</th><td>???</td></tr>
        </tbody>
    </table>

    <script>
        $('.btn-select-notification-frequency button').click(function(){
        var el = $(this),
        html = el.html();

        el.css({width:el.width()+"px"})
        .html('<i class="icon-spin icon-spinner"></i>');

        $.post(el.attr('href'), function(json){
        var state = json;

        el.css({width:""})
        .html(html);

        el.parent().find('.active').removeClass('active');
        el.addClass('active');
        });
        return false;
        });
    </script>


    <h2>Badges</h2>
    <div>MegaBadge</div>
}