@(user: models.user.User)

@import models.notifications.ENotificationFrequency
@import models.dao.UserDAO
@import com.feth.play.module.pa.PlayAuthenticate

@main("User Profile") { } {

    <div class="prime-image">
        <div style="width: 100%;">
            <img id="user-prime-image" style="width: 100%; height: 200;" @if(user.getImage == null){src="http://www.placehold.it/1200x200/AAAAAA/EFEFEF&text=No+image"}else{src="http://i.embed.ly/1/image/crop?height=200&width=1200&url=@user.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"}/>
        </div>

        <div class="title-name">
            @user.getName <small>- @user.getRole</small>
        </div>
        <div class="toolbar">
        </div>
    </div>
    @if(user.getId.equals(new UserDAO().findByAuthUserIdentity(PlayAuthenticate.getUser(Http.Context.current())).getId())){
    <div class="jrn-container">
        <h2 id="options"><i class="fa fa-cogs"></i> @Messages("user.options") </h2>
        <div class="row">
            <div class="col-lg-12">
                @Messages("user.notify")
                 <div class="btn-group btn-select-notification-frequency">

                    <button class="btn btn-default @if(user.getNotificationDigest == ENotificationFrequency.IMMEDIATELY) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.IMMEDIATELY.toString)"><i class="fa fa-exclamation-sign"></i> @Messages("user.notify.immediately") </button>
                    <button class="btn btn-default @if(user.getNotificationDigest == ENotificationFrequency.DAILY) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.DAILY.toString)"><i class="fa fa-time"></i> @Messages("user.notify.daily") </button>
                    <button class="btn btn-default @if(user.getNotificationDigest == ENotificationFrequency.WEEKLY) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.WEEKLY.toString)"><i class="fa fa-calendar"></i> @Messages("user.notify.weekly") </button>
                    <button class="btn btn-default @if(user.getNotificationDigest == ENotificationFrequency.NONE) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.NONE.toString)"><i class="fa fa-stop"></i> @Messages("user.notify.none") </button>
                 </div>

                <script>
                    $('.btn-select-notification-frequency button').click(function(){
                    var el = $(this),
                    html = el.html();

                    el.css({width:el.width()+"px"})
                    .html('<i class="fa fa-spin icon-journwe"></i>');

                    $.post(el.attr('href'), function(json){
                    var state = json;

                    el.css({width:""})
                    .html(html);

                    el.parent().find('.active').removeClass('active');
                    el.addClass('active');
                    });
                    return false;
                    });
                </script>
            </div>
        </div>

    </div>
    }

    <div class="jrn-container">
        <h2 id="jorunwes"><i class="fa fa-compass"></i> @Messages("index.myJournWes") <small>- <span id="adventures-user-count">0</span></small></h2>
        <div id="adventures-user-list" class="row" style="overflow: hidden">
             <i class="fa fa-spin icon-journwe stash"></i>
        </div>
        <script type="text/x-tmpl" id="adventure-user-template">
            <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
                <img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=204&height=204&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}">
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                    <div style="line-height: 20px;"><h4>{%=o.name%}</h4></div>
                    <div class="overlay text-center" style="display: none;">
                        <span class="label" style="background-color: rgba(184, 246, 145, 0.5);" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</span>
                        <span class="label" style="background-color: rgba(235, 114, 104, 0.5);" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}</span>
                        <span class="label" style="background-color: rgba(152, 229, 251, 0.5);" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</span>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/javascript">
        $(document).ready(function(){

            loadUserAdventures(true);

        });

        function loadUserAdventures(clear) {
            $('#adventures-user-list i').removeClass('stash');
            $.get('@routes.UserController.getAdventures(user.getId)', {count: 10} , function (advs) {
                $('#adventures-user-count').html(advs.count);

                if (clear) $('#adventures-user-list').empty();
                for(var i in advs.adventures) {
                    $('#adventures-user-list').append(tmpl('adventure-user-template', advs.adventures[i]));
                }

                $('#adventures-user-list .polaroid').hide().fadeIn().hover(
                function(){
                    $(this).find("div.overlay").slideDown("fast");
                },
                function(){
                    $(this).find("div.overlay").slideUp("fast");
                }
                );
                $('#adventures-user-list i').addClass('stash');
            });
        }
        </script>
    </div>


    <div class="jrn-container">
        <h2 id="badges"><i class="fa fa-trophy"></i> @Messages("user.badges") <small>- 1</small></h2>
        <div class="row" style="overflow: hidden">
            <div style="position: relative; float: left; width: 20%;">
                <img style="margin: 0px; width: 100%;" src="@routes.Assets.at("img/badge/welcome_journwe.png")" title="Welcome to JournWe Badge">
            </div>
        </div>
    </div>

}