@(user: models.user.User)

@import models.notifications.ENotificationFrequency
@import models.dao.UserDAO
@import com.feth.play.module.pa.PlayAuthenticate

@main("User Profile") { } {

    <div class="prime-image">
        <div style="width: 100%;">
            <img id="user-prime-image" style="width: 100%; height: 200;" @if(user.getImage == null){src="http://www.placehold.it/1200x200/AAAAAA/EFEFEF&text=No+image"}else{src="http://i.embed.ly/1/image/crop?height=200&width=1200&url=@user.getImage&key=2c8ef5b200c6468f9f863bc75c46009f"}/>
        </div>

        <div class="title-name">
            @user.getName <small>- @user.getRole</small>
        </div>
        <div class="toolbar">
        </div>
    </div>
    @if(!user.getId.equals(new UserDAO().findByAuthUserIdentity(PlayAuthenticate.getUser(Http.Context.current())).getId())){
    <div class="jrn-container">
        <h2 id="options"><i class="icon-cogs"></i> User Options</h2>
        <div class="row">
            <div class="col-12">
                I want to be notified...
                 <div class="btn-group btn-select-notification-frequency">

                    <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.IMMEDIATELY) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.IMMEDIATELY.toString)"><i class="icon-exclamation-sign"></i> Immediately</button>
                    <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.DAILY) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.DAILY.toString)"><i class="icon-time"></i> Daily</button>
                    <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.WEEKLY) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.WEEKLY.toString)"><i class="icon-calendar"></i> Weekly</button>
                    <button class="btn @if(user.getNotificationDigest == ENotificationFrequency.NONE) {active}"
                    href="@routes.UserController.setMailDigestFrequency(user.getId, ENotificationFrequency.NONE.toString)"><i class="icon-stop"></i> None</button>
                 </div>

                <script>
                    $('.btn-select-notification-frequency button').click(function(){
                    var el = $(this),
                    html = el.html();

                    el.css({width:el.width()+"px"})
                    .html('<i class="icon-spin icon-spinner"></i>');

                    $.post(el.attr('href'), function(json){
                    var state = json;

                    el.css({width:""})
                    .html(html);

                    el.parent().find('.active').removeClass('active');
                    el.addClass('active');
                    });
                    return false;
                    });
                </script>
            </div>
        </div>

    </div>
    }

    <div class="jrn-container">
        <h2 id="jorunwes"><i class="icon-compass"></i> JournWes <small>- 400</small></h2>
        <div class="row">
            <div class="col-12">
                JournWes parade, just a few...
            </div>
        </div>
    </div>


    <div class="jrn-container">
        <h2 id="badges"><i class="icon-trophy"></i> Badges <small>- 10</small></h2>
        <div class="row">
            <div class="col-12">
                Badges...
            </div>
        </div>
    </div>

}