@import com.feth.play.module.pa.providers.AuthProvider.Registry
@import com.feth.play.module.pa.views.html._

    @main(Messages("journwe.subtitle")) { }{
    <div class="container">
        <section class="jrn-container text-center headline" style="background-size: cover; background-image:url('@routes.Assets.at("img/japan_logo.jpg")');">
            <div class="row text-success">
                <div class="col-xs-3 col-xs-offset-1">
                    <img src="@routes.Assets.at("img/journwe_group_logo.png")" alt="JournWe Logo, Travel together.">
                </div>
                <div class="col-xs-4">
                    <div class="title">Journ<strong>We</strong></div>
                    <div class="subtitle">@Messages("journwe.subtitle")</div>
                    <div class="spacer20"></div>
                    <a class="btn btn-lg btn-success btn-start-tour" href="#start">@Messages("landing.calltoaction") <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </section>

        @tour(false)

        <script src="@routes.Assets.at("javascripts/modules/landing.js").url" type="text/javascript"></script>

        <div class="jrn-container">
            <h2>@Messages("landing.feature")</h2>
            
            <div class="row landing-statement">
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_adventurer2.png")"></div>
                </div>
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH1")</h4>
                    @Messages("landing.featureT1")
                </div>
            </div>

            <div class="row landing-statement">
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH2")</h4>
                    @Messages("landing.featureT2")
                </div>
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_emails.png")"></div>
                </div>
            </div>

            <div class="row landing-statement">
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_todos.png")"></div>
                </div>
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH3")</h4>
                    @Messages("landing.featureT3")
                </div>
            </div>

            <div class="row landing-statement">
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH4")</h4>
                    @Messages("landing.featureT4")
                </div>
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_files2.png")"></div>
                </div>
            </div>



            <div class="row landing-statement">
                <div class="col-md-6 col-xs-12">
                  <h4><i class="fa fa-wrench"></i> @Messages("landing.beta.title")</h4>
                    @Messages("landing.beta.text")
                </div>
                <div class="col-md-6 col-xs-12">
                  <h4><i class="fa fa-money"></i> @Messages("landing.b2b.title")</h4>
                    @Html(Messages("landing.b2b.text"))
                    <div class="spacer10"></div>
                    <div class="pull-right"><a class="btn btn-default" href="/contact"><i class="fa fa-envelope-o"></i> Contact</a></div>
                </div>
            </div>
            <div class="row landing-statement"></div>
        </div>
    </div>
    }