@import com.feth.play.module.pa.PlayAuthenticate
@import com.feth.play.module.pa.views.html._
@import helper._
@import helper.twitterBootstrap._
@import models.providers.MyUsernamePasswordAuthProvider

@main(Messages("journwe.subtitle")) { } {

    <section class="headline-section">
        <div class="container text-center">
            <div class="text-success">
                <div class="title"><img src="@controllers.core.html.routes.CDNAssetsController.at("img/journwe_logo.png")">Journ<strong>We</strong></div>
                <div class="subtitle">Travel Together.</div>
            </div>
        </div>
    </section>

    <section class="landing-section" style="background-color : #eeeef6;">
        <div class="container text-center">
            <div class="text-success">
                <h1 id="start">Do you still use Emails, Facebook, and Whatsapp<br> to organize a trip with your friends?</h1>
                <h2>JournWe takes over the hassle, you travel with your friends.</h2>
                <div class="spacer20"></div>
                <div class="btn-toolbar"><a class="btn btn-lg btn-success btn-start" href="#start">@Messages("landing.calltoaction") <i class="fa fa-angle-right"></i></a><a class="btn btn-default" href="@core.html.routes.ApplicationController.about()">Learn more</a> </div>
            </div>
        </div>
    </section>

    <section class="landing-section landing-section-start stash" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <h3>@Messages("landing.signin.title")</h3>
                    <p class="lead">This will allow you to invite friends from your social network.</p>
                    <ul class="nav nav-pills nav-stacked ">
                    @forProviders() { p =>
                        <li><a href="@p.getUrl()"><i class="fa fa-@(if(p.getKey().toLowerCase()=="google"){"google-plus"}else{p.getKey().toLowerCase()}) fa-fw"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase)</a></li>
                    }
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-2">
                    <h3>@Messages("landing.register.title")</h3>

                    @helper.form(core.html.routes.ApplicationController.doSignup(), 'class -> "login") {

                        <div class="row">
                            @inputText(
                                MyUsernamePasswordAuthProvider.LOGIN_FORM("email"),
                                '_showConstraints -> false,
                                '_label -> null,
                                '_class -> "form-group col-xs-6",
                                'placeholder -> Messages("playauthenticate.login.email.placeholder"),
                                'class -> "form-control",
                                'required -> true,
                                'type -> "email"
                            )

                            @inputPassword(
                                MyUsernamePasswordAuthProvider.LOGIN_FORM("password"),
                                '_showConstraints -> false,
                                '_label -> null,
                                '_class -> "form-group col-xs-6",
                                'placeholder -> Messages("playauthenticate.login.password.placeholder"),
                                'class -> "form-control",
                                'required -> true
                            )
                        </div>
                        <div class="row">
                            <button type="submit" class="col-xs-12 btn btn-primary" href="@core.html.routes.ApplicationController.signup">@Messages("playauthenticate.login.register")</button>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>

    <section class="landing-section" style="background-color: #fff;">
        <div class="container text-center">
            <h2>Discuss, plan, organize in one place with Journ<strong>We</strong>.</h2>
            <div class="spacer20"></div>
            <div><img src="@controllers.core.html.routes.CDNAssetsController.at("img/landing/landing-journwe-explain.png")" style="50%"></div>
            <div class="spacer20"></div>
            <div>Also: share <em>Todos and Documents</em>, use a dedicated <em>Group Email Address</em>, and correspond with Travel Guides &amp; Agencies.</div>
            <div class="spacer20"></div>
        </div>
    </section>

    <section class="landing-section" style="background-color : #bbb;">
        <div class="container">
            <div class="row landing-story">
                <div class="col-xs-12 visible-xs"><img style="width: 100%;" src="@controllers.core.html.routes.CDNAssetsController.at("img/landing/story-reunion.jpg")"></div>
                <div class="col-xs-12 col-md-8">
                    <h2>"@Messages("landing.story1.title")" - Jane</h2>
                    <p class="lead">@Messages("landing.story1.text")</p>
                </div>
                <div class="col-md-4 hidden-xs"><img style="width: 100%;" src="@controllers.core.html.routes.CDNAssetsController.at("img/landing/story-reunion.jpg")"></div>
            </div>
        </div>
    </section>


    <section class="landing-section" style="background-color : #c3c3c3;">
        <div class="container">
            <div class="row landing-story">
                <div class="col-xs-12 col-md-4"><img style="width: 100%;" src="@controllers.core.html.routes.CDNAssetsController.at("img/landing/story-la-tomatina.jpg")"></div>
                <div class="col-xs-12 col-md-8">
                    <h2>"@Messages("landing.story2.title")" - Conan</h2>
                    <p class="lead">@Messages("landing.story2.text")</p>
                </div>
            </div>
        </div>
    </section>

    <section class="landing-section" style="background-color : #bbb;">
        <div class="container">
            <div class="row landing-story">
                <div class="col-xs-12 visible-xs"><img style="width: 100%;" src="@controllers.core.html.routes.CDNAssetsController.at("img/story-burning-man.jpg")"></div>
                <div class="col-xs-12 col-md-8">
                    <h2>"@Messages("landing.story3.title")" - Michelle</h2>
                    <p class="lead">@Messages("landing.story3.text")</p>
                </div>
                <div class="col-md-4 hidden-xs"><img style="width: 100%;" src="@controllers.core.html.routes.CDNAssetsController.at("img/story-burning-man.jpg")"></div>
            </div>
        </div>
    </section>

    <section class="landing-section" style="background-color: #DAD4D4;">
        <div class="container text-center">
            <h2>Get Inspired.</h2>
            <p class="lead">Browse our catalog of inspiring adventures and invite your friends.</p>
            <div class="spacer20"></div>
            <div style="">
                <div id="categories-list">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script type="text/x-tmpl" id="category-template">
            <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
                <a href="{%=o.link%}">
                    <img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}">
                    <div style="position: absolute; bottom: 0px; right: 0px; left: 0px; top: 0px; padding: 0px;">
                        <img class="img-rounded" src="@routes.Assets.at("img/overlay/category_overlay.png")" style="width: 100%; height: 100%; margin: 0px;">
                    </div>
                </a>
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                    <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%} <span class="badge badge-info">{%=o.count%}</span></a></h4></div>
                </div>
            </div>
        </script>
        <div class="spacer20"></div>
    </section>

    @*
    <div class="container">
        <section class="jrn-container text-center headline" style="background-size : cover ; background-image : url ( ' @routes.Assets.at("img/japan_logo.jpg") ');">
            <div class="row text-success">
                <div class="col-xs-3 col-xs-offset-1">
                    <img src="@routes.Assets.at("img/journwe_group_logo.png")" alt="JournWe Logo, Travel together.">
                </div>
                <div class="col-xs-4">
                    <div class="title">Journ<strong>We</strong></div>
                    <div class="subtitle">@Messages("journwe.subtitle")</div>
                    <div class="spacer20"></div>
                    <a class="btn btn-lg btn-success btn-start-tour" href="#start">@Messages("landing.calltoaction") <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </section>

        @tour(false)

        <div class="jrn-container">
            <h2>@Messages("landing.feature")</h2>

            <div class="row landing-statement">
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_adventurer2.png")"></div>
                </div>
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH1")</h4>
                    @Messages("landing.featureT1")
                </div>
            </div>

            <div class="row landing-statement">
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH2")</h4>
                    @Messages("landing.featureT2")
                </div>
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_emails.png")"></div>
                </div>
            </div>

            <div class="row landing-statement">
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_todos.png")"></div>
                </div>
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH3")</h4>
                    @Messages("landing.featureT3")
                </div>
            </div>

            <div class="row landing-statement">
                <div class="col-md-5">
                    <h4>@Messages("landing.featureH4")</h4>
                    @Messages("landing.featureT4")
                </div>
                <div class="col-md-7 landing">
                    <div><img src="@routes.Assets.at("img/landing/landing_files2.png")"></div>
                </div>
            </div>


            <div class="row landing-statement">
                <div class="col-md-6 col-xs-12">
                    <h4><i class="fa fa-wrench"></i> @Messages("landing.beta.title")</h4>
                    @Messages("landing.beta.text")
                </div>
                <div class="col-md-6 col-xs-12">
                    <h4><i class="fa fa-money"></i> @Messages("landing.b2b.title")</h4>
                    @Html(Messages("landing.b2b.text"))
                    <div class="spacer10"></div>
                    <div class="pull-right"><a class="btn btn-default" href="/contact"><i class="fa fa-envelope-o"></i>
                        Contact</a></div>
                </div>
            </div>
            <div class="row landing-statement"></div>
        </div>
    </div>
    *@
}(Html.empty, "landing")