<section class="jrn-container quickintro">
    <h2>JournWe, <small>travel together.</small></h2>
    <p class="lead">@Messages("landing.welcometext")</p>

    <ul class="nav nav-tabs nav-justified nav-quickintro">
        <li class="active friends"><a href="#quickintro-explain" data-slide-to="0" data-toggle="tab"><i class="fa fa-facebook"></i> @Messages("landing.invite.heading")</a></li>
        <li class="place"><a href="#quickintro-explain" data-slide-to="1" data-toggle="tab"><i class="fa fa-globe"></i> @Messages("landing.placetime.heading")</a></li>
        <li class="organize"><a href="#quickintro-explain" data-slide-to="2" data-toggle="tab"><i class="fa fa-group"></i> @Messages("landing.organize.heading")</a></li>
        <li class="fun"><a href="#quickintro-explain" data-slide-to="3" data-toggle="tab"><i class="fa fa-glass"></i> @Messages("landing.fun.heading")</a></li>
    </ul>

    <div id="quickintro-explain" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#quickintro-explain" data-slide-to="0" class="active"></li>
            <li data-target="#quickintro-explain" data-slide-to="1"></li>
            <li data-target="#quickintro-explain" data-slide-to="2"></li>
            <li data-target="#quickintro-explain" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active" data-tab-class="friends">
                <img width="100%" height="300" src="@routes.Assets.at("img/quickintro/invite.png")">
                <div class="carousel-caption" style="background-color: rgba(20, 20, 20, 0.3)">
                    <h3>@Messages("landing.invite.heading")</h3>
                    <p>@Messages("landing.invite.subtitle")</p>
                </div>
            </div>
            <div class="item" data-tab-class="place">
                <img width="100%" height="300" src="@routes.Assets.at("img/quickintro/place.png")">
                <div class="carousel-caption" style="background-color: rgba(20, 20, 20, 0.3)">
                    <h3>@Messages("landing.placetime.heading")</h3>
                    <p>@Messages("landing.placetime.subtitle")</p>
                </div>
            </div>
            <div class="item" data-tab-class="organize">
                <img width="100%" height="300" src="@routes.Assets.at("img/quickintro/organize.png")">
                <div class="carousel-caption" style="background-color: rgba(20, 20, 20, 0.3)">
                    <h3>@Messages("landing.organize.heading")</h3>
                    <p>@Messages("landing.organize.subtitle")</p>
                </div>
            </div>
            <div class="item" data-tab-class="fun">
                <img width="100%" height="300" src="@routes.Assets.at("img/quickintro/fun.png")">
                <div class="carousel-caption" style="background-color: rgba(20, 20, 20, 0.3)">
                    <h3>@Messages("landing.fun.heading")</h3>
                    <p>@Messages("landing.fun.subtitle")</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#quickintro-explain" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#quickintro-explain" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <script src="@routes.Assets.at("javascripts/quickintro.js").url" type="text/javascript"></script>

</section>