@(active: Boolean = false)

@import com.feth.play.module.pa.PlayAuthenticate
@import com.feth.play.module.pa.views.html._
@import helper._
@import helper.twitterBootstrap._
@import models.providers.MyUsernamePasswordAuthProvider
@import models.dao.user.UserSocialDAO


<div class="tour">
    <div class="page-header"><h1><i class="fa fa-info"></i> @Messages("tour.title")</h1></div>

    <div class="jrn-container jrn-no-top-round jrn-no-top-gap-page-header">

        <section>
            <div><h2><span class="label label-success"><i class="fa fa-lightbulb-o" style="font-size: 75%; margin-right: 0;"></i></span> @Messages("tour.step0.title")</h2></div>
            <div class="lead" style="font-size: 20px;">@Messages("tour.step0.intro")</div>
        </section>

        <div class="spacer50"></div>

        <section @if(!active){class="text-muted"}>
            <div><h2><span class="label label-success">1</span> @Messages("tour.step1.title")</h2></div>
            <div>@Messages("tour.step1.intro")</div>
            <div class="spacer20"></div>
            @if(!active) {
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center"><img style="max-width: 100%;" src="@routes.Assets.at("img/landing/encourage_friends.png")"></div>
            </div>
            }
            @defining(PlayAuthenticate.getUser(Http.Context.current())){playusr =>
                @defining(UserManager.findByAuthUserIdentity(playusr)){ usr =>
                    @if(active) {
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Your friends:</span>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-unstyled list-inline list-people"></ul>
                        </div>
                    </div>



                    <script type="text/x-tmpl" id="item-friend-template">
                        <li class="item-friend">
                            <input type="hidden" name="{%=o.provider%}[]" value="{%=o.socialId%}">
                            <span class="label label-danger"><i class="{%=o.iconCss%}"></i> {%=o.name%} &nbsp;<a class="item-friend-remove">&times;</a></span>
                            <span class="divider"></span>
                        </li>
                    </script>
                    }

                    <div class="input-group">
                        <div id="people-add-provider" class="input-group-btn">
                            <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#" disabled>
                                @if(!active) {
                                    <i id="people-add-provider-icon" class="fa fa-facebook fa-fw" data-social-provider="facebook"></i>
                                } else {
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", usr.getId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-facebook fa-fw" data-social-provider="facebook"></i>
                                } else { @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("foursquare", usr.getId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-foursquare fa-fw" data-social-provider="foursquare"></i>
                                } else { @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("google", usr.getId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-google-plus fa-fw" data-social-provider="google"></i>
                                } else { @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("twitter", usr.getId) != null){
                                    <i id="people-add-provider-icon" class="fa fa-twitter fa-fw" data-social-provider="twitter"></i>
                                } else {
                                    <i id="people-add-provider-icon" class="fa fa-envelope fa-fw" data-social-provider="email"></i>
                                }}}}}
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @if(active){
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", usr.getId) != null){
                                    <li><a data-icon="fa fa-facebook fa-fw" data-social-provider="facebook" data-input-type="text" data-typeahead="on"><i class="fa fa-facebook fa-fw"></i>
                                        @Messages("adventure.general.label.facebook")</a></li>
                                }
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("foursquare", usr.getId) != null){
                                    <li><a data-icon="fa fa-foursquare fa-fw" data-social-provider="foursquare" data-input-type="text" data-typeahead="on"><i class="fa fa-foursquare fa-fw"></i>
                                        @Messages("adventure.general.label.foursquare")</a></li>
                                }
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("google", usr.getId) != null){
                                    <li><a data-icon="fa fa-google-plus fa-fw" data-social-provider="google" data-input-type="text" data-typeahead="on"><i class="fa fa-google-plus fa-fw"></i>
                                        @Messages("adventure.general.label.google")</a></li>
                                }
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("twitter", usr.getId) != null){
                                    <li><a data-icon="fa fa-twitter fa-fw" data-social-provider="twitter" data-input-type="text" data-typeahead="on"><i class="fa fa-twitter fa-fw"></i>
                                        @Messages("adventure.general.label.twitter")</a></li>
                                }
                                }

                                <li><a data-icon="fa fa-envelope fa-fw" data-social-provider="email" data-input-type="email" data-typeahead="off"><i class="fa fa-envelope fa-fw"></i>
                                    @Messages("adventure.general.label.email")</a></li>
                            </ul>
                        </div>
                        <input id="people-add-input" type="email" placeholder="@Messages("adventure.adventurers.add.placeholder")" autocomplete="off" class="input-people-add form-control" disabled>
                        <div class="input-group-btn">
                            <button class="btn btn-people-add btn-primary" @if(!active){disabled}><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    @if(active){
                    <div class="spacer20"></div>
                    <div>
                        <span style="min-width: 300px; display: inline-block;"> @Messages("yingyangyong.adventurers.public") </span>
                        <div><input type="checkbox" id="publish" name="publish" value="true" @if(!active){disabled}></div>
                    </div>
                    @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", usr.getId) != null){
                        <div class="spacer20"></div>
                        <div>
                            <span style="min-width: 300px; display: inline-block;"> @Messages("yingyangyong.adventurers.publish")</span>
                            <div><input type="checkbox" id="facebookWall" name="facebookWall" ></div>
                            <div class="form-group post-on-facebook" style="display: none; margin-top: 10px;">
                                <label for="facebookWallPost"><i class="fa fa-facebook"></i> @Messages("yingyangyong.adventurers.facebookMessage") </label>
                                <textarea name="facebookWallPost" style="width: 100%; height: 100px;" class="form-control">@Messages("yingyangyong.adventurers.facebookMessage.example")</textarea>
                            </div>
                        </div>
                    }
                    }

                }
            }
        </section>

        <div class="spacer50"></div>

        <section @if(!active){class="text-muted"}>
            <div><h2><span class="label label-success">2</span> @Messages("tour.step2.title")</h2></div>
            <div>@Messages("tour.step2.intro")</div>

            <div class="row">
                <div class="col-xs-12">

                @if(!active){
                    <h3><strong>@Messages("tour.placediscussion.title")</strong></h3>
                    <table id="places-list" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>@Messages("adventure.general.favourite")</th>
                                <th>@Messages("adventure.places.location")</th>
                                <th style="width: 120px;">@Messages("adventure.general.yourvote")</th>
                                <th class="text-center" style="width: 100px;">Group Rating</th>
                                <th>@Messages("adventure.general.advvotes")</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                               <td><button class="btn btn-success"><i class="fa fa-star"></i></button></td>
                               <td><em>Berlin</em></td>
                               <td>
                                   <div class="rating rating-place">
                                       <input id="place-star6" type="radio" class="star" disabled/><label for="place-star6" title="Want now!"><i class="fa fa-star"></i></label>
                                       <input id="place-star5" type="radio" class="star" disabled/><label for="place-star5" title="Rocks!"><i class="fa fa-star"></i></label>
                                       <input id="place-star4" type="radio" class="star" checked disabled/><label for="place-star4" title="Pretty good"><i class="fa fa-star"></i></label>
                                       <input id="place-star3" type="radio" class="star" disabled/><label for="place-star3" title="Meh"><i class="fa fa-star"></i></label>
                                       <input id="place-star2" type="radio" class="star" disabled/><label for="place-star2" title="Kinda bad"><i class="fa fa-star"></i></label>
                                       <input id="place-star1" type="radio" class="star" disabled/><label for="place-star1" title="Sucks big time"><i class="fa fa-star"></i></label>
                                   </div>
                               </td>
                               <td class="text-center">4.3</td>
                               <td><span class="label label-success" title="Michael Menzel">Michael</span><span class="label label-warning" title="Sebastian Roth">Sebastian</span></td>
                           </tr>
                        </tbody>
                    </table>
                } else {
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Destinations:</span>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-unstyled list-inline list-places"></ul>
                        </div>
                    </div>

                    <script type="text/x-tmpl" id="item-place-template">
                        <li class="item-place" data-id="{%=o.id%}">
                            <input type="hidden" name="place[]" value="{%=o.placeAddress%}/{%=o.placeLatitude%}/{%=o.placeLongitude%}">
                            <span class="label label-success"><i class="fa fa-map-marker"></i> {%=o.placeAddress%} &nbsp;<a class="item-place-remove">&times;</a></span>
                            <span class="divider"></span>
                        </li>
                    </script>
                }

                    <div class="input-group">
                        <input id="place-add-input" type="text" placeholder="@Messages("yingyangyong.place.placeholder")" class="input-place-add form-control" @if(!active){disabled}>
                        <div class="input-group-btn"><button class="btn btn-primary btn-place-add" @if(!active){disabled}><i class="fa fa-plus"></i></button></div>
                    </div>
                    @if(active){
                        <div class="spacer10"></div>
                        <div style="height: 100px;">
                            <div id="where-map" style="width: 100%; height: 100%"></div>
                        </div>
                    }
                </div>
            </div>
            <div class="spacer20"></div>
            <div class="row">
                <div class="col-xs-12">

                @if(!active){
                    <h3><strong>@Messages("tour.timediscussion.title")</strong></h3>
                    <table id="times-list" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>@Messages("adventure.general.favourite")</th>
                                <th>@Messages("adventure.time.option")</th>
                                <th style="min-width: 120px;">@Messages("adventure.general.yourvote")</th>
                                <th class="text-center" style="width: 100px;">Group Rating</th>
                                <th>@Messages("adventure.general.advvotes")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button class="btn btn-success"><i class="fa fa-star"></i></button></td>
                                <td>30.08.2015</td>
                                <td>
                                    <div class="rating rating-time">
                                        <input id="time-star6" type="radio" class="star" disabled/><label for="time-star6" title="Want now!"><i class="fa fa-star"></i></label>
                                        <input id="time-star5" type="radio" class="star" disabled/><label for="time-star5" title="Rocks!"><i class="fa fa-star"></i></label>
                                        <input id="time-star4" type="radio" class="star" disabled/><label for="time-star4" title="Pretty good"><i class="fa fa-star"></i></label>
                                        <input id="time-star3" type="radio" class="star" disabled/><label for="time-star3" title="Meh"><i class="fa fa-star"></i></label>
                                        <input id="time-star2" type="radio" class="star" checked disabled/><label for="time-star2" title="Kinda bad"><i class="fa fa-star"></i></label>
                                        <input id="time-star1" type="radio" class="star" disabled/><label for="time-star1" title="Sucks big time"><i class="fa fa-star"></i></label>
                                    </div>
                                </td>
                                <td class="text-center">3.2</td>
                                <td><span class="label label-danger" title="Michael Menzel">Michael</span><span class="label label-success" title="Sebastian Roth">Sebastian</span></td>
                            </tr>
                        </tbody>
                    </table>
                } else {
                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Time slots:</span>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-unstyled list-inline list-times"></ul>
                        </div>
                    </div>


                    <script type="text/x-tmpl" id="item-time-template">
                        <li class="item-time">
                            <input type="hidden" name="time[]" value="{%=o.timeStart%},{%=o.timeEnd%}">
                            <span class="label label-info"><i class="fa fa-time"></i> {%=o.timeStart%} to {%=o.timeEnd%} &nbsp;<a class="item-time-remove">&times;</a></span>
                            <span class="divider"></span>
                        </li>
                    </script>
                }

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> @Messages("adventure.time.start")</span>
                                <input class="journwe-date form-control" id="time-add-input-start" data-date="2014-03-14" data-date-format="yyyy-mm-dd" type="text" name="startDate" placeholder="@Messages("adventure.time.start.placeholder")" style="max-width: 200px;" @if(!active){disabled}>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> @Messages("adventure.time.end")</span>
                                <input class="journwe-date form-control" id="time-add-input-end" data-date="2014-03-16" data-date-format="yyyy-mm-dd" type="text" name="endDate" placeholder="@Messages("adventure.time.end.placeholder")" style="max-width: 200px;" @if(!active){disabled}>
                            </div>
                        </div>

                        <div class="col-lg-2 pull-right">
                            <button class="btn btn-time-add btn-primary" style="width: 100%;" @if(!active){disabled}><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="spacer50"></div>

        <section id="start">
            <div><h2><span class="label label-success">3</span> @Messages("tour.step3.title")</h2></div>
            <div class="lead">
            @if(active) {
                @Messages("tour.step3.intro.active")
            } else {
                @Messages("tour.step3.intro.inactive")
            }
            </div>

            <div class="spacer20"></div>
            @if(active) {
            <div class="text-center">
                <button class="btn btn-success btn-lg">Start <i class="fa fa-angle-double-right"></i></button>
            </div>
            }  else {

            <div class="row">
                <div class="col-lg-5">
                    <p class="lead">@Messages("tour.login.title")</p>

                    @helper.form(core.html.routes.ApplicationController.doLogin, 'class -> "login") {

                        @inputText(
                            MyUsernamePasswordAuthProvider.LOGIN_FORM("email"),
                            '_showConstraints -> false,
                            '_label -> null,
                            '_class -> "form-group",
                            'placeholder -> Messages("playauthenticate.login.email.placeholder"),
                            'class -> "form-control col-xs-12",
                            'required -> true,
                            'type -> "email"
                        )

                        @inputPassword(
                            MyUsernamePasswordAuthProvider.LOGIN_FORM("password"),
                            '_showConstraints -> false,
                            '_label -> null,
                            '_class -> "form-group",
                            'placeholder -> Messages("playauthenticate.login.password.placeholder"),
                            'class -> "form-control col-xs-12",
                            'required -> true
                        )

                        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary" style="width: 100%"><br/>
                        <br/>

                        <a href="@core.html.routes.ApplicationController.signup">@Messages("playauthenticate.login.register")</a> @Messages("playauthenticate.login.or")

                        <a href="javascript:void(0);" onclick="window.location.href = '@core.html.routes.SignupController.forgotPassword("")'+($('#email').val()?'/'+$('#email').val():'');">@Messages("playauthenticate.login.forgot.password")</a>

                    }
                </div>
                <div class="col-lg-5 col-lg-offset-2">
                    <p class="lead">@Messages("tour.signin.title")</p>
                    <ul class="nav nav-pills nav-stacked ">
                    @forProviders() { p =>
                        <li><a href="@p.getUrl()"><i class="fa fa-@(if(p.getKey().toLowerCase()=="google"){"google-plus"}else{p.getKey().toLowerCase()}) fa-fw"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase)</a></li>
                    }
                    </ul>
                </div>
            </div>
            }

        </section>

    </div>
</div>

<script src="@routes.Assets.at("javascripts/tour.js").url" type="text/javascript"></script>
