@(f: Form[_])

@import helper._
@import helper.twitterBootstrap._

             @inputPassword(
                f("password"),
                '_label -> Messages("playauthenticate.login.password.placeholder"),
                '_showConstraints -> false,
                'required -> true,
                'class -> "form-control"
             )
             
             @inputPassword(
                f("repeatPassword"),
                '_label -> Messages("playauthenticate.login.password.repeat"),
                '_showConstraints -> false,
                '_error -> f.error("password"),
                'required -> true,
                'class -> "form-control"
             )