@main("Where Adventurers meet.") {What is JournWe? <small>Where Adventurers meet.</small>} {


    <div>
        <h2>About JournWe</h2>
        <div>
            <blockquote>
                <p class="lead">
                    Imagine a place where friends meet, discuss, and plan their upcoming adventure, to later embrace a joint lifetime experience.</p>
                <small>Michael Menzel, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>
        <h3>What is it, really?</h3>
        <div><p>
            JournWe is magical. You meet adventurous people and start to prepare a story of your lifetime together.</p></div>
        <div>
            <blockquote>
                <p class="lead">
                    It is clear that spending time with your friends is not only capital but becomes priceless when eventually accomplishing the adventure quest.</p>
                <small>Marlene, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>
        <div><p>Be adventurous. Try something new, achieve more than you expected.</p></div>
        <div class="spacer30"></div>
        <div>
            <blockquote>
                <p class="lead">
                    At first, when you get a glimpse of doing the right things with the right people you feel curios about it. Later, you never turn back!</p>
                <small>Markus Klems, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>


        <h3>Features</h3>
        <div>
            <blockquote class="pull-right">
                <p class="lead">
                    It is not the features that makes JournWe.com great. It's the people, the ideas and of course, the JournWes!</p>
                <small>Sebastian Roth, founder of <cite title="JournWe">JournWe.com</cite></small>
            </blockquote>
        </div>
        <div class="row-fluid">
             <div class="span4">
               <h4><i class="icon-sun"></i> We bring sunshine</h4><p>Join Adventure and sun will shine out of your a$$</p>
             </div>
             <div class="span4">another one...</div>
             <div class="span4">another one...</div>
        </div>
        <ul>
            <li>Motivation Factor: Use JournWe to motivate friends to join an adventure. Information on JournWe is a profound basis to have all your friends convinced of the trip!</li>
            <li>Find Inspirations: We have great inspirations for you to find your next adventure!</li>
            <li>Message Central: Don't bother with emails from travel operators that only reach one or few people in your travel group. JournWe gives you an email address (your-adventure@@journwe.com) and provides you with a single communication point.</li>
            <li>Other Random Feature: It's great because...</li>
        </ul>
    </div>

    }("about")
