
@main("Where Adventurers meet."){What is JournWe? <small>Where Adventurers meet.</small>} {




<div>
    <h2>About JournWe</h2>
    <p class="lead">Imagine a place where friends meet, discuss, and plan their upcoming adventure, to later embrace a joint lifetime experience.</p>
    <h3>What is it, really?</h3>
    <p>JournWe is ...</p>
    <p>Be adventurous. Try something new, achieve more than you expected.</p>
    <h3>Features</h3>
    <ul>
        <li>Motivation Factor: Use JournWe to motivate friends to join an adventure. Information on JournWe is a profound basis to have all your friends convinced of the trip!</li>
        <li>Find Inspirations: We have great inspirations for you to find your next adventure!</li>
        <li>Message Central: Don't bother with emails from travel operators that only reach one or few people in your travel group. JournWe gives you an email address (your-adventure@@journwe.com) and provides you with a single communication point.</li>
        <li>Other Random Feature: It's great because...</li>
    </ul>
</div>


}
