@import helper._
@import fieldConstructor._
@import models.admin._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
    <div class="jrn-container">
        <h2>Feedback Form</h2>

        @form(routes.FeedbackController.createFeedback(), args = 'class -> "form-horizontal") {

            <fieldset>
                <div class="control-group">
                    <label class="control-label">Feedback type:</label>
                    <div class="controls">
                        <select name="feedbackType">
                            <option value="@EFeedbackType.BUG">Bug</option>
                            <option value="@EFeedbackType.FEATURE_REQUEST">Feature request</option>
                            <option value="@EFeedbackType.GENERAL_FEEDBACK">General feedback</option>
                        </select>
                    </div>
                </div>
                <textarea name="text" class="form-control"></textarea>
            </fieldset>
        <div class="form-actions">
            <input type="submit" value="Send feedback" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link">Cancel</a>
        </div>
    </div>
}