@(implicit active: String = "home")

@import play.api.Play.current
@import play.mvc.Http

<div class="row clearfix">
    <div class="col-xs-4">
        <ul class="nav nav-pills nav-stacked">

            <li @if(active == "home"){class="active"}><a href="@html.routes.IndexController.index">Home</a></li>
            <li @if(active == "inspiration"){class="active"}><a href="@html.routes.IndexController.categoryOverview">Travel Inspirations</a></li>
            <li @if(active == "about"){class="active"}><a href="@core.html.routes.ApplicationController.about">
            About JournWe</a></li>
            @*<li @if(active == "team"){class="active"}><a href="@core.html.routes.ApplicationController.contact">Team</a></li>*@
            <li @if(active == "contact"){class="active"}><a href="@core.html.routes.ApplicationController.contact">
            Contact Us</a></li>
            <li @if(active == "imprint"){class="active"}><a href="@core.html.routes.ApplicationController.imprint">
            Imprint</a> </li>
            <li class="stash @if(active == "admin"){active}">
                <a href="@controllers.admin.html.routes.AdminController.admin">Admin</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-4 text-center">
        <div><img src="@routes.Assets.at("img/journwe_logo.png")" height="70"></div>
        <div class="spacer30"></div>
        <div>
            Find us on Social Networks
            <ul class="list-inline social-icons">
                <li><a href="http://twitter.com/JournWe"
                data-toggle="tooltip" data-trigger="hover" data-html="true"
                title="Follow on <i class='fa fa-twitter'></i>"><i
                class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://www.facebook.com/JournWe"
                data-toggle="tooltip" data-trigger="hover" data-html="true"
                title="Like on <i class='fa fa-facebook-square'></i>"><i
                class="fa fa-facebook-square"></i></a></li>
                @*<li><a href="https://plus.google.com/114964647402155123257" rel="publisher"
                data-toggle="tooltip" data-trigger="hover" data-html="true"
                title="Follow on <i class='fa fa-google-plus-sign'></i>"><i
                class="fa fa-google-plus-sign"></i></a>
                </li>*@
            </ul>
        </div>
    </div>
    <div class="col-xs-4 text-right">
        <ul class="nav nav-pills nav-stacked">
        @for(lang <- Lang.availables) {
            <li @if(lang.language == Http.Context.current().lang().language()) {class="active"}><a href="@core.html.routes.ApplicationController.changeLanguage(lang.language.toString)">@if(lang.language == Http.Context.current().lang().language()) {
                <i class="fa fa-globe"></i>
            } @Messages("languages." + lang.language)</a> </li>
        }
        </ul>

    </div>
</div>
