@(implicit active: String = "home")

@import play.api.Play.current
@import play.mvc.Http
@import models.dao.user._
@import models.user._
@import play.mvc.Controller._
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider.Registry

<div class="footer row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jrn-container clearfix">
            <div class="row">
                <div class="col-lg-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li @if(active == "home"){class="active"}><a href="@routes.ApplicationController.index">Home</a></li>
                        <li @if(active == "about"){class="active"}><a href="@routes.ApplicationController.about">About</a></li>
                        <li @if(active == "contact"){class="active"}><a href="#contact">Contact</a></li>
                        <li @if(active == "imprint"){class="active"}><a href="@routes.ApplicationController.imprint">Imprint</a> </li>
                        @currentAuth() {auth => @if(auth != null && new UserDAO().findByAuthUserIdentity(auth) != null && EUserRole.ADMIN.equals(new UserDAO().findByAuthUserIdentity(auth).getRole)){
                                <li @if(active == "admin"){class="active"}>
                                    <a href="@routes.ApplicationController.admin">Admin</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-lg-4 text-center">
                    Find us on Social Networks
                        <ul class="list-inline social-icons">
                            <li><a href="http://twitter.com/JournWe"
                            data-toggle="tooltip" data-trigger="hover" data-html="true"
                            title="Follow on <i class='fa fa-twitter'></i>"><i
                            class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/JournWe"
                            data-toggle="tooltip" data-trigger="hover" data-html="true"
                            title="Like on <i class='fa fa-facebook-sign'></i>"><i
                            class="fa fa-facebook-sign"></i></a></li>
                            @*<li><a href="https://plus.google.com/114964647402155123257" rel="publisher"
                            data-toggle="tooltip" data-trigger="hover" data-html="true"
                            title="Follow on <i class='fa fa-google-plus-sign'></i>"><i
                            class="fa fa-google-plus-sign"></i></a>
                            </li>*@
                        </ul>
                </div>
                <div class="col-lg-4 text-right">
                    <ul class="nav nav-pills nav-stacked">
                        @for(lang <- Lang.availables) {
                            <li @if(lang.language == Http.Context.current().lang().language()){class="active"}><a href="@routes.ApplicationController.changeLanguage(lang.language.toString)">@if(lang.language == Http.Context.current().lang().language()){<i class="fa fa-globe"></i> }@Messages("languages."+lang.language)</a></li>
                        }
                    </ul>

                </div>
            </div>
            <div class="row text-center">&copy; 2013 JournWe</div>
        </div>
    </div>
</div>