@(implicit active: String = "home")

@import models.dao.NotificationDAO
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider.Registry

<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button class="btn-default navbar-toggle" data-toggle="collapse" data-target="#navbar-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="brand">
            <a href="/">
                <img src="@controllers.core.html.routes.CDNAssetsController.at("img/journwe_logo.png")" alt="JournWe logo">
                <span>
                    Journ<strong>We</strong>
                </span>
            </a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbar-header">

    @currentAuth() { auth =>
        @defining(UserManager.findByAuthUserIdentity(auth)) { user =>
            @if(auth != null && user != null) {
            <ul class="nav navbar-nav navbar-left">
                <li @if(active == "home"){class="active"}><a href="@controllers.html.routes.IndexController.index()"><i class="fa fa-bookmark"></i> Your JournWes</a></li>
                @* <li @if(active == "new"){class="active"}><a href="@controllers.html.routes.IndexController.indexNew()"><i class="fa fa-asterisk"></i> New JournWe</a></li> *@
                <li @if(active == "inspiration"){class="active"}><a href="@controllers.html.routes.IndexController.categoryOverview()"><i class="fa fa-lightbulb-o"></i> Travel Inspirations</a></li>
            </ul>
            <div class="navbar-right">
                <a id="notifications-link" class="btn navbar-btn" data-html="true" data-placement="bottom" data-title="Notifications"><i class="fa fa-bell" title="Notifications"></i> @defining(new NotificationDAO()) { notiDAO => @notiDAO.countUnread(user.getId) }</a>
                <div class="stash">
                    <div id="notifications-popover-content" style="min-width: 300px; max-width: 500px">
                        <div class="text-center" style="display: block;"><i class="loading-top fa fa-spinner fa-spin"></i></div>
                        <div class="notifications-list scrollable list-group pull-left" style="display: block; overflow: auto; max-height: 250px;"></div>
                        <div class="text-center" style="display: block;"><i class="loading-bottom fa fa-spinner fa-spin stash"></i></div>
                    </div>
                </div>
                <script type="text/x-tmpl" id="header-notification-template">
                    <a href="{%=o.link%}" class="list-group-item" style="color: black" title="{%=o.message%}" data-id="{%=o.created%}">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/50x50/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=50&h=50&u=' + o.image)%}{% } %}" alt="{%=o.subject%}" style="width: 50px; height: 50px">
                            </span>
                            <div class="media-body">
                                <h4 class="media-heading {% if(o.read){ %}text-muted{% } %}">{%=o.subject%}</h4>
                                <span class="{% if(o.read){ %}text-muted{% } %}">{%=o.message%}</span>
                            </div>
                        </div>
                    </a>
                </script>

                <a class="btn navbar-btn" href="@core.html.routes.UserController.getProfile(user.getId())">
                    <img class="img-circle" @if(user.getImage()){src="/thumbnail?w=20&h=20&u=@user.getImage()"}else{src="http://www.placehold.it/20x20/EFEFEF/AAAAAA&text=no+image"}>
                    @user.getName()
                </a>
                <a class="btn navbar-btn" href="@core.html.routes.ApplicationController.doLogout"><i class="fa fa-sign-out"></i></a>
            </div>

            } else {

                @*
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="@controllers.html.routes.IndexController.categoryOverview()"><i class="fa fa-lightbulb-o"></i> Travel Inspirations</a></li>
                    <!--<li><a href="@core.html.routes.ApplicationController.about()"><i class="fa fa-info"></i> About</a></li>-->
                </ul>
                *@

                <div class="col-xs-7 login-mail-container stash navbar-right">
                    <form action="@core.html.routes.ApplicationController.doLogin()" method="POST" class="navbar-form">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="text" class="form-control" name="email" value="" placeholder="email">
                            <span class="input-group-addon no-border"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="password">
                            <div class="input-group-btn btn-group" style="width: auto;">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-user fa-fw"></i> Login</button>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @forProviders() { p =>
                                        <li><a href="@p.getUrl()"><i class="fa fa-@(if(p.getKey().toLowerCase()=="google"){"google-plus"}else{p.getKey().toLowerCase()}) fa-fw"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase) Login</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="navbar-right">
                    @*<p class="navbar-text">@Messages("header.login.alternative")</p>*@
                    <div class="btn-group navbar-btn">
                        <a class="btn btn-primary" href="@Registry.get("facebook").getUrl()"><i class="fa fa-facebook fa-fw"></i> Facebook Login</a>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        @forProviders() { p =>
                            <li><a href="@p.getUrl()"><i class="fa fa-@(if(p.getKey().toLowerCase()=="google"){"google-plus"}else{p.getKey().toLowerCase()}) fa-fw"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase) Login</a></li>
                        }

                        <li class="divider"></li>
                        <li><a href="#" class="login-mail"><i class="fa fa-envelope-o fa-fw"></i> Email Login</a></li>
                        </ul>
                    </div>

                </div>






            }
        }
    }
    </div>
</nav>
