@main(Messages("journwe.subtitle")){@Messages("imprint.title")}{

<div class="jrn-container">
    <div class="spacer30"></div>
    <p class="lead">@Messages("imprint.player1")<sup>1</sup>@Messages("imprint.player2")<sup>2</sup>@Messages("imprint.player4")<sup>3</sup>.</p>

    <address>
        <strong><sup>1</sup>Michael Menzel</strong><br> Tullastr. 12<br> 68161
        Mannheim<br> <abbr title="Phone">P</abbr>: +49-(0)173 5431856<br>
        <abbr title="Email">E</abbr>: <a href="mailto:michael@@journwe-company.com">michael@@journwe-company.com</a>

    </address>

    <address>
        <strong><sup>2</sup>Markus Klems</strong><br> Durlacher Allee 4<br> 76131
        Karlsruhe<br>
        <abbr title="Email">E</abbr>: <a href="mailto:markus@@journwe-company.com">markus@@journwe-company.com</a>
    </address>

    <address>
        <strong><sup>3</sup>Sebastian Roth</strong><br> Wallaustr. 15<br> 55118
        Mainz<br> <abbr title="Phone">P</abbr>: +49-(0)176 60024792<br>
        <abbr title="Email">E</abbr>: <a href="mailto:seppel@@journwe-company.com">seppel@@journwe-company.com</a>
    </address>

    <small>@Html(Messages("imprint.copyright"))
    </small>
    <div class="spacer30"></div>

    <h3>@Messages("imprint.disclaimer")</h3>
    <p>
        <small>@Messages("imprint.disclaimer.source")</small>
        <br>@Messages("imprint.disclaimer.text")
    </p>

    <h3>@Messages("imprint.material")</h3>
    <p>
        @Messages("imprint.material.intro")<br/>
        <ul>
            <li>http://www.flickr.com/photos/bevgoodwin/9149946164/</li>
            <li>http://www.flickr.com/photos/43423301@@N07/6211148984/</li>
            <li>http://www.flickr.com/photos/31346890@@N04/5876319086/</li>
        </ul>
    </p>
</div>
}("imprint")