@import play.mvc.Controller._

@main_subscribe {
<h2>Imprint &amp; Disclaimer</h2>
<div class="spacer30"></div>
<p class="lead">JournWe is Michael Menzel<sup>1</sup> , Markus Klems<sup>2</sup> , Sebastian Roth<sup>3</sup> and Marlene<sup>4</sup>.</p>

<h3>Imprint</h3>
<address>
    <strong><sup>1</sup>Michael Menzel</strong><br> Tullastr. 12<br> 68161
    Mannheim<br> <abbr title="Phone">P</abbr>: +49-(0)173 5431856<br>
    <abbr title="Email">E</abbr>: <a href="mailto:mugglmenzel@@journwe.com">mugglmenzel@@journwe.com</a>

</address>

<address>
    <strong><sup>2</sup>Markus Klems</strong><br> Durlacherallee 4<br> 76131
    Karlsruhe<br>
    <abbr title="Email">E</abbr>: <a href="mailto:ohai@@journwe.com">ohai@@journwe.com</a>
</address>

<address>
    <strong><sup>3</sup>Sebastian Roth</strong><br> Wallaustr. 15<br> 55118
    Mainz<br> <abbr title="Phone">P</abbr>: +49-(0)176 60024792<br>
    <abbr title="Email">E</abbr>: <a href="mailto:sroth@@journwe.com">sroth@@journwe.com</a>
</address>

<address>
    <strong><sup>4</sup>Marlene</strong><br> Himmelbett 1<br> 0815
    Newborn<br> 
    <abbr title="Email">E</abbr>: <a href="mailto:marlene@@journwe.com">marlene@@journwe.com</a>
</address>

<small>Copyright &copy; 2013 all rights reserved
</small>
<div class="spacer30"></div>

<h3>Website Disclaimer</h3>
<p>
    <small>Source: businesslink.gov.uk</small>
    <br> The information
    contained in this website is for general information purposes only.
    The information is provided by www.journwe.com and while we
    endeavour to keep the information up to date and correct, we make no
    representations or warranties of any kind, express or implied, about
    the completeness, accuracy, reliability, suitability or availability
    with respect to the website or the information, products, services,
    or related graphics contained on the website for any purpose. Any
    reliance you place on such information is therefore strictly at your
    own risk. In no event will we be liable for any loss or damage
    including without limitation, indirect or consequential loss or
    damage, or any loss or damage whatsoever arising from loss of data
    or profits arising out of, or in connection with, the use of this
    website. Through this website you are able to link to other websites
    which are not under the control of www.journwe.com. We have no
    control over the nature, content and availability of those sites.
    The inclusion of any links does not necessarily imply a
    recommendation or endorse the views expressed within them. Every
    effort is made to keep the website up and running smoothly. However,
    www.journwe.com takes no responsibility for, and will not be
    liable for, the website being temporarily unavailable due to
    technical issues beyond our control.
</p>
}