@(categories: List[models.helpers.CategoryCount])(inspirations: List[Inspiration])(catId: String = null)

@main("Welcome to JournWe <small>Where Adventurers meet.</small>") {


<div class="text-center">
	<a href="/adventure/new" class="btn btn-primary btn-large text-center">Start
		a new Group Adventure!</a>
	<div>- OR -</div>
	<p class="lead">Get Inspired...</p>
</div>

<div class="row">
	<div class="span2">
		<ul class="nav nav-pills nav-stacked">
			<li @if(catId == null) {class="active"}><a href="@routes.ApplicationController.index()">All</a></li>
			@for(cat <- categories) {
				<li @if(cat.getCategory().getId() == catId) {class="active"}><a href="@routes.ApplicationController.categoryIndex(cat.getCategory().getId())">@cat.getCategory().getName() <span class="badge badge-info pull-right">@cat.getCount()</span></a></li>
			}
		</ul>
	</div>
	<div class="span10">
		<div class="tabbable">
			<!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#browse" data-toggle="tab"><i class="icon-th"></i>Browse</a></li>
				<li><a href="#search" data-toggle="tab"><i class="icon-search"></i>Search</a></li>				
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="browse">
					<ul class="thumbnails">
					@inspirations.zipWithIndex.map { case(ins, i) => 
						<li class="span3">
							<a class="thumbnail" href="@routes.InspirationController.get(ins.getInspirationCategoryId(), ins.getId())">
								<img src="@ins.getImage()">
							</a>
							<h4>@ins.getName()</h4>
						</li>
					@if((i+1) % 3 == 0) { 
					</ul><ul class="thumbnails"> 
					}
					}
					</ul>
				</div>
				<div class="tab-pane" id="search">
				</div>
			</div>
		</div>
	</div>
</div>

<div id="about">
	<h2>About</h2>
	<p class="lead">We are great folks because ...</p>
</div>

<div>
	<h2>Maintenance</h2>
	<ul>
		<li><a href="/category/new" class="btn btn-link">Manage Category</a></li>
		<li><a href="/inspiration/new" class="btn btn-link">Manage Inspiration</a></li>
	</ul>
</div>


}
