@(title: String)(headerText: Html = Html("Welcome"))(content: Html)(implicit active: String = "home")

@import play.api.Play.current
@import play.mvc.Http
@import models.dao._
@import models.user._
@import play.mvc.Controller._
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider.Registry

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>JournWe - @Html(title)</title>
        <meta property="og:title" content="JournWe - Where Adventurers meet. Coming Soon." />
        <meta property="og:type" content="company" />
        <meta property="og:site_name" content="JournWe - Where Adventurers meet. Coming Soon." />
        <meta property="og:description" content="JournWe changes how you travel in groups and how people join for an adventure. Traveling becomes group adventures at the most inspiring destinations and challenges. JournWe helps the right people to join for an adventure and make an adventure travel a lifetime experience." />
        <meta property="og:url" content="www.journwe.com" />
        <meta property="og:image" content="@routes.Assets.at("img/yingyangyong.png")" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/2.3.0-j5/jasny-bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrapSwitch.css")">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:100,300'>
        <link rel="stylesheet" href="@routes.Assets.at("css/journwe.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/yingyangyong.png")">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/2.3.0-j5/jasny-bootstrap.min.js"></script>
        <script src="@routes.Assets.at("js/tmpl.min.js")" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrapSwitch.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/ckeditor/ckeditor.js")" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.5/bootstrap-switch.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/js/bootstrap-datepicker.min.js" charset="UTF-8"></script>
        <script src="@routes.Assets.at("js/journwe.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39156308-1']);
        _gaq.push(['_setDomainName', 'journwe.com']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <div class="">
            <div class="header row">
                <div class="col-lg-offset-2 col-lg-8">
                @header()
                </div>
            </div>
            <div class="main row">
                <div class="col-lg-8 col-lg-offset-2">
                    @if(!headerText.toString().equals(" ")){
                        <div class="page-header">
                            <h1>@headerText</h1>
                        </div>
                    }
                    @if(flash("error")) {
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash("error")
                        </div>
                    }
                    @if(flash("success")) {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash("success")
                        </div>
                    }
                    @if(flash("info")) {
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash("info")
                        </div>
                    }
                    @content


                </div>
            </div>

                <!-- TOP NAVIGATION -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="jrn-container clearfix">
                        <div class="pull-right"><a onclick="$('html, body').animate({ scrollTop: 0 }, 600); return false;"><i class="icon-chevron-up"></i> Top</a></div>
                    </div>
                </div>
            </div>

                <!-- FOOTER -->
            <div class="footer row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="jrn-container clearfix">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li @if(active == "home"){class="active"}><a href="@routes.ApplicationController.index">Home</a></li>
                                    <li @if(active == "about"){class="active"}><a href="@routes.ApplicationController.about">About</a></li>
                                    <li @if(active == "contact"){class="active"}><a href="#contact">Contact</a></li>
                                    <li @if(active == "imprint"){class="active"}><a href="@routes.ApplicationController.imprint">Imprint</a> </li>
                                    @currentAuth() { auth => @if(auth != null && EUserRole.ADMIN.equals(new UserDAO().findByAuthUserIdentity(auth).getRole)){<li @if(active == "admin"){class="active"}><a href="@routes.ApplicationController.admin">Admin</a></li>}}
                                </ul>
                            </div>
                            <div class="col-lg-8">
		                    Find us on Social Networks
                            </div>
                        </div>
                        <div class="text-center">&copy; 2013 JournWe</div>
                    </div>
                </div>
            </div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=515340035175937";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        </div>
    </body>
</html>