@(title: String)(header: Html = Html("Welcome"))(content: Html)(implicit active: String = "home")

@import models.dao._
@import models.user._
@import play.mvc.Controller._
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider.Registry

<!DOCTYPE html>

<html lang="en">
<head>
	<title>JournWe - @Html(title)</title>
    <meta property="og:title" content="JournWe - Where Adventurers meet. Coming Soon." />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="JournWe - Where Adventurers meet. Coming Soon." />
    <meta property="og:description" content="JournWe changes how you travel in groups and how people join for an adventure. Traveling becomes group adventures at the most inspiring destinations and challenges. JournWe helps the right people to join for an adventure and make an adventure travel a lifetime experience." />
    <meta property="og:url" content="www.journwe.com" />
    <meta property="og:image" content="@routes.Assets.at("img/yingyangyong.png")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("css/jasny-bootstrap.css")">
	<link rel="stylesheet" href="@routes.Assets.at("css/jasny-bootstrap-responsive.css")">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css">
	<link rel="stylesheet" href="@routes.Assets.at("css/bootstrapSwitch.css")">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:100,300'>
    <link rel="stylesheet" href="@routes.Assets.at("css/journwe.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/yingyangyong.png")">
	<script src="@routes.Assets.at("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/tmpl.min.js")" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="@routes.Assets.at("js/jasny-bootstrap.js")" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/bootstrapSwitch.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/bootstrap-datepicker.js")" charset="UTF-8"></script>
    <script src="@routes.Assets.at("js/journwe.js")" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39156308-1']);
	  _gaq.push(['_setDomainName', 'journwe.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div class="header row-fluid" style="width=device-width;">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="row-fluid">
					<!--<button type="button" class="btn btn-navbar" data-toggle="collapse"
						data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>-->

                    <div class="span3 offset2 pull-left">
                        <div class="nav-collapse collapse">
                            <ul class="nav nav-list">
                                <li><a onclick="$('#navbar-secondlevel-collapsable .collapse').not('#navbar-secondlevel-inspiration-categories').collapse('hide'); $('#navbar-secondlevel-inspiration-categories').collapse('show');"><i class="icon-lightbulb"></i> Inspirations</a></li>
                                <li><a onclick="$('#navbar-secondlevel-collapsable .collapse').not('#navbar-secondlevel-general-search').collapse('hide'); $('#navbar-secondlevel-general-search').collapse('show');"><i class="icon-search"></i> Search</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="span2">
                        <div class="text-center">
                            <a href="@routes.ApplicationController.index" onmouseover="$('#navbar-secondlevel-collapsable .collapse').not('#navbar-secondlevel-journwe-home-select').collapse('hide'); $('#navbar-secondlevel-journwe-home-select').collapse('show');" onmouseout="$('#navbar-secondlevel-journwe-home-select').collapse('show');" class="brand" style="float: none;vertical-align: bottom;">
                                <span><img src="http://i.embed.ly/1/image/resize?height=20&key=2c8ef5b200c6468f9f863bc75c46009f&url=http://www.journwe.com/@routes.Assets.at("img/yingyangyong.png")" alt="JournWe logo" style="height: 20px;">
                                Journ<strong>We</strong>
                                <!--<img src="@routes.Assets.at("img/suitcase_brand.png")" style="height: 14px">-->
                                </span>
                            </a>
                        </div>
                    </div>



	                @currentAuth() { auth =>
                        @defining(new UserDAO()) { userDAO =>
                        @defining(new UserDAO().findByAuthUserIdentity(auth)) { user =>
	                    @if(auth != null && user != null) {

	                        <div class="span2 pull-right user-login">
                                <img @if(user.getImage()){src="@user.getImage()"}else{src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image"} style="max-height: 40px;">
	                            <a class="btn" href="@routes.UserController.getProfile(user.getId())"><i class="icon-user"></i> @user.getName()</a>
	                            <a class="btn" href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout"><i class="icon-signout"></i></a>
	                        </div>

	                    } else {
	                   		<div class="span2 btn-group pull-right user-login">
								<a class="btn btn-primary" href="@Registry.getProviders().iterator().next().getUrl()"><i class="icon-@Registry.getProviders().iterator().next().getKey().toLowerCase icon-white"></i> Login</a>
								<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
		                    @forProviders() { p =>
									<li><a href="@p.getUrl()"><i class="icon-@p.getKey().toLowerCase"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase)</a></li>
			                }
			                	</ul>
							</div>
		                }
                        }}
	                }
				</div>
                <div class="row-fluid">
                    <div class="span8 offset2 accordion" id="navbar-secondlevel-collapsable">
                        <div class="accordion-body collapse" id="navbar-secondlevel-journwe-home-select">
                            <div class="text-center" style="margin: 10px 0px; line-height: 70px;">
                                <span><a href="@routes.ApplicationController.index()"><i class="icon-home" style="font-size: 70px;"></i></a> or <a href="@routes.ApplicationController.indexNew()"><img src="http://i.embed.ly/1/image/resize?height=50&key=2c8ef5b200c6468f9f863bc75c46009f&url=http://www.journwe.com/@routes.Assets.at("img/yingyangyong.png")" alt="JournWe logo" style="height: 50px; vertical-align: text-bottom;"></a></span>
                            </div>
                            <div class="text-center"><a onclick="$('#navbar-secondlevel-journwe-home-select').collapse('hide');"><i class="icon-chevron-up"></i></a></div>
                        </div>
                        <div class="accordion-body collapse" id="navbar-secondlevel-inspiration-categories">
                            <div>
                                <h4>Categories of Inspirations</h4>
                                <ul class="nav nav-pills nav-stacked">
                                    @defining(new CategoryDAO()){catDAO =>
                                        @defining(catDAO.all()){ categories =>
                                            @for(cat <- categories) {
                                                <li><a href="@routes.ApplicationController.categoryIndex(cat.getId())">
                                                    <span class="badge badge-info pull-right">@catDAO.countInspirations(cat.getId())</span>@cat.getName()</a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="text-center"><a onclick="$('#navbar-secondlevel-inspiration-categories').collapse('hide');"><i class="icon-chevron-up"></i></a></div>
                        </div>
                        <div class="accordion-body collapse" id="navbar-secondlevel-general-search">
                            <div class="text-center">
                                <div class="input-append">
                                    <input type="text" class="input-xlarge search-query" placeholder="Find Places, People and Inspirations">
                                    <button class="btn"><i class="icon-search"></i></button>
                                </div>
                            </div>
                            <div class="text-center"><a onclick="$('#navbar-secondlevel-general-search').collapse('hide');"><i class="icon-chevron-up"></i></a></div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="main row-fluid" style="width=device-width;">
		<div class="offset2 span8 no-background">
			<div class="page-header">
				<h1>@header</h1>
			</div>
			@if(flash("error")) {
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				@flash("error")
			</div>
			}
			@if(flash("success")) {
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				@flash("success")
			</div>
			}
			@if(flash("info")) {
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				@flash("info")
			</div>
			}
			@content

            <br />
            @feedback()
		</div>
	</div>
    <div class="spacer20"></div>
    <div class="row-fluid" style="width=device-width;">
        <div class="offset2 span8">
            <div class="pull-right"><a onclick="$('html, body').animate({ scrollTop: 0 }, 600); return false;"><i class="icon-chevron-up"></i> Top</a></div>
        </div>
    </div>
    <div class="spacer20"></div>
    <div class="footer row-fluid" style="width=device-width;">
        <div class="offset2 span8">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-pills nav-stacked">
                        <li @if(active == "home"){class="active"}><a href="@routes.ApplicationController.index">Home</a></li>
                        <li @if(active == "about"){class="active"}><a href="@routes.ApplicationController.about">About</a></li>
                        <li @if(active == "contact"){class="active"}><a href="#contact">Contact</a></li>
                        <li @if(active == "imprint"){class="active"}><a href="@routes.ApplicationController.imprint">Imprint</a> </li>
                        @currentAuth() { auth => @if(auth != null && EUserRole.ADMIN.equals(new UserDAO().findByAuthUserIdentity(auth).getRole)){<li @if(active == "admin"){class="active"}><a href="@routes.ApplicationController.admin">Admin</a></li>}}
                    </ul>
                </div>
                <div class="span2 offset1">
                    Find us on Social Networks
                </div>
                <div class="span7"></div>
            </div>
            <div class="text-center">&copy; 2013 JournWe</div>
        </div>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=515340035175937";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>