@(title: String)(header: Html = Html("Welcome"))(content: Html)(implicit active: String = "home")

@import play.api.Play.current
@import play.mvc.Http
@import models.dao._
@import models.user._
@import play.mvc.Controller._
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider.Registry

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>JournWe - @Html(title)</title>
        <meta property="og:title" content="JournWe - Where Adventurers meet. Coming Soon." />
        <meta property="og:type" content="company" />
        <meta property="og:site_name" content="JournWe - Where Adventurers meet. Coming Soon." />
        <meta property="og:description" content="JournWe changes how you travel in groups and how people join for an adventure. Traveling becomes group adventures at the most inspiring destinations and challenges. JournWe helps the right people to join for an adventure and make an adventure travel a lifetime experience." />
        <meta property="og:url" content="www.journwe.com" />
        <meta property="og:image" content="@routes.Assets.at("img/yingyangyong.png")" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/2.3.0-j5/jasny-bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrapSwitch.css")">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:100,300'>
        <link rel="stylesheet" href="@routes.Assets.at("css/journwe.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/yingyangyong.png")">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/2.3.0-j5/jasny-bootstrap.min.js"></script>
        <script src="@routes.Assets.at("js/tmpl.min.js")" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrapSwitch.js")" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.5/bootstrap-switch.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.1.3/js/bootstrap-datepicker.min.js" charset="UTF-8"></script>
        <script src="@routes.Assets.at("js/journwe.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39156308-1']);
        _gaq.push(['_setDomainName', 'journwe.com']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <div class="">
            <div class="header row">
                <div class="col-offset-2 col-8">
                    <div>
                        @currentAuth() { auth =>
                            @defining(new UserDAO().findByAuthUserIdentity(auth)) { user =>
                                <div>
                                    <ul class="nav nav-pills col-5">
                                        <li><a onclick="$('#navbar-secondlevel-collapsable > *').not('#navbar-secondlevel-inspiration-categories').collapse('hide'); $('#navbar-secondlevel-inspiration-categories').collapse('toggle');"><i class="icon-lightbulb"></i> Inspirations</a></li>
                                        <li class="disabled"><a onclick="$('#navbar-secondlevel-collapsable > *').not('#navbar-secondlevel-general-search').collapse('hide'); $('#navbar-secondlevel-general-search').collapse('toggle');"><i class="icon-search"></i> Search</a></li>
                                        @if(EUserRole.ADMIN.equals(user.getRole)) {
                                            <li><a href="@routes.ApplicationController.admin()"><i class="icon-cogs"></i> Admin</a></li>
                                        }
                                        </ul>

                                    <div class="col-2">
                                        <div class="text-center navbar-text">
                                            <a href="@routes.ApplicationController.index" onmouseover="$('#navbar-secondlevel-collapsable > *').not('#navbar-secondlevel-journwe-home-select').collapse('hide'); $('#navbar-secondlevel-journwe-home-select').collapse('show');" onmouseout="$('#navbar-secondlevel-journwe-home-select').collapse('show');" class="brand" style="float: none;vertical-align: bottom;">
                                                <span><img src="http://i.embed.ly/1/image/resize?height=20&key=2c8ef5b200c6468f9f863bc75c46009f&url=http://www.journwe.com/@routes.Assets.at("img/yingyangyong.png")" alt="JournWe logo" style="height: 20px;">
                                                    Journ<strong>We</strong>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4 clearfix">


                                    @if(auth != null && user != null) {
                                        <div class="text-right">
                                            @defining(new NotificationDAO()) { notiDAO =>
                                                <a id="notifications-link" data-html="true" data-placement="bottom" data-title="Notifications"> <i class="icon-bell" title="Notifications"> @notiDAO.count(user.getId)</i></a>
                                                <div id="notifications-list" class="stash">
                                                    <div class="list-group">
                                                    @for(noti <- notiDAO.all(user.getId)){
                                                        <a href="#" class="list-group-item" style="color: black">@noti.getMessage</a>
                                                    }
                                                    </div>
                                                </div>
                                                <script>
                                                $('#notifications-link').popover({content: function () {return $('#notifications-list').html();}});
                                                </script>
                                            }
                                            <a class="btn btn-link" href="@routes.UserController.getProfile(user.getId())">
                                                <img @if(user.getImage()){src="@user.getImage()"}else{src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image"} style="max-height: 40px; display: none;">
                                                @user.getName()
                                            </a>
                                            <a class="btn" href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout"><i class="icon-signout"></i></a>
                                        </div>

                                    } else {
                                        <div class="btn-group user-login text-right">
                                            <a class="btn btn-primary" href="@Registry.getProviders().iterator().next().getUrl()"><i class="icon-@Registry.getProviders().iterator().next().getKey().toLowerCase icon-white"></i> Login</a>
                                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                            @forProviders() { p =>
                                                <li><a href="@p.getUrl()"><i class="icon-@p.getKey().toLowerCase"></i> @(p.getKey().substring(0, 1).toUpperCase + p.getKey().substring(1, p.getKey().length).toLowerCase)</a></li>
                                            }
                                            </ul>
                                        </div>
                                    }
                                    </div>
                                    <div class="col-1">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                @Http.Context.current().lang().language() <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                            @for(lang <- Lang.availables) {
                                                <li><a href="@routes.ApplicationController.changeLanguage(lang.language.toString)">@lang.language</a></li>
                                            }
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            }
                        }



                    <div class="row" id="navbar-secondlevel-collapsable">
                        <div class="accordion-body collapse col-12" id="navbar-secondlevel-journwe-home-select" data-parent="#navbar-secondlevel-collapsable">
                            <div class="text-center" style="margin: 10px 0px; line-height: 70px;">
                                <span><a href="@routes.ApplicationController.index()"><i class="icon-home" style="font-size: 70px;"></i></a> or <a href="@routes.ApplicationController.indexNew()"><img src="http://i.embed.ly/1/image/resize?height=50&key=2c8ef5b200c6468f9f863bc75c46009f&url=http://www.journwe.com/@routes.Assets.at("img/yingyangyong.png")" alt="JournWe logo" style="height: 50px; vertical-align: text-bottom;"></a></span>
                            </div>
                            <div class="text-center"><a onclick="$('#navbar-secondlevel-journwe-home-select').collapse('hide');"><i class="icon-chevron-up"></i></a></div>
                        </div>
                        <div class="accordion-body collapse col-12" id="navbar-secondlevel-inspiration-categories" data-parent="#navbar-secondlevel-collapsable">
                            <div>
                                <h4>Categories of Inspirations</h4>
                                <ul class="nav nav-pills nav-stacked">
                                @defining(new CategoryDAO()){catDAO =>
                                    @defining(catDAO.all()){ categories =>
                                        @for(cat <- categories) {
                                            <li><a href="@routes.ApplicationController.categoryIndex(cat.getId())">
                                                <span class="badge badge-info pull-right">@catDAO.countInspirations(cat.getId())</span>@cat.getName()</a>
                                            </li>
                                        }
                                    }
                                }
                                </ul>
                            </div>
                            <div class="text-center"><a onclick="$('#navbar-secondlevel-inspiration-categories').collapse('hide');"><i class="icon-chevron-up"></i></a></div>
                        </div>
                        <div class="accordion-body collapse col-12" id="navbar-secondlevel-general-search" data-parent="#navbar-secondlevel-collapsable">
                            <div class="text-center">
                                <div class="input-append">
                                    <input type="text" class="input-xlarge search-query" placeholder="Find Places, People and Inspirations">
                                    <button class="btn"><i class="icon-search"></i></button>
                                </div>
                            </div>
                            <div class="text-center"><a onclick="$('#navbar-secondlevel-general-search').collapse('hide');"><i class="icon-chevron-up"></i></a></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


            <div class="main row">
                <div class="col-8 col-offset-2">
                    @if(!header.toString().equals(" ")){
                        <div class="page-header">
                            <h1>@header</h1>
                        </div>
                    }
                    @if(flash("error")) {
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash("error")
                        </div>
                    }
                    @if(flash("success")) {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash("success")
                        </div>
                    }
                    @if(flash("info")) {
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @flash("info")
                        </div>
                    }
                    @content


                </div>
            </div>

                <!-- TOP NAVIGATION -->
            <div class="row">
                <div class="col-8 col-offset-2">
                    <div class="jrn-container clearfix">
                        <div class="pull-right"><a onclick="$('html, body').animate({ scrollTop: 0 }, 600); return false;"><i class="icon-chevron-up"></i> Top</a></div>
                    </div>
                </div>
            </div>

                <!-- FOOTER -->
            <div class="footer row">
                <div class="col-8 col-offset-2">
                    <div class="jrn-container clearfix">
                        <div class="col-12">
                            <div class="col-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li @if(active == "home"){class="active"}><a href="@routes.ApplicationController.index">Home</a></li>
                                    <li @if(active == "about"){class="active"}><a href="@routes.ApplicationController.about">About</a></li>
                                    <li @if(active == "contact"){class="active"}><a href="#contact">Contact</a></li>
                                    <li @if(active == "imprint"){class="active"}><a href="@routes.ApplicationController.imprint">Imprint</a> </li>
                                    @currentAuth() { auth => @if(auth != null && EUserRole.ADMIN.equals(new UserDAO().findByAuthUserIdentity(auth).getRole)){<li @if(active == "admin"){class="active"}><a href="@routes.ApplicationController.admin">Admin</a></li>}}
                                </ul>
                            </div>
                            <div class="col-8">
		                    Find us on Social Networks
                            </div>
                        </div>
                        <div class="text-center">&copy; 2013 JournWe</div>
                    </div>
                </div>
            </div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=515340035175937";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        </div>
    </body>
</html>