@(subForm: Form[Subscriber])

@import play.mvc.Controller._

@main_subscribe {
<p>JournWe helps you to start adventures with people you want to be your fellow adventurers. Find new friends to join
    your travel adventures or convince your friends on facebook to join an adventure.</p>
<div class="spacer30"></div>
<div class="text-center">

    <p class="Lead"><strong>Subscribe with your email to get notified when we go online!</strong></p>


    <form action="@routes.ApplicationController.subscribe()" class="form-horizontal">
        <fieldset>
            <div class="input-append">
                <input style="font-size: 25px; padding: 11px 19px;" class="input-xlarge" name="email" type="email" required>
                <input style="font-size: 25px;" class="btn btn-success btn-large" type="submit" value="Subscribe!"/>
            </div>
        </fieldset>
    </form>

</div>
<div class="spacer30"></div>
}