@(ins: models.inspiration.Inspiration)

@import play.libs.Json

@scripts = {
    <script type="text/javascript">
    define("inspirationData", [], @{if(ins != null){Json.toJson(ins)}else{Json.newObject()}});
    </script>
}

@main(Messages("journwe.subtitle")){ } {
    <div class="container">
        <div id="yingyangyong-container" class="jrn-container">
            <h2><i class="fa fa-asterisk"></i> New @if(ins != null){@ins.getName()} JournWe</h2>
            @yingyangyong(ins)
        </div>
    </div>

}(Html.empty, "indexNew", scripts)
