@(user: models.user.User)



@main(Messages("journwe.subtitle")) {JournWe
    <small>@Messages("journwe.subtitle")</small>
} {


    <div id="yingyangyong-container" class="stash jrn-no-top-round" style="margin-top: -20px ; margin-bottom: 70px;">
        @yingyangyong(null)
        <div>
            <button class="btn btn-default btn-block btn-yingyangyong-close"><i class="fa fa-chevron-up"></i></button>
        </div>
    </div>

    <hr>

    <div class="jrn-container jrn-no-top-round jrn-no-top-gap-page-header">

        <p class="lead">
        @Messages("index.welcome1", user.getName())
        </p>
        <h2><i class="fa fa-bookmark"></i> @Messages("index.myJournWes") <div class="pull-right"><button class="btn btn-adventure-my-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h2>
        <div style="margin-bottom : 20px; margin-left: -5px; margin-right: -5px;">

            <div class="adventures-list-full clearfix">
                <div class="adventure-entry pull-left" style="width: 20%; padding: 5px;">
                    <div><a class="btn-yingyangyong-start"><h4 title="New JournWe">New JournWe</h4></a></div>
                    <div style="margin-bottom: 5px">
                        <div class="label place" style="width: 100%;" title="Place"><i class="fa fa-globe"></i> ?</div>
                        <div class="label adventurer" style="width: 100%;" title="Adventurers"><i class="fa fa-group"></i> ?</div>
                        <div class="label time" style="width: 100%;" title="Time"><i class="fa fa-calendar"></i> ?</div>
                    </div>
                    <div class="text-center" style="position: relative;">
                        <a class="btn-yingyangyong-start">
                            <img class="img-rounded" style="width:100%;" src="http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=++add++">
                        </a>
                        <div class="text-center" style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                            <span class="label label-default" title="Status" style="display: inline-block; width: 100%;">Waiting</span>
                        </div>

                    </div>
                </div>
                <span class="list-adventures-my"><div class="loader"></div></span>
            </div>
            <div class="text-center"><button class="btn btn-adventures-my-load-more btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
            <script type="text/x-tmpl" id="adventure-my-template">
                <div class="adventure-entry pull-left" data-id="{%=o.id%}" style="width: 20%; padding: 5px;">
                    <div><a href="{%=o.link%}"><h4 title="{%=o.name%}">{%=o.name%}</h4></a></div>
                    <div style="margin-bottom: 5px">
                        <div class="label place" style="width: 100%;" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}&nbsp;</div> 
                        <div class="label adventurer" style="width: 100%;" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}&nbsp;</div> 
                        <div class="label time" style="width: 100%;" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=o.favoriteTime.startDate%} {% } else { %} ? {% } %} </div>
                    </div>
                    <div class="text-center" style="position: relative;">
                        <a href="{%=o.link%}">
                            <img class="img-rounded" style="width:100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=200&h=200&u=' + o.image + (o.imageTimestamp != null ? '&t='+o.imageTimestamp : ''))%}{% } %}">
                        </a>
                        <div class="text-center" style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                            <span class="label label-{%=o.cssLabel%}" title="Status" style="display: inline-block; width: 100%;">{%=o.status%}</span>
                        </div>

                    </div>
                </div>
            </script>
        </div>
        <div class="spacer30"></div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1"><img src="@routes.Assets.at("img/journwe_logo.png")" style="max-width: 100%;"></div>
                            <div class="col-xs-8"><p class="lead">
                                Ready for a new lifetime experience? Start your next JournWe!</p></div>
                            <div class="col-xs-3">
                                <button class="btn btn-danger btn-lg btn-yingyangyong-start">
                                    <span class="lead">Start now <i class="fa fa-angle-right"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="jrn-container">
        <h1>
        @Messages("inspiration.getInspired")
        </h1>

        <h2><i class="fa fa-folder-open"></i> @Messages("public.categories") <div class="pull-right"><button class="btn btn-categories-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h2>

        <div style="">
            <div id="categories-list" class="text-center"><div class="loader"></div></div>
        </div>
        <div class="clearfix"></div>

       @*
        <h3><i class="fa fa-bullhorn"></i> @Messages("public.adventures") <div class="pull-right"><button class="btn btn-adventures-public-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h3>
        <div style="background-color : rgba ( 245, 245, 245, 0.6 ) ;">
            <div id="adventures-public-list" class="text-center"><i class="fa fa-spin icon-journwe" style="font-size : 50 px ; margin-bottom : 20 px ;"></i></div>
            <div class="text-center"><button class="btn btn-adventures-public-load-more btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
        </div>
        <div style="height : 400 px ; margin-top : 10 px ;">
            <div id="adventures-places-map" style="width : 100 % ; height : 100 %"></div>
        </div>
       *@
    </div>
    <script type="text/x-tmpl" id="category-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}">
                <img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}">
                <div style="position: absolute; bottom: 0px; right: 0px; left: 0px; top: 0px; padding: 0px;">
                    <img src="@routes.Assets.at("img/overlay/category_overlay.png")" style="width: 100%; height: 100%; margin: 0px;">
                </div>
            </a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%} <span class="badge badge-info">{%=o.count%}</span></a></h4></div>
            </div>
        </div>
    </script>
    @*
    <script type="text/x-tmpl" id="adventure-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}"><img class="img-rounded" style="margin: 0px; width: 204px; height: 204px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=204&height=204&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
                <div class="overlay text-center" style="display: none;">
                    <span class="label place" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</span>
                    <span class="label adventurer" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}</span>
                    <span class="label time" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</span>
                </div>
            </div>
        </div>
    </script>
    *@

    <script src="@routes.Assets.at("javascripts/module/indexVet.js").url" type="text/javascript"></script>
}
