@(cat:  models.category.Category)


@main(Messages("journwe.subtitle")) {JournWe
    <small>@Messages("journwe.subtitle")</small>
} {


    <h3><i class="icon-bullhorn"></i>Inspirations in @cat.getName</h3>
    <div style="background-color: rgba(245,245,245,0.6);">
        <div id="inspirations-public-list" class="text-center"><i class="icon-spin icon-compass" style="font-size: 50px; margin-bottom: 20px;"></i></div>
        <div class="text-center"><button id="inspirations-public-load-more-button" class="btn btn-block" onclick="loadInspirations($('#inspirations-public-list .polaroid').last().data('id'));">Show More</button></div>
    </div>
    <script type="text/x-tmpl" id="inspiration-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left;">
            <a href="{%=o.link%}"><img style="margin: 0px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=204&height=204&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(document).ready(function(){

        loadInspirations(null, true);

        });

        function loadInspirations(lastId, clear) {
        $('#adventures-public-load-more-button').html('<i class="icon-spin icon-spinner"></i>');
        $.get('@routes.ApplicationController.getInspirations(cat.getId)', {lastId: lastId, count: 10} , function (advs) {
        if (clear) $('#inspirations-public-list').empty();
        for(var i in advs) {
        var polaroid = tmpl('inspiration-public-template', advs[i]);
        $('#inspirations-public-list').append(polaroid);

        $('#inspirations-public-list .polaroid').last().hide().fadeIn().hover(
        function(){
        $(this).find("div.overlay").slideDown("fast");
        },
        function(){
        $(this).find("div.overlay").slideUp("fast");
        }
        );

        }
        $('#inspirations-public-load-more-button').html('Show More');
        });
        }
    </script>

}
