@(user: models.user.User)

@import play.libs.Json

@scripts = {
    <script type="text/javascript">
    define("inspirationData", [], @{Json.newObject()});
    </script>
}

@main(Messages("journwe.subtitle")) { } {

<div class="container content">

    <div class="jrn-container">

        <div class="row">
            <div class="col-sm-2">
                <a href="@core.html.routes.UserController.getProfile(user.getId())">
                    <img class="img-circle img-responsive" @if(user.getImage()){src="/thumbnail?w=100&h=100&u=@user.getImage()"}else{src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image"}>
                </a>
            </div>
            <div class="col-sm-10">
                <a class="btn-link" href="@core.html.routes.UserController.getProfile(user.getId())"><h1>@user.getName()</h1></a>
                <p class="lead">
                @Messages("index.welcome")
                </p>
                <div class="clearfix">
                    <ul class="nav nav-pills">
                        <li><a class="btn btn-primary btn-lg btn-adventure-new"><i class="fa fa-asterisk"></i> Start a JournWe</a></li>
                        <li><a class="btn btn-default btn-get-inspired"><i class="fa fa-lightbulb-o"></i> Get Inspired</a></li>
                    </ul>
                </div>
            </div>
        </div>


       <div class="spacer20"></div>

        <h2><i class="fa fa-bookmark"></i> @Messages("index.myJournWes") <div class="pull-right"><button class="btn btn-adventure-my-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h2>
        <div style="margin-bottom : 20px;">

            <div class="clearfix">
                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-default"><i class="fa fa-th-list"></i></button>
                    <button class="btn btn-default"><i class="fa fa-th-large"></i></button>
                </div>
            </div>
            <div class="adventures-list-full clearfix">
                <span class="list-adventures-my"><div class="loader"></div></span>
                <div class="col-md-3 adventure-entry" style="display: inline-block; vertical-align: top; padding: 5px;">
                    <div><a class="btn-adventure-new" href="#"><h4 title="New JournWe"><i class="fa fa-asterisk"></i> New JournWe</h4></a></div>
                    <div style="margin-bottom: 5px">
                        <div class="label place" style="width: 100%;" title="Place"><i class="fa fa-globe"></i> ?</div>
                        <div class="label adventurer" style="width: 100%;" title="Adventurers"><i class="fa fa-group"></i> ?</div>
                        <div class="label time" style="width: 100%;" title="Time"><i class="fa fa-calendar"></i> ?</div>
                    </div>
                    <div class="text-center" style="position: relative;">
                        <a class="btn-adventure-new" href="#">
                            <img class="img-rounded" style="width: 100%;" src="http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=++add++">
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center hide"><button class="btn btn-adventures-my-load-more btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
            <script type="text/x-tmpl" id="adventure-my-template">
                <div class="col-md-3 adventure-entry" data-id="{%=o.id%}" style="display: inline-block; vertical-align: top; padding: 5px;">
                    <div><a href="{%=o.link%}"><h4 title="{%=o.name%}">{%=o.name%}</h4></a></div>
                    <div style="margin-bottom: 5px">
                        <div class="label place" style="width: 100%;" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}&nbsp;</div> 
                        <div class="label adventurer" style="width: 100%;" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}&nbsp;</div> 
                        <div class="label time" style="width: 100%;" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=o.favoriteTime.startDate%} {% } else { %} ? {% } %} </div>
                    </div>
                    <div class="text-center" style="position: relative;">
                        <a href="{%=o.link%}">
                            <img class="img-rounded" style="width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=200&h=200&u=' + o.image + (o.imageTimestamp != null ? '&t='+o.imageTimestamp : ''))%}{% } %}">
                        </a>
                        <div class="text-center" style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                            <span class="label label-{%=o.cssLabel%}" title="Status" style="display: inline-block; width: 100%;">{%=o.status%}</span>
                        </div>

                    </div>
                </div>
            </script>
        </div>
    </div>

    <div id="adventure-new" class="modal fade in" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form form-horizontal" action="@controllers.html.routes.AdventureController.save()" method="POST">
                <div class="modal-header">
                    <h3 class="modal-title"><i class="fa fa-asterisk"></i> New JournWe</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">JournWe Name</label>
                        <div class="col-md-9">
                            <input class="form-control" name="name" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Create JournWe</button>
                    <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> @Messages("adventure.general.button.cancel")</a>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="jrn-container">
        <h2 id="inspiration-categories"><i class="fa fa-folder-open"></i> @Messages("public.categories") <div class="pull-right"><button class="btn btn-categories-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h2>
        <p class="lead">@Messages("inspiration.getInspired")</p>

        <div style="">
            <div id="categories-list" class="text-center"><div class="loader"></div></div>
        </div>
        <div class="clearfix"></div>

       @*
        <h3><i class="fa fa-bullhorn"></i> @Messages("public.adventures") <div class="pull-right"><button class="btn btn-adventures-public-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h3>
        <div style="background-color : rgba ( 245, 245, 245, 0.6 ) ;">
            <div id="adventures-public-list" class="text-center"><i class="fa fa-spin icon-journwe" style="font-size : 50 px ; margin-bottom : 20 px ;"></i></div>
            <div class="text-center"><button class="btn btn-adventures-public-load-more btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
        </div>
        <div style="height : 400 px ; margin-top : 10 px ;">
            <div id="adventures-places-map" style="width : 100 % ; height : 100 %"></div>
        </div>
       *@
    </div>
    <script type="text/x-tmpl" id="category-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}">
                <img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}">
                <div style="position: absolute; bottom: 0px; right: 0px; left: 0px; top: 0px; padding: 0px;">
                    <img src="@routes.Assets.at("img/overlay/category_overlay.png")" style="width: 100%; height: 100%; margin: 0px;">
                </div>
            </a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%} <span class="badge badge-info">{%=o.count%}</span></a></h4></div>
            </div>
        </div>
    </script>
    @*
    <script type="text/x-tmpl" id="adventure-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}"><img class="img-rounded" style="margin: 0px; width: 204px; height: 204px;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=204&height=204&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
                <div class="overlay text-center" style="display: none;">
                    <span class="label place" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</span>
                    <span class="label adventurer" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}</span>
                    <span class="label time" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</span>
                </div>
            </div>
        </div>
    </script>
    *@
</div>
}(HtmlFormat.empty, "indexVet", scripts)
