@(cat:  models.category.Category)

@import models.category.Category
@import models.dao.category.CategoryHierarchyDAO
@import models.dao.category.CategoryDAO
@import play.libs.Json

@main(Messages("journwe.subtitle")) { Category <em>@if(Category.SUPER_CATEGORY.equals(cat.getId)){Overview}else{@cat.getName}</em> } {


<div class="container">


    <div class="jrn-container jrn-no-round jrn-no-top-gap-page-header" style="padding: 0;">
        <ol  class="breadcrumb">
            @if(Category.SUPER_CATEGORY.equals(cat.getId)){
                <li class="active">Overview</li>
            } else {
                <li><a href="@html.routes.IndexController.categoryOverview()">Overview</a></li>
            }
            @defining(new CategoryHierarchyDAO){ catHierDAO =>
                @for(catId <- catHierDAO.getSuperHierarchy(cat.getId)){
                    @defining(new CategoryDAO().get(catId)){catHier =>
                        @if(catId.equals(cat.getId)){
                            <li class="active">@catHier.getName</li>
                        } else {
                            <li><a href="@html.routes.IndexController.categoryIndex(catId)">@catHier.getName</a></li>
                        }
                    }
                }
            }
        </ol>
    </div>
    <div class="jrn-container jrn-no-top-round jrn-no-top-gap-page-header">


    @if(!"".equals(cat.getHTMLDescription())){
        <div>
            <p class="lead">
            @Html(cat.getHTMLDescription())
            </p>
        </div>
    }

    @defining(new CategoryDAO()){ catDAO =>
    @if(catDAO.countSubcategory(cat.getId) > 0) {
        <div class="jrn-subcategory">

            <h2 id="subcategories"><i class="fa fa-arrow-down"></i> @Messages("index.category.subcategories") (@catDAO.countSubcategory(cat.getId))</h2>
            <div style="">
                <div id="categories-list">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script type="text/x-tmpl" id="category-template">
            <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
                <a href="{%=o.link%}">
                    <img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}">
                    <div style="position: absolute; bottom: 0px; right: 0px; left: 0px; top: 0px; padding: 0px;">
                        <img class="img-rounded" src="@routes.Assets.at("img/overlay/category_overlay.png")" style="width: 100%; height: 100%; margin: 0px;">
                    </div>
                </a>
                <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                    <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%} <span class="badge badge-info">{%=o.count%}</span></a></h4></div>
                </div>
            </div>
        </script>
    }
    </div>

    @if(catDAO.countInspirationsByCategory(cat.getId) > 0){
    <div class="jrn-container">
        <h2 id="inspirations"><i class="fa fa-lightbulb-o"></i> @Messages("inspiration.text") (@catDAO.countInspirationsByCategory(cat.getId))<div class="pull-right"><button class="btn btn-success btn-inspirations-public-refresh"><i class="fa fa-refresh"></i></button></div></h2>
        <div style="">
            <div id="inspirations-public-list" class="text-center"><div class="loader"></div></div>
            <div class="clearfix"></div>
            <div class="text-center"><button class="btn btn-default btn-block btn-inspirations-public-load-more"> @Messages("adventure.general.button.more") </button></div>
        </div>
        <div style="height: 400px; margin-top: 10px;">
            <div id="inspirations-places-map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <script type="text/x-tmpl" id="inspiration-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 25%;">
            <a href="{%=o.link%}"><img class="img-rounded" style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div class="overlay text-center" style="line-height: 20px; display: none;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
            </div>
        </div>
    </script>
    }

    }

    <div class="jrn-container">
        <h2 id="publicadventures"><i class="fa fa-bullhorn"></i> @Messages("public.adventures") <div class="pull-right"><button id="adventures-public-button-refresh" class="btn btn-success"><i class="fa fa-refresh"></i></button></div></h2>

        <div style="">
            <div id="adventures-public-list" class="text-center"><div class="loader"></div></div>
            <div class="clearfix"></div>
            <div class="text-center"><button id="adventures-public-load-more-button" class="btn btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
        </div>
        <div style="height: 400px; margin-top: 10px;">
            <div id="adventures-places-map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <script type="text/x-tmpl" id="adventure-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}"><img class="img-rounded" style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
                <div class="overlay text-center" style="display: none;">
                    <span class="label" style="background-color: rgba(184, 246, 145, 0.5);" title="Place"><i class="icon-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</span>
                    <span class="label" style="background-color: rgba(235, 114, 104, 0.5);" title="Adventurers"><i class="icon-group"></i> {%=o.peopleCount%}</span>
                    <span class="label" style="background-color: rgba(152, 229, 251, 0.5);" title="Time"><i class="icon-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        define("categoryData", [], @{Html(Json.toJson(cat).toString())});
    </script>

</div>
}(Html.empty, "indexCat")
