
@import models.dao.user._
@import com.feth.play.module.pa.views.html._


@main(Messages("journwe.subtitle")) {JournWe
    <small>@Messages("journwe.subtitle")</small>
} {


    <div id="yingyangyong-container" style="display: none; margin-top: -20px; margin-bottom: 70px;">
        @yingyangyong(null)
        <div>
            <button class="btn btn-default btn-block" onclick="$('#yingyangyong-container').slideUp(500); $('#yingyangyong-starter button').prop('disabled', false);"><i class="fa fa-chevron-up"></i></button>
        </div>
    </div>


    <hr>

    <div class="jrn-container jrn-no-top-round" style="margin-top: -20px;">
        @currentAuth() { auth => @if(auth != null && new UserDAO().findByAuthUserIdentity(auth) != null) {
                <p class="lead">
                    @Messages("index.welcome1", new UserDAO().findByAuthUserIdentity(auth).getName())
                </p>
            }
        }
    
        <h3><i class="fa fa-bookmark"></i> @Messages("index.myJournWes") <div class="pull-right"><button id="adventures-my-button-refresh" class="btn btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h3>
        <div class="row" style="margin-bottom: 20px">

            <div id="adventures-my-list" class="text-center adventures-list-full"><i class="fa fa-spin icon-journwe" style="font-size: 50px; margin-bottom: 20px;"></i></div>
            <div class="text-center"><button id="adventures-my-load-more-button" class="btn btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
            <script type="text/x-tmpl" id="adventure-my-template">
                <div class="adventure-entry" data-id="{%=o.id%}" style="position: relative; float: left; width: 20%;">
                    <div class="row"><a href="{%=o.link%}"><h4>{%=o.name%}</h4></a></div>
                    <div class="row" style="margin-bottom: 5px">
                        <div class="col-lg-4" style="background-color: rgba(184, 246, 145, 1);" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</div>
                        <div class="col-lg-4" style="background-color: rgba(235, 114, 104, 1);" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}</div>
                        <div class="col-lg-4" style="background-color: rgba(152, 229, 251, 1);" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</div>
                    </div>
                    <div class="row">
                        <a href="{%=o.link%}" class="media-object">
                            <img height="200" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/200x200/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=200&height=200&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}">
                        </a>
                    </div>
                </div>
            </script>
            <script type="text/javascript">
                $(document).ready(function(){

                    loadMyAdventures(null, true);

                    $('#adventures-my-button-refresh').click(function () {loadMyAdventures(null, true);});
                    $('#adventures-my-load-more-button').click(function () {loadMyAdventures($('#adventures-my-list .adventure-entry').last().data('id'));});

                });

                function loadMyAdventures(lastId, clear) {
                    $('#adventures-my-button-refresh i').addClass('fa-spin');
                    $('#adventures-my-load-more-button').html('<i class="fa fa-spin icon-journwe"></i>');
                    $.get('@api.json.routes.ApplicationController.getMyAdventures()', {lastId: lastId, count: 10} , function (advs) {
                        if (clear) $('#adventures-my-list').empty();
                        for(var i in advs) {
                            var adventure = tmpl('adventure-my-template', advs[i]);
                            $('#adventures-my-list').append(adventure);
                        }
                        if (advs.length < 10){
                            $('#adventures-my-load-more-button').fadeOut();
                        } else {
                            $('#adventures-my-load-more-button').show().html('Show More');
                        }
                        $('#adventures-my-button-refresh i').removeClass('fa-spin');
                    });
                }
            </script>
        </div>
        <div class="jumbotron row">
            <div class="col-lg-9"><p class="lead">Starte dein nächstes JournWe!!!</p></div>
            <div id="yingyangyong-starter" class="col-lg-3 text-center">
                <button class="btn btn-link" href="#" onclick="$('#yingyangyong-container').slideDown(function () {resetBounds();}); $('#yingyangyong-starter button').prop('disabled', true);">
                    <img src='@routes.Assets.at("img/journwe_logo.png").absoluteURL()' width="170"><br>
                    <p class="lead"><i class="fa fa-asterisk"></i> Los geht's! </p>
                </button>
            </div>
        </div>
        <div class="jumbotron row">
            <div class="col-lg-9"><p class="lead">Hol dir Inspirationen für dein nächstes JournWe.</p></div>
            <div id="yingyangyong-starter" class="col-lg-3 text-center">
                <button class="btn btn-link" href="#" onclick="$('#yingyangyong-container').slideDown(function () {resetBounds();}); $('#yingyangyong-starter button').prop('disabled', true);">
                    <img src='@routes.Assets.at("img/journwe_logo.png").absoluteURL()' width="170"><br>
                    <p class="lead"><i class="fa fa-lightbulb"></i> Auf zum Atem! </p>
                </button>
            </div>
        </div>
    </div>


    <div class="jrn-container">
        <h2><i class="fa fa-folder-open"></i> @Messages("public.categories") <div class="pull-right"><button id="categories-button-refresh" class="btn btn-success"><i class="fa fa-refresh"></i></button></div></h2>

        <div style="">
            <div id="categories-list" class="text-center"><i class="fa fa-spin icon-journwe" style="font-size: 50px; margin-bottom: 20px;"></i></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script type="text/x-tmpl" id="category-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}">
                <img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=204&height=204&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}">
                <div style="position: absolute; bottom: 0px; right: 0px; left: 0px; top: 0px; padding: 0px;">
                    <img src="@routes.Assets.at("img/overlay/category_overlay.png")" style="width: 100%; height: 100%; margin: 0px;">
                </div>
            </a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%} <span class="badge badge-info">{%=o.count%}</span></a></h4></div>
            </div>
        </div>
    </script>
    <script type="text/javascript">

        $(document).ready(function(){
            loadCategories(null, true);

            $('#categories-button-refresh').click(function () {loadCategories(null, true);});

        });

        function loadCategories(lastId, clear) {
            $('#categories-button-refresh i').addClass('fa-spin');
            $('#categories-load-more-button').html('<i class="fa fa-spin icon-journwe"></i>');
            $.get('@api.json.routes.ApplicationController.getCategories(models.category.Category.SUPER_CATEGORY)', {lastId: lastId, count: 10} , function (cats) {
                if (clear) $('#categories-list').empty();
                for(var i in cats) {
                    $('#categories-list').append(tmpl('category-template', cats[i]));
                }

                if (cats.length < 10){
                    $('#categories-load-more-button').fadeOut();
                } else {
                    $('#categories-load-more-button').show().html('Show More');
                }
                $('#categories-button-refresh i').removeClass('fa-spin');
            });
        }
    </script>

    @*
    <div class="jrn-container">
        <h2><i class="fa fa-bullhorn"></i> @Messages("public.adventures") <div class="pull-right"><button id="adventures-public-button-refresh" class="btn btn-success"><i class="fa fa-refresh"></i></button></div></h2>

        <div style="">
            <div id="adventures-public-list" class="text-center"><i class="fa fa-spin icon-journwe" style="font-size: 50px; margin-bottom: 20px;"></i></div>
            <div class="text-center"><button id="adventures-public-load-more-button" class="btn btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
        </div>
        <div style="height: 400px; margin-top: 10px;">
            <div id="adventures-places-map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <script type="text/x-tmpl" id="adventure-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}"><img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://i.embed.ly/1/image/crop?width=204&height=204&url=' + o.image + '&key=2c8ef5b200c6468f9f863bc75c46009f')%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
                <div class="overlay text-center" style="display: none;">
                    <span class="label" style="background-color: rgba(184, 246, 145, 0.5);" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</span>
                    <span class="label" style="background-color: rgba(235, 114, 104, 0.5);" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}</span>
                    <span class="label" style="background-color: rgba(152, 229, 251, 0.5);" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</span>
                </div>
            </div>
        </div>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAbYnwpdOgqWhspiETgFdlXyX3H2Fjb8fY"></script>
    <script type="text/javascript">
        var adventuresMap;
        var adventuresMarkers = [];
        google.maps.visualRefresh = true;

        function initializeAdventuresMap() {
            var mapOptions = {
                zoom: 5,
                center: new google.maps.LatLng(49.483472, 8.476992),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            adventuresMap = new google.maps.Map(document.getElementById('adventures-places-map'), mapOptions);
        }

        function resetAdventuresBounds() {
            var bounds = new google.maps.LatLngBounds();
            for(var i in adventuresMarkers) {
                bounds.extend(adventuresMarkers[i].getPosition());
            }
            adventuresMap.fitBounds(bounds);
            if(adventuresMap.getZoom() > 10) adventuresMap.setZoom(10);
            google.maps.event.trigger(adventuresMap, 'resize');
        }


        $(document).ready(function(){
            initializeAdventuresMap();
            loadPublicAdventures(null, true);

            $('#adventures-public-button-refresh').click(function () {loadPublicAdventures(null, true);});
            $('#adventures-public-load-more-button').click(function () {loadPublicAdventures($('#adventures-public-list .polaroid').last().data('id'));});

        });

        function loadPublicAdventures(lastId, clear) {
            $('#adventures-public-button-refresh i').addClass('fa fa-spin');
            $('#adventures-public-load-more-button').html('<i class="fa fa-spin icon-journwe"></i>');
            $.get('@api.json.routes.ApplicationController.getPublicAdventures()', {lastId: lastId, count: 10} , function (advs) {
                if (clear) $('#adventures-public-list').empty();
                for(var i in advs) {
                    $('#adventures-public-list').append(tmpl('adventure-public-template', advs[i]));

                    adventuresMarkers[advs[i].id] = new google.maps.Marker({
                        animation: google.maps.Animation.DROP,
                        map: adventuresMap,
                        position: new google.maps.LatLng(advs[i].lat, advs[i].lng),
                        title: advs[i].name
                    });
                    var infowindow = new google.maps.InfoWindow({
                        content: '<a href="' + advs[i].link + '"><h3>' + advs[i].name + '</h3></a>'
                    });
                    google.maps.event.addListener(adventuresMarkers[advs[i].id], 'click', function() {
                        infowindow.open(adventuresMap, adventuresMarkers[advs[i].id]);
                    });

                    resetAdventuresBounds();

                }

                $('#adventures-public-list .polaroid').hide().fadeIn().hover(
                    function(){
                        $(this).find("div.overlay").slideDown("fast");
                    },
                    function(){
                        $(this).find("div.overlay").slideUp("fast");
                    }
                );
                if (advs.length < 10){
                    $('#adventures-public-load-more-button').fadeOut();
                } else {
                    $('#adventures-public-load-more-button').show().html('Show More');
                }
                $('#adventures-public-button-refresh i').removeClass('fa fa-spin');
            });
        }
    </script>
    *@

    <div id="leave" class="modal fade" tabindex="-1" role="dialog" onfocus="$('#leave-question').html('Sure, you want to leave ' + $('#leave').data('adventure-name') + '?')">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="leave-question"> @Messages("adventure.general.leaveconfirm") </h3>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" onclick="window.location.href = $('#leave').data('leave-link')"> @Messages("adventure.general.button.leave") </a> <a class="btn btn-default"
                data-dismiss="modal"> @Messages("adventure.general.button.cancel") </a>
                </div>
            </div>
        </div>
    </div>
}
