<section class="jrn-container">
    <h2>Welcome, <small>the adventure starts now.</small></h2>
    <p>JournWe ist das beste seit geschnitten Brot. Planen und Organisieren von Grippenreisen - der pure Horror? Nicht mit JournWe.</p>

    <ul class="nav nav-tabs nav-justified">
        <li class="active" style="background-color : rgba( 50, 100, 200, 1 )"><a href="#explain" data-slide-to="0" data-toggle="tab"><i class="fa fa-facebook"></i> Freunde einladen</a></li>
        <li style="background-color : rgba( 100, 200, 100, 1 )"><a href="#explain" data-slide-to="1" data-toggle="tab"><i class="fa fa-globe"></i> Ort finden</a></li>
        <li style="background-color : rgba( 200, 100, 100, 1 )"><a href="#explain" data-slide-to="2" data-toggle="tab"><i class="fa fa-group"></i> Reise organisieren</a></li>
        <li style="background-color : rgba( 200, 200, 100, 1 )"><a href="#explain" data-slide-to="3" data-toggle="tab"><i class="fa fa-glass"></i> Spass haben</a></li>
    </ul>

    <div id="explain" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#explain" data-slide-to="0" class="active"></li>
            <li data-target="#explain" data-slide-to="1"></li>
            <li data-target="#explain" data-slide-to="2"></li>
            <li data-target="#explain" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img width="100%" height="300" src="http://i.imgur.com/GD0jD4J.jpg">
            </div>
            <div class="item">
                <img width="100%" height="300" src="http://i.imgur.com/fM02rTj.png">
            </div>
            <div class="item">
                <img width="100%" height="300" src="http://i.imgur.com/AbHZp3y.jpg">
            </div>
            <div class="item">
                <img width="100%" height="300" src="http://i.imgur.com/4aJmfdf.jpg">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>