<section class="jrn-container quickintro">
    <h2>Welcome, <small>the adventure starts now.</small></h2>
    <p>JournWe ist das beste seit geschnitten Brot. Planen und Organisieren von Grippenreisen - der pure Horror? Nicht mit JournWe.</p>

    <ul class="nav nav-tabs nav-justified">
        <li class="active friends"><a href="#explain" data-slide-to="0" data-toggle="tab"><i class="fa fa-facebook"></i> Freunde einladen</a></li>
        <li class="place"><a href="#explain" data-slide-to="1" data-toggle="tab"><i class="fa fa-globe"></i> Ort finden</a></li>
        <li class="organizate"><a href="#explain" data-slide-to="2" data-toggle="tab"><i class="fa fa-group"></i> Reise organisieren</a></li>
        <li class="fun"><a href="#explain" data-slide-to="3" data-toggle="tab"><i class="fa fa-glass"></i> Spass haben</a></li>
    </ul>

    <div id="explain" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#explain" data-slide-to="0" class="active"></li>
            <li data-target="#explain" data-slide-to="1"></li>
            <li data-target="#explain" data-slide-to="2"></li>
            <li data-target="#explain" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img width="100%" height="300" src="http://i.imgur.com/fM02rTj.png">
                <div class="carousel-caption">
                    <h3>Freunde einladen</h3>
                    <p>Motiviere deine Freunde zu einem JournWe und gestaltet zusammen einen Ausflug.</p>
                </div>
            </div>
            <div class="item">
                <img width="100%" height="300" src="http://i.imgur.com/GD0jD4J.jpg">
                <div class="carousel-caption">
                    <h3>Ort finden</h3>
                    <p>Wo möchtest du mit Freunden etwas tolles erleben? Stimmt euch ab, welcher der passende Ort ist, um Geschichte zu schreiben.</p>
                </div>
            </div>
            <div class="item">
                <img width="100%" height="300" src="http://i.imgur.com/AbHZp3y.jpg">
                <div class="carousel-caption">
                    <h3>Reise organisieren</h3>
                    <p>Besprecht Details, macht gemeinsame Todo-Listen, korrespondiert mit Reise-/Touranbietern.</p>
                </div>
            </div>
            <div class="item">
                <img width="100%" height="300" src="http://i.imgur.com/4aJmfdf.jpg">
                <div class="carousel-caption">
                    <h3>Spass haben</h3>
                    <p>Am Ende steht klar eines: Spass haben. JournWe macht den Weg zum gemeinsamen Erlebnis ganz einfach.</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>