<div class="row"><h2>What is JournWe?</h2></div>
<div class="row">
    <div class="col-lg-3" style="background-color : rgba( 100, 200, 100, 1 )">
        <h3><i class="icon-globe"></i> Ort finden</h3>
    </div>
    <div class="col-lg-3" style="background-color : rgba( 50, 100, 200, 1 )">
        <h3><i class="icon-calendar"></i> Zeit finden</h3>
    </div>
    <div class="col-lg-3" style="background-color : rgba( 200, 100, 100, 1 )">
        <h3><i class="icon-facebook"></i> Freunde einladen</h3>
    </div>
    <div class="col-lg-3" style="background-color : rgba( 200, 200, 100, 1 )">
        <h3><i class="icon-cogs"></i> Reise organisieren</h3>
    </div>
</div>
<div class="row jumbotron">
    <div class="carousel slide">
            <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#success-stories" data-slide-to="0" class="active"></li>
            <li data-target="#success-stories" data-slide-to="1"></li>
            <li data-target="#success-stories" data-slide-to="2"></li>
            <li data-target="#success-stories" data-slide-to="3"></li>
            <li data-target="#success-stories" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>@Messages("landing.story5.header")</h3>
                        <blockquote><p class="lead">@Messages("landing.story5.content")</p>
                            <small><cite>@Messages("landing.story5.cite")</cite></small></blockquote>
                    </div>
                    <div class="col-lg-5 text-center">

                        <div class="polaroid" style="position : relative ; float : left ;">
                            <a href="#"><img style="margin : 0px ;" src="http://i.embed.ly/1/image/crop?width=400&height=300&key=2c8ef5b200c6468f9f863bc75c46009f"></a>
                            <div style="background-color : rgba(255,255,255,0.6) ; position : absolute ; bottom : 0px ; left : 0px ; right : 0px ; padding: 2px ;">
                                <div style="line-height : 20px ;"><h4><a href="#">Test</a></h4></div>
                                <div class="overlay text-center" style="display : none ;">
                                    <span class="label" style="background-color : rgba( 184, 246, 145, 0.5 ) ;" title="Place"><i class="icon-globe"></i>
                                        EARTH</span>
                                    <span class="label" style="background-color : rgba( 235, 114, 104, 0.5 ) ;" title="Adventurers"><i class="icon-group"></i>
                                        1</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>@Messages("landing.story5.header")</h3>
                        <blockquote><p class="lead">@Messages("landing.story5.content")</p>
                            <small><cite>@Messages("landing.story5.cite")</cite></small></blockquote>
                    </div>
                    <div class="col-lg-5 text-center">

                        <div class="polaroid" style="position : relative ; float : left ;">
                            <a href="#"><img style="margin : 0px ;" src="http://i.embed.ly/1/image/crop?width=400&height=300&key=2c8ef5b200c6468f9f863bc75c46009f"></a>
                            <div style="background-color : rgba( 255, 255, 255, 0.6 ) ; position : absolute ; bottom : 0px ; left : 0px ; right : 0px ; padding : 2px ;">
                                <div style="line-height : 20px ;"><h4><a href="#">Test</a></h4></div>
                                <div class="overlay text-center" style="display : none ;">
                                    <span class="label" style="background-color : rgba( 184, 246, 145, 0.5 ) ;" title="Place"><i class="icon-globe"></i>
                                        EARTH</span>
                                    <span class="label" style="background-color : rgba( 235, 114, 104, 0.5 ) ;" title="Adventurers"><i class="icon-group"></i>
                                        1</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>@Messages("landing.story5.header")</h3>
                        <blockquote><p class="lead">@Messages("landing.story5.content")</p>
                            <small><cite>@Messages("landing.story5.cite")</cite></small></blockquote>
                    </div>
                    <div class="col-lg-5 text-center">

                        <div class="polaroid" style="position : relative ; float : left ;">
                            <a href="#"><img style="margin : 0px ;" src="http://i.embed.ly/1/image/crop?width=400&height=300&key=2c8ef5b200c6468f9f863bc75c46009f"></a>
                            <div style="background-color : rgba( 255, 255, 255, 0.6 ) ; position : absolute ; bottom : 0px ; left : 0px ; right : 0px ; padding : 2px ;">
                                <div style="line-height : 20px ;"><h4><a href="#">Test</a></h4></div>
                                <div class="overlay text-center" style="display : none ;">
                                    <span class="label" style="background-color : rgba( 184, 246, 145, 0.5 ) ;" title="Place"><i class="icon-globe"></i>
                                        EARTH</span>
                                    <span class="label" style="background-color : rgba( 235, 114, 104, 0.5 ) ;" title="Adventurers"><i class="icon-group"></i>
                                        1</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>@Messages("landing.story5.header")</h3>
                        <blockquote><p class="lead">@Messages("landing.story5.content")</p>
                            <small><cite>@Messages("landing.story5.cite")</cite></small></blockquote>
                    </div>
                    <div class="col-lg-5 text-center">

                        <div class="polaroid" style="position : relative ; float : left ;">
                            <a href="#"><img style="margin : 0px ;" src="http://i.embed.ly/1/image/crop?width=400&height=300&key=2c8ef5b200c6468f9f863bc75c46009f"></a>
                            <div style="background-color : rgba( 255, 255, 255, 0.6 ) ; position : absolute ; bottom : 0px ; left : 0px ; right : 0px ; padding : 2px ;">
                                <div style="line-height : 20px ;"><h4><a href="#">Test</a></h4></div>
                                <div class="overlay text-center" style="display : none ;">
                                    <span class="label" style="background-color : rgba( 184, 246, 145, 0.5 ) ;" title="Place"><i class="icon-globe"></i>
                                        EARTH</span>
                                    <span class="label" style="background-color : rgba( 235, 114, 104, 0.5 ) ;" title="Adventurers"><i class="icon-group"></i>
                                        1</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>@Messages("landing.story5.header")</h3>
                        <blockquote><p class="lead">@Messages("landing.story5.content")</p>
                            <small><cite>@Messages("landing.story5.cite")</cite></small></blockquote>
                    </div>
                    <div class="col-lg-5 text-center">

                        <div class="polaroid" style="position : relative ; float : left ;">
                            <a href="#"><img style="margin : 0px ;" src="http://i.embed.ly/1/image/crop?width=400&height=300&key=2c8ef5b200c6468f9f863bc75c46009f"></a>
                            <div style="background-color : rgba( 255, 255, 255, 0.6 ) ; position : absolute ; bottom : 0px ; left : 0px ; right : 0px ; padding : 2px ;">
                                <div style="line-height : 20px ;"><h4><a href="#">Test</a></h4></div>
                                <div class="overlay text-center" style="display : none ;">
                                    <span class="label" style="background-color : rgba( 184, 246, 145, 0.5 ) ;" title="Place"><i class="icon-globe"></i>
                                        EARTH</span>
                                    <span class="label" style="background-color : rgba( 235, 114, 104, 0.5 ) ;" title="Adventurers"><i class="icon-group"></i>
                                        1</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Controls -->
        <a class="left carousel-control" href="#success-stories" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#success-stories" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>