@(ins: models.inspiration.Inspiration)

@import java.text.SimpleDateFormat
@import com.feth.play.module.pa.PlayAuthenticate
@import models.dao.user.UserDAO
@import models.dao.user.UserSocialDAO
@import play.libs.Json

<form id="yingyangyong-form" action="@html.routes.AdventureController.save()" method="POST">

    <div class="row">
        <div class="col-lg-8">
            <input type="text" name="name" placeholder="@Messages("yingyangyong.name.placeholder")" class="input input-lg form-control">
            @if(ins != null){<input type="hidden" name="inspirationId" value="@ins.getId">}
        </div>
        <div class="col-lg-4">
            <button type="submit" class="btn btn-yingyangyong-submit btn-lg btn-success pull-right">
                @Messages("adventure.general.button.startJournWe") <i class="fa fa-chevron-right fa-fw"></i></button>
        </div>
    </div>
    <div class="spacer20"></div>

    <div style="margin-left: 15px;">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a style="background-color: #78a942;" href="#where-tab" data-toggle="tab"><h4><i class="fa fa-globe"></i> Where?</h4></a></li>
            <li><a style="background-color: #eb3d00;" href="#who-tab" data-toggle="tab"><h4><i class="fa fa-group"></i> Who?</h4></a></li>
            <li><a style="background-color: #00d1fb;" href="#when-tab" data-toggle="tab"><h4><i class="fa fa-calendar"></i> When?</h4></a></li>
        </ul>
    </div>


    <div class="tab-content">

        <div class="tab-pane fade in active" id="where-tab">
            <div style="border: solid 0px #78a942; border-radius: 5px; background-color: #78a942; margin-bottom: 20px">
                <div style="background-color: rgba(255, 255, 255, 1); margin-left: 15px; padding: 15px;">
                    <h1><i class="fa fa-globe"></i> @Messages("yingyangyong.place")</h1>
                    <p class="lead">Add all destinations you want to consider in your JournWe&#8482;.</p>

                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Your destinations:</span>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-unstyled list-inline list-places"></ul>
                        </div>
                    </div>

                    <script type="text/x-tmpl" id="item-place-template">
                        <li class="item-place" data-id="{%=o.id%}">
                            <input type="hidden" name="place[]" value="{%=o.placeAddress%}/{%=o.placeLatitude%}/{%=o.placeLongitude%}">
                            <span class="label label-success"><i class="fa fa-map-marker"></i> {%=o.placeAddress%} &nbsp;<a class="item-place-remove">&times;</a></span>
                            <span class="divider"></span>
                        </li>
                    </script>

                    <div class="input-group">
                        <input id="place-add-input" type="text" placeholder="@Messages("yingyangyong.place.placeholder")" class="input-place-add form-control">
                        <div class="input-group-btn"><a class="btn btn-primary btn-place-add"><i class="fa fa-plus"></i></a></div>
                    </div>
                    <div class="spacer10"></div>
                    <div style="height: 400px;">
                        <div id="where-map" style="width: 100%; height: 100%"></div>
                    </div>
                    <div class="spacer20"></div>
                    <div class="clearfix">
                        <a class="btn btn-lg btn-primary pull-right" href="#who-tab" data-toggle="tab">Next <i class="fa fa-angle-right fa-fw"></i></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="who-tab">
            <div style="border: solid 0px #eb3d00; border-radius: 5px; background-color: #eb3d00; margin-bottom: 20px;">
                <div style="background-color: rgba(255, 255, 255, 1); margin-left: 15px; padding: 15px; ">
                    <h1><i class="fa fa-group"></i> @Messages("yingyangyong.adventurers")</h1>
                    <p class="lead">Add all friends that should know of this JournWe&#8482;.</p>

                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Your friends:</span>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-unstyled list-inline list-people"></ul>
                        </div>
                    </div>



                    <script type="text/x-tmpl" id="item-friend-template">
                        <li class="item-friend">
                            <input type="hidden" name="{%=o.type%}[]" value="{%=o.socialId%}">
                            <span class="label label-danger"><i class="{%=o.iconCss%}"></i> {%=o.name%} &nbsp;<a class="item-friend-remove">&times;</a></span>
                            <span class="divider"></span>
                        </li>
                    </script>

                    <div class="input-group">
                        @defining(PlayAuthenticate.getUser(Http.Context.current())){playusr =>
                        @defining(new UserDAO().findByAuthUserIdentity(playusr)){ usr =>
                        <div id="people-add-type" class="input-group-btn">
                            <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", usr.getId) != null){
                                <i id="people-add-type-icon" class="fa fa-facebook fa-fw" data-social-type="facebook"></i>
                                } else {
                                <i id="people-add-type-icon" class="fa fa-envelope fa-fw" data-social-type="email"></i>
                                }
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("facebook", usr.getId) != null){
                                <li><a data-icon="fa fa-facebook fa-fw" data-social-type="facebook" data-input-type="text" data-typeahead="on"><i class="fa fa-facebook fa-fw"></i>
                                    @Messages("adventure.general.label.facebook")</a></li>
                                }
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("foursquare", usr.getId) != null){
                                    <li><a data-icon="fa fa-foursquare fa-fw" data-social-type="foursquare" data-input-type="text" data-typeahead="on"><i class="fa fa-foursquare fa-fw"></i>
                                        @Messages("adventure.general.label.foursquare")</a></li>
                                }
                                @if(usr != null && new UserSocialDAO().findByUserIdAndProvider("google", usr.getId) != null){
                                    <li><a data-icon="fa fa-google-plus fa-fw" data-social-type="google" data-input-type="text" data-typeahead="on"><i class="fa fa-google-plus fa-fw"></i>
                                        @Messages("adventure.general.label.google")</a></li>
                                }

                                <li><a data-icon="fa fa-envelope fa-fw" data-social-type="email" data-input-type="email" data-typeahead="off"><i class="fa fa-envelope fa-fw"></i>
                                    @Messages("adventure.general.label.email")</a></li>
                            </ul>
                        </div>
                        }}
                        <input id="people-add-input" type="text" placeholder="@Messages("adventure.adventurers.add.placeholder")" autocomplete="off" class="input-people-add form-control">
                        <div class="input-group-btn">
                            <a class="btn btn-people-add btn-primary"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="spacer20"></div>
                    <div>
                        <span style="min-width: 300px; display: inline-block;"> @Messages("yingyangyong.adventurers.public") </span>
                        <div><input type="checkbox" id="publish" name="publish"></div>
                    </div>
                    <div class="spacer20"></div>
                    <div>
                        <span style="min-width: 300px; display: inline-block;"> @Messages("yingyangyong.adventurers.publish")</span>
                        <div><input type="checkbox" id="facebookWall" name="facebookWall" ></div>
                        <div class="form-group post-on-facebook" style="display: none; margin-top: 10px;">
                            <label for="facebookWallPost"><i class="fa fa-facebook"></i> @Messages("yingyangyong.adventurers.facebookMessage") </label>
                            <textarea name="facebookWallPost" style="width: 100%; height: 100px;" class="form-control">@Messages("yingyangyong.adventurers.facebookMessage.example")</textarea>
                        </div>
                    </div>
                    <div class="spacer20"></div>
                    <div class="clearfix">
                        <a class="btn btn-lg btn-primary pull-right" href="#when-tab" data-toggle="tab">Next <i class="fa fa-angle-right fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="when-tab">
            <div style="border: solid 0px #00d1fb; border-radius: 5px; background-color: #00d1fb; margin-bottom: 20px;">
                <div style="background-color: rgba(255, 255, 255, 1); margin-left: 15px; padding: 15px; ">
                    <h1><i class="fa fa-calendar"></i> @Messages("yingyangyong.time") </h1>
                    <p class="lead">Add all time slots available for this JournWe&#8482;.</p>

                    <div class="row">
                        <div class="col-lg-3">
                            <span class="text-muted">Your time slots:</span>
                        </div>
                        <div class="col-lg-9">
                            <ul class="list-unstyled list-inline list-times"></ul>
                        </div>
                    </div>


                    <script type="text/x-tmpl" id="item-time-template">
                        <li class="item-time">
                            <input type="hidden" name="time[]" value="{%=o.timeStart%},{%=o.timeEnd%}">
                            <span class="label label-info"><i class="fa fa-time"></i> {%=o.timeStart%} to {%=o.timeEnd%} &nbsp;<a class="item-time-remove">&times;</a></span>
                            <span class="divider"></span>
                        </li>
                    </script>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> @Messages("adventure.time.start")</span>
                                <input class="journwe-date form-control" id="time-add-input-start" data-date="2014-03-14" data-date-format="yyyy-mm-dd" type="text" name="startDate" placeholder="@Messages("adventure.time.start.placeholder")" style="max-width: 200px;"/>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> @Messages("adventure.time.end")</span>
                                <input class="journwe-date form-control" id="time-add-input-end" data-date="2014-03-16" data-date-format="yyyy-mm-dd" type="text" name="endDate" placeholder="@Messages("adventure.time.end.placeholder")" style="max-width: 200px;"/>
                            </div>
                        </div>

                        <div class="col-lg-2 pull-right">
                            <a class="btn btn-time-add btn-primary" style="width: 100%;"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="spacer20"></div>
                    <div class="clearfix">
                       <a class="btn btn-yingyangyong-submit btn-lg btn-success pull-right">@Messages("adventure.general.button.startJournWe") <i class="fa fa-chevron-right fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    define("inspirationData", [], @{Html(if(ins != null){Json.toJson(ins).toString}else{Json.newObject().toString})});
</script>


