@(ins: models.Inspiration)

@import models.dao._
@import java.text.SimpleDateFormat

<div id="yingyangyong-click-info" class="row">
    <div class="col-2 col-lg-offset-1 text-center">
        <i class="icon-chevron-down"></i> 
        click on <img src='http://i.embed.ly/1/image/resize?height=20&key=2c8ef5b200c6468f9f863bc75c46009f&url=http://www.journwe.com/@routes.Assets.at("img/yingyangyong.png")' style="height: 20px;">
    </div>
</div>
<form id="yingyangyong-form" action="@routes.AdventureController.save()" method="POST" onsubmit="return validateYingYangYong();">
    <div class="row">
        <div class="col-3 text-center">
            <a href="#" onclick="switchMode(); $('#yingyangyong-click-info').fadeOut();"><img id="yingyangyong" src='http://i.embed.ly/1/image/resize?width=170&key=2c8ef5b200c6468f9f863bc75c46009f&url=http://www.journwe.com/@routes.Assets.at("img/yingyangyong.png")' class="where"></a>
        </div>
            <!--<a href="@routes.AdventureController.create()" class="btn btn-primary btn-large text-center">Start
            a new Group Adventure!</a> -->
        <div class="col-9" style="min-height: 680px; position: relative;">
            <div class="row">
                <div class="col-8 input-group">
                    <input type="text" name="name" placeholder="Name your JournWe" required="required" class="input input-large form-control">

                    <div class="input-group-btn">
                        <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                            Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        @defining(new CategoryDAO()){catDAO =>
                            @defining(catDAO.all()){ categories =>
                                @for(cat <- categories) {
                                    <li><a><span class="badge badge-info pull-right">@catDAO.countInspirations(cat.getId())</span>@cat.getName()</a></li>
                                }
                            }
                        }
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <button style="" class="btn btn-large btn-success pull-right" onclick="">
                        Start JournWe <i class="icon-angle-right"></i></button>
                </div>
            </div>

            @*
            <div>
                <div class="input-append">
                    <input type="text" name="shortname" placeholder="Shortname" id="shortname" minlength="3" required="required" onchange="checkShortname();">
                    <span class="add-on">@@adventure.journwe.com</span>
                    <a class="add-on btn" onclick="checkShortname();">check</a>
                </div>
                <div id="shortname-available">shortname available?</div>
            </div>
            *@

            <div class="row col-12">
                <div id="where-dialog" style="border: solid 0px #78a942; border-radius: 5px; background-color: #78a942; margin-top: 20px; margin-bottom: 20px">
                    <div style="background-color: rgba(255, 255, 255, 0.3); padding: 15px; ">
                        <h1><i class="icon-globe"></i> Where do you want to go?</h1>

                        <ul id="places-list" class="list-unstyled list-inline">
                        @if(ins != null && ins.getPlaceAddress != null) {
                            <li id="places-item-@ins.getPlaceLatitude.toString.replace(".", "_")-@ins.getPlaceLongitude.toString().replace(".", "_")"><input type="hidden" name="place[]" value="@ins.getPlaceAddress/@ins.getPlaceLatitude/@ins.getPlaceLongitude"><span class="label"><i class="icon-map-marker"></i> @ins.getPlaceAddress &nbsp;<a href="#" onclick="$('#places-item-@ins.getPlaceLatitude.toString.replace(".", "_")-@ins.getPlaceLongitude.toString().replace(".", "_")').remove(); removeMarker('places-item-@ins.getPlaceLatitude.toString.replace(".", "_")-@ins.getPlaceLongitude.toString().replace(".", "_")'); return false;">&times;</a></span> <span class="divider"></span></li>
                            <script>
                                $('document').ready(function () {
                                    var marker = new google.maps.Marker({
                                        map: map,
                                        position: new google.maps.LatLng(@ins.getPlaceLatitude, @ins.getPlaceLongitude)
                                    });
                                    var id = 'places-item-@ins.getPlaceLatitude.toString.replace(".", "_")-@ins.getPlaceLongitude.toString().replace(".", "_")';
                                    markers[id] = marker;

                                });
                            </script>
                        }
                        </ul>

                        <div class="input-group">
                            <input type="text" placeholder="A decent place" id="place-add-input" onkeypress="if (event.which == 13 || event.keyCode == 13) {searchPlace(); event.preventDefault(); return false;} else return true;" class="form-control">
                            <div class="input-group-btn"><a class="btn btn-primary btn-add" onclick="searchPlace();"><i class="icon-plus"></i></a></div>
                        </div>
                        <div style="height: 400px; margin-top: 10px;">
                            <div id="where-map" style="width: 100%; height: 100%"></div>
                        </div>
                    </div>
                </div>

                <div id="who-dialog" style="border: solid 0px #eb3d00; border-radius: 5px; background-color: #eb3d00; margin-top: 20px; margin-bottom: 20px; display: none;">
                    <div style="background-color: rgba(255, 255, 255, 0.2); padding: 15px; ">
                        <h1><i class="icon-group"></i> Who's gonna join your JournWe?</h1>

                        <ul id="people-list" class="list-unstyled list-inline"></ul>

                        <div class="input-group">
                            <div class="input-group-btn">
                                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                                    <i id="people-add-type" class="icon-facebook"></i> 
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a onclick="$('#people-add-type').attr('class', 'icon-facebook'); $('#people-add-input').attr('type', 'text'); $('#people-add-input').focus();"><i class="icon-facebook"></i> 
                                        Facebook</a></li>
                                    <li><a onclick="$('#people-add-type').attr('class', 'icon-envelope'); $('#people-add-input').attr('type', 'email'); $('#people-add-input').focus();"><i class="icon-envelope"></i> 
                                        Email</a></li>
                                </ul>
                            </div>
                            <input id="people-add-input" type="text" placeholder="A good ol' friend" onkeypress="if (event.which == 13 || event.keyCode === 13) {addFriend(); event.preventDefault(); return false;} else return true;" autocomplete="off" class="form-control">
                            <div class="input-group-btn">
                                <a class="btn btn-add btn-primary" onclick="addFriend();"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                        <div class="spacer20"></div>
                        <div style="margin-bottom: 20px;"><span style="min-width: 200px; display: inline-block;">Is your Adventure public? </span>
                            <div class="switch"><input type="checkbox" id="publish" name="publish"></div>
                        </div>
                        <div style="margin-bottom: 20px;"><span style="min-width: 200px; display: inline-block;">Publish on my Facebook Wall</span>
                            <div class="switch"><input type="checkbox" id="facebookWall" name="facebookWall" onchange="$('.post-on-facebook').toggle(this.checked)"></div>
                            <div class="form-group post-on-facebook" style="display: none; margin-top: 10px;">
                                <label for="facebookWallPost"><i class="icon-facebook"></i> Facebook Message</label>
                                <textarea name="facebookWallPost" style="width: 100%; height: 100px;" class="form-control">Hey friends! Become my fellow adventurer on this magnificent JournWe.</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="when-dialog" style="border: solid 0px #00d1fb; border-radius: 5px; background-color: #00d1fb; margin-top: 20px; margin-bottom: 20px; display: none;">
                    <div style="background-color: rgba(255, 255, 255, 0.5); padding: 15px; ">
                        <h1><i class="icon-calendar"></i> When do you want to set off?</h1>

                        <ul id="time-list" class="list-unstyled list-inline">
                        @if(ins != null && ins.getTimeStart != null) {
                            @defining(new SimpleDateFormat("yyyy-MM-dd")){sdf =>
                                <li id="time-item-@sdf.format(ins.getTimeStart)-@sdf.format(ins.getTimeEnd)"><input type="hidden" name="time[]" value="@sdf.format(ins.getTimeStart),@sdf.format(ins.getTimeEnd)"><span class="label"><i class="icon-time"></i> @sdf.format(ins.getTimeStart) to @sdf.format(ins.getTimeEnd) &nbsp;<a href="#" onclick="$('#time-item-@sdf.format(ins.getTimeStart)-@sdf.format(ins.getTimeEnd)').remove();">&times;</a></span> <span class="divider"></span></li>
                            }
                        }
                        </ul>

                        <div class="row">


                            <div class="input-group col-5">
                                <span class="input-group-addon"><i class="icon-calendar"></i> @Messages("adventure.time.start")</span>
                                <input class="journwe-date form-control" id="time-add-input-start" data-date="2014-03-14" data-date-format="yyyy-mm-dd" type="text" name="startDate" placeholder="Start Date" style="max-width: 200px;" required="required"/>
                            </div>
                            <div class="input-group col-5">
                                <span class="input-group-addon"><i class="icon-calendar"></i> @Messages("adventure.time.end")</span>
                                <input class="journwe-date form-control" id="time-add-input-end" data-date="2014-03-16" data-date-format="yyyy-mm-dd" type="text" name="endDate" placeholder="End Date" style="max-width: 200px;" required="required"/>
                            </div>

                            <div class="col-2 text-right">
                                <a class="btn btn-add btn-primary" onclick="addTime();"><i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAbYnwpdOgqWhspiETgFdlXyX3H2Fjb8fY"></script>
<script>

    function switchMode() {
        var icon = $('#yingyangyong');
        if (icon.is('.where')){
        icon.removeClass('where').addClass('who');
        showDialog('who-dialog');
        } else if(icon.is('.who')){
        icon.removeClass('who').addClass('when');
        showDialog('when-dialog');
        } else if (icon.is('.when')){
        icon.removeClass('when').addClass('where');
        showDialog('where-dialog');
        }
    };

    function showDialog(dialog) {
        var dialogs = {
            'where-dialog' : 'when-dialog',
            'when-dialog': 'who-dialog',
            'who-dialog': 'where-dialog'
            };
        $('#' + dialogs[dialog]).fadeOut(500, function () {});
        $('#' + dialog).fadeIn(500);
    }

    function checkShortname() {
        $.post('@routes.AdventureController.checkShortname()', { value : $('#shortname').val() },
            function(check) {
                $('#shortname-available').html(check.valid ? '<span class="text-success"><i class="icon-ok"></i> available.</span>' : '<span class="text-error"><i class="icon-warning-sign"></i> not available!</span>' );
                $('#shortname').attr('aria-invalid', !check.valid);
                if(!check.valid)
                    $('#shortname').parents(".control-group").first().addClass('error');
                else
                    $('#shortname').parents(".control-group").first().removeClass('error');
        });
    }

    function validateYingYangYong() {
        if($('input[name="name"]').val() == null ||  $('input[name="name"]').val() == '') {
            $('input[name="name"]').focus();
            return false;
        }
        /*
        if($('input[name="shortname"]').val() == null ||  $('input[name="shortname"]').val() == '') {
            $('input[name="shortname"]').focus();
            return false;
        }
        */

        return true;
    }



    var map;
    google.maps.visualRefresh = true;

    function initialize() {
        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(49.483472, 8.476992),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('where-map'),
        mapOptions);

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(pos);
                }, function() {});
        }

        resetBounds();

        $(".journwe-date").datepicker();
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    var markers = {};

    function searchPlace() {
        new google.maps.Geocoder().geocode({'address': $('#place-add-input').val()}, function (results, status) {
            var id = 'places-item-' + results[0].geometry.location.lat().toString().replace('.', '_') + '-' + results[0].geometry.location.lng().toString().replace('.', '_');
            $('#places-list').append('<li id="' + id +'"><input type="hidden" name="place[]" value="' + results[0].formatted_address + '/' + results[0].geometry.location.lat().toString() + '/' + results[0].geometry.location.lng().toString() + '"><span class="label"><i class="icon-map-marker"></i> ' + results[0].formatted_address + ' &nbsp;<a href="#" onclick="$(\'#' + id + '\').remove(); removeMarker(\'' + id + '\'); return false;">&times;</a></span> <span class="divider"></span></li>');
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            markers[id] = marker;

            resetBounds();
            $('#place-add-input').val('');
        });
    }

    function resetBounds() {
        var bounds = new google.maps.LatLngBounds();
        for(var i in markers) {
        bounds.extend(markers[i].getPosition());
        }
        map.fitBounds(bounds);
        google.maps.event.trigger(map, 'resize');
    }

    function removeMarker(id) {
        markers[id].setMap(null);
        delete markers[id];
        resetBounds();
        return false;
    }

    var facebookUsers = {};
    var facebookUserNames = [];

    var peopleCounter = 0;
    function addFriend() {
        var id = 'people-item-' + peopleCounter++;
        var input = ($('#people-add-input').attr('type') == 'text') ? '<input type="hidden" name="facebook[]" value="' + facebookUsers[$('#people-add-input').val()] + '">' : '<input type="hidden" name="email[]" value="' + $('#people-add-input').val() + '">';
        $('#people-list').append('<li id="' + id +'">' + input + '<span class="label"><i class="' + $('#people-add-type').attr('class') + '"></i> ' + $('#people-add-input').val() + ' &nbsp;<a href="#" onclick="$(\'#' + id + '\').remove();">&times;</a></span> <span class="divider"></span></li>');
        $('#people-add-input').val('');
    }


    function bindPeopleAutocomplete() {

        $('#people-add-input').typeahead({
                source: function (input, process) {
                    if($('#people-add-input').attr('type') == 'text') {
                        $.get('@routes.AdventurePeopleController.autocompleteFacebook', {input: input}, function (data) {
                            facebookUsers = {};
                            facebookUserNames = [];
                            $.each(data, function( ix, item ){
                                if ( $.inArray(item.name, facebookUserNames) > -1 ){
                                item.name = item.name + ' #' + item.id;
                            }

                            facebookUserNames.push( item.name );
                            facebookUsers[item.name] = item.id;
                            });

                            process(facebookUserNames);

                        });
                    }
                }
            });


    }
    $('document').ready(function(){bindPeopleAutocomplete();});



    $('document').ready(function () {$('#time-add-input-start').attr('min', new Date().toJSON().slice(0,10));});

    function addTime() {
        var id = 'time-item-' + $('#time-add-input-start').val() + '-' +  $('#time-add-input-end').val();
        $('#time-list').append('<li id="' + id +'"><input type="hidden" name="time[]" value="' + $('#time-add-input-start').val() + ',' + $('#time-add-input-end').val() + '"><span class="label"><i class="icon-time"></i> ' + $('#time-add-input-start').val() + ' to ' + $('#time-add-input-end').val() + ' &nbsp;<a href="#" onclick="$(\'#' + id + '\').remove();">&times;</a></span> <span class="divider"></span></li>');
        $('#time-add-input-start').val('');
        $('#time-add-input-end').val('');
    }

</script>
