@(categoryForm: Form[Category])(categories: List[Category])

@import helper._
@import fieldConstructor._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Manage Inspiration Categories") {
  
	<h2>Categories</h2>
	<table class="table table-striped">
		
	@for(cat <- categories) {
		<tr><td>@cat.getId()</td><td>@cat.getName()</td><td><a href="@routes.CategoryController.edit(cat.getId())"><i class="icon-edit"></i>edit</a></td><td><a href="@routes.CategoryController.delete(cat.getId())"><i class="icon-trash"></i>delete</a></td></tr>
	}
	</table>

	<h2>Inspiration Category Form</h2>

    @form(routes.CategoryController.save(), args = 'class -> "form-horizontal") {

    	<fieldset>
    		@if(categoryForm("id").value()) { 
    		<input type="hidden" name="@categoryForm("id").name()" value="@categoryForm("id").value()" />
    		}
       		@inputText(categoryForm("name"), '_label -> "Category name")
    	</fieldset>
    	<div class="form-actions">
    	  <input type="submit" value="Save category!" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link">Cancel</a>
    	</div>
    }
    
}
