@(categoryForm: Form[models.category.Category])(categories: List[models.category.Category])

@import models.category.Category
@import models.dao.CategoryDAO
@import models.dao.CategoryHierarchyDAO
@import helper._
@import fieldConstructor._
@import scala.xml.NodeSeq

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main_admin("Manage Inspiration Categories"){Manage Inspiration Categories} {

    <div class="jrn-container">
        <h2>Categories</h2>
        <p class="lead">Drag and Drop!</p>
        <div>
            @{
                new CategoryHierarchyDAO().cleanUpCategoryHierarchy()

                def catHierarchy(catId: String): NodeSeq = {
                    <ul class="sortable" style="border: dashed 2px gray; min-height: 50px;" data-id={catId}>
                    {new CategoryDAO().allSubcategory(catId).map( cat =>
                            if(cat != null){
                                <li data-id={cat.getId()}><div class="draggable droppable"><div class="row" style="background: white; padding: 5px; margin: 2px; margin-left: 10px"><div class="col-lg-5">{cat.getId()}</div><div class="col-lg-4">{cat.getName()}</div><div class="col-lg-1"><a href={routes.CategoryController.edit(cat.getId()).toString()} class="act-primary"><i class="icon-edit"></i>edit</a></div><div class="col-lg-2"><a href={routes.CategoryController.delete(cat.getId()).toString()} class="act-danger"><i class="icon-trash"></i>Messages("adventure.general.label.delete")</a></div></div>
                                {catHierarchy(cat.getId)}
                                </div></li>
                            }
                        )
                    }
                    </ul>
                }

                catHierarchy(Category.SUPER_CATEGORY)
            }


        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>
            $('.sortable' ).sortable({
               connectWith: '.sortable',
               cursor: 'move',
               dropOnEmpty: true,
               items: "> li",
               opacity: 0.7,
               receive: function (event, ui) {
                    //alert('receiving for ' + ui.item.data('id') + ' to ' + $(this).data('id'));
                    $.post('@routes.CategoryController.setSuperCategory()', {category: ui.item.data('id'), superCategory: $(this).data('id')});
                },
               scroll: true
            });
        </script>
    </div>

    <div class="jrn-container">
        <h2> @Messages("inspiration.title") </h2>

        @form(routes.CategoryController.save(), args = 'class -> "form-horizontal") {

            <fieldset>
                @if(categoryForm("id").value()) {
                <input type="hidden" name="@categoryForm("id").name()" value="@categoryForm("id").value()" />
                }
                @inputText(categoryForm("name"), '_label -> "Category name")
            </fieldset>
            <div class="form-actions">
              <input type="submit" value="Save category!" class="btn btn-primary"> | <a href="@routes.ApplicationController.index()" class="btn btn-link"> @Messages("adventure.general.button.cancel") </a>
            </div>
        }

    </div>
}
