
.nav-adventure {
  font-size: 20px;
  //width: 100%;
  background-color: @color_white;
  margin: 0;
  border-radius: 0;
  padding: 5px;
  .transition(background 0.5s ease);

  &.affix {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px gray;
    position: fixed;

    z-index: 1000;
    top: 0px;

    & + div {
      margin-top: 50px;
    }
  }

  @media (min-width: 1200px) {
    &.affix {
      width: 66%;
    }
  }
  @media (max-width: 1200px) {
    &.affix {
      width: 100%;
    }
  }

  & .nav-title {
    line-height: 40px;
    margin-right: 10px;
  }

  & .title-name {
    line-height: 40px;
  }


  & li {
    display: inline-block;

    & a {
      border-radius: 0;
      text-align: center;
      margin: 0;
      padding: 9px 5px !important;
    }

    & a i {
      width: 40px;
      display: inline-block;

      .fixed & {
        color: gray;
        .transition(color 0.5s ease);
      }
    }

    &.active {
      background: #e1e1e1;

      &.places {
        border-bottom: 1px solid @color_place;
      }

      &.adventurers {
        border-bottom: 1px solid @color_adventurer;
      }

      &.times {
        border-bottom: 1px solid @color_time;
      }
    }

  }

  & > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  & a {
    color: #666 !important;
  }

  & .nav-pills > li.active > a,
  & .nav-pills > li.active > a:hover,
  & .nav-pills > li.active > a:focus {
    background: fade(@color_white, 40%) !important;
  }

  & .nav-pills > li > a:hover,
  & .nav-pills > li > a:focus {
    color: #333;
    background: lighten(#e1e1e1, 7%);
  }

  & .nav-pills > li > a:hover i,
  & .nav-pills > li > a:focus i {
    color: #333;

    .fixed & {
      color: #333;
    }
  }

}

#adventure-container .row .row {
  background: none;
}

#adventure-container .row.active {
  background: none repeat scroll 0 0 fade(@color_white, 90%);
}

#adventure-container .row.active h2 {
  color: gray !important;
}

.title-name {

  & a {
    padding: 0 10px !important;
    border-bottom: 0 !important;
    line-height: 38px;
  }

  & .editable-container + i {
    display: none;
  }

  & input {
    font-size: 26px;
    height: 38px;
    max-width: 280px;
    margin-left: 0px;
  }

  & .editableform {
    margin-top: -3px;
    margin-bottom: -3px;
  }
}

.adventure-container {

  & .editable-container, & .editable-input, & textarea {
    width: 100%;
  }

  & .editable-buttons {
    text-align: right;
  }
}

.icon-for-adventure-title {

}

.icon-for-adventure-title.icon-cogs {
  font-size: 24px;
}

.fixed .prime-image {
  margin-top: calc(50px + 50px + 75px);
}

#places-list {

  & td, & th {
    vertical-align: middle;
  }
}

.rating {

  & label {
    margin-bottom: 0;
  }
}

.btn-set-close-place,
.btn-set-close-time {
  margin-left: 10px;
}

#nav-adventure-list {
  margin-right: 0;
}

#places-favorite-place,
#times-favorite-time {
  font-weight: @font-bold;
}

.timeline-line {
  background: #BBB;
  border: 2px solid lighten(#BBB, 5%);
  height: 100%;
  position: absolute;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  border-radius: 2px;
}

.timeline, .timeline-add {
  padding: 10px 0;

  & > div + div {
    margin-top: 20px;
  }

  .hint {
    color: gray;
    font-style: italic;

    & i {
      display: none;

      .uploading & {
        display: inline-block;
      }
    }

    .hover & {
      color: black;
      font-weight: bold;
    }
  }

  .timeline-entry {
    width: 50%;
    left: 50%;
    padding-left: 40px;
    position: relative;

    &.timeline-left {
      left: 0;
      text-align: right;
      padding-left: 0;
      padding-right: 40px;

      .timeline-icon,
      .timeline-i {
        left: auto !important;
        right: -21px;

        &.timeline-small {
          right: -16px;
        }
      }
    }

    .timeline-toolbar {
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0;
      padding-left: 25px;
      padding: 5px 25px;
      width: 100%;
      text-align: left;
      .transition(opacity 0.5s ease);

      a {
        font-size: 12px;
        color: gray;
        opacity: 0.6;

        &:hover, &:active {
          color: darken(gray, 10%);
          opacity: 1;
        }
      }
    }

    &:hover .timeline-toolbar {
      opacity: 1;
    }

    .stash {
      .transition(opacity 0.5s ease);
      opacity: 0;
      display: inline-block;
    }

    &:hover .stash {
      opacity: 1;
    }

    .timeline-icon {
      width: 42px;
      height: 42px;
      overflow: hidden;
      position: absolute;
      left: -21px;
      border: 5px solid rgba(168, 168, 168, 0.7);
      border-radius: 21px;

      img {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
      }

      &.timeline-small,
      &.timeline-i {
        width: 32px;
        height: 32px;
        left: -16px;
        margin-top: 5px;
        vertical-align: middle;
        text-align: center;
        line-height: 24px;
        border-width: 4px;

        img, i {

        }

        i {
          background: #3385bc;
          color: white;
          display: block;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          line-height: 24px;
          font-size: 12px;
        }
      }

      &.timeline-i {
        border: 4px solid rgba(168, 168, 168, 0.7);
        border-radius: 20px;
        overflow: hidden;
      }
    }

    .timeline-content {

    }

    .timeline-content-left {
      position: absolute;
      left: -100%;
      top: 0;
      text-align: right;
      width: 100%;
      padding-right: 40px;
      padding-top: 7px;
    }

    .timeline-content-right {
      left: 50%;
      padding-left: 40px;
      position: relative;
    }

    .timeline-info * {
      font-size: 12px;
      color: gray;
    }
  }

}

.timeline-add {
  .input-group {
    top: 2px;
  }
}

.icon-description {
  font-size: 32px;
  opacity: 0.1;
}

.description-container .editable-container {

  &, & div, & textarea {
    width: 100% !important;
  }
}

.btn-group.btn-group-timeline-filter {
  .tooltip {

  }

  .btn {
    border-radius: 0;
    border: none;
    margin-right: 3px;
    padding: 8px 10px;
    box-shadow: none !important;

    &.active {

    }
  }
}

.nav.nav-discussion {
  margin-right: 3px;
  
  li.active .btn {
    background-color: #ebebeb;
  }

  .btn {
    color: #333;
    border-radius: 0;
    border: none;
    padding: 7px 10px;
    box-shadow: none !important;

    i {
      margin-right: 0;
      width: 20px;
    }
  }
}