

.nav-adventure {
    font-size: 24px;
    width: 100%;
    background-color: @color_white;
    margin-top: 50px;
    border-radius: 0;
    padding: 10px;
    .transition(background 0.5s ease);

    .fixed & {
        box-shadow: 0 0 5px gray;
        position: fixed;
        left: 17.03%;
        right: 17.03%;
        z-index: 1000;
        top: -50px;
        width: auto;

        & + div {
            margin-top: 225px;
        }
    }

    & .navbar-left li {
        padding: 9px 10px;
    }

    & li {
        display: inline-block;

        & + li {

        }

        & a {
            border-radius: 0;
            text-align: center;
            margin: 0;
            padding: 18px 10px !important;
        }

        & a i {
            width: 40px;
            display: inline-block;

            .fixed & {
                color: gray;
                .transition(color 0.5s ease);
            }
        }

        &.active {
            background: #e1e1e1;
        }

    }

    & > li > a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    & a {
        color: #666 !important;
    }

    & .nav-pills>li.active>a,
    & .nav-pills>li.active>a:hover,
    & .nav-pills>li.active>a:focus {
        background: fade(@color_white, 40%) !important;
    }

    & .nav-pills>li>a:hover,
    & .nav-pills>li>a:focus {
        color: #333;
        background: lighten(#e1e1e1, 7%);
    }

    & .nav-pills>li>a:hover i,
    & .nav-pills>li>a:focus i {
        color: #333;

        .fixed & {
            color: #333;
        }
    }

    & .nav {

    }
}

#adventure-container .row .row {
    background: none;
}

#adventure-container .row.active {
    background: none repeat scroll 0 0 fade(@color_white, 90%);
}

#adventure-container .row.active h2 {
    color: gray !important;
}

.title-name {

    & a {
        font-size: 26px;
        padding: 0 10px !important;
        border-bottom: 0 !important;
        line-height: 38px;
    }

    & i {
        opacity: 0.4;
    }

    & .editable-container + i {
        display: none;
    }

    & input {
        font-size: 26px;
        height: 44px;
        max-width: 280px;
        margin-left: -5px;
    }

    & .editableform {
        margin-top: -3px;
        margin-bottom: -3px;
    }
}

.adventure-container {

    & .editable-container, & .editable-input, & textarea {
        width: 100%;
    }

    & .editable-buttons {
        text-align: right;
    }
}

.icon-for-adventure-title {

}

.icon-for-adventure-title.icon-cogs {
    font-size: 24px;
}


.fixed .prime-image {
    margin-top: calc(50px + 50px + 75px);
}

#places-list {

    & td, & th {
        vertical-align: middle;
    }
}

.rating {

    & label {
        margin-bottom: 0;
    }
}

.btn-set-close-place,
.btn-set-close-time {
    margin-left: 10px;
}

#nav-adventure-list {
    margin-right: 0;
}

#places-favorite-place,
#times-favorite-time {
    font-weight: @font-bold;
}
