
.muted {
  opacity: 0.4;
}

.white {
  color: white;
}

.spacer100 {
  height: 100px;
  width: 100%;
}

.spacer50 {
  height: 50px;
  width: 100%;
}

.spacer30 {
  height: 30px;
  width: 100%;
}

.spacer20 {
  height: 20px;
  width: 100%;
}

.spacer10 {
  height: 10px;
  width: 100%;
}


.spacer10-horizontal {
  width: 10px;
}

@media (min-width: 1200px) {
	.blur {
	  -webkit-filter: blur(2px);
	  -moz-filter: blur(2px);
	  -o-filter: blur(2px);
	  -ms-filter: blur(2px);
	  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
	  filter: blur(2px);
	}
}