
@font: 'Lato', sans-serif;
@font-normal: 300;
@font-thin: 100;
@font-bold: 400;

@color_place: rgb(184, 246, 145);
@color_adventurer: rgb(235, 114, 104);
@color_time: rgb(152, 229, 251);
@color_white: rgb(255,255,255);



body, body *, .btn, .btn-link {
    font-family: @font;
    font-weight: @font-normal;

    & b,
    body strong {
        font-weight: @font-bold;
    }
}

h1 {

    &, & small{
        font-weight: @font-thin;
        margin-bottom: 20px;
    }
}

h2, h3, h4 {

    &, & small{
        font-weight: @font-normal;
        margin-bottom: 20px;
    }
}

a {
    cursor: pointer;
    color: #333;

    &:hover,
    &:focus,
    .header &:hover.btn-link,
    .header &:focus.btn-link {
        color: #666;
        text-decoration: none;
    }
}

.adventure-container {

    & a {
        color: #333;
        text-decoration: underline;

        &.btn {
            text-decoration: none;
        }

        &:hover, &:focus {
            color: #555;
        }
    }
}

.modal {

    & a {
        color: #333;

        &:hover, &:focus {
            color: #444;
        }
    }
}

.nav a {

    &:hover, &:focus {

        &, & i{
            color: gray;
        }
    }
}

.adventure-entry a {
    color: #333;

    &:hover, &:focus {
        color: #666;
    }
}

hr {
    min-height: 0px;
    color: rgba(200, 200, 200, 0.9);
    background-color: fade(@color_white, 50%);
    border: 0px;
}

h1 .editable-input input {
    font-size: 38.5px;
    line-height: 40px;
    height: 40px;
    margin: -8px;
    display: inline-block;
    margin-top: -10px;
    margin-right: 0px;
    margin-bottom: -10px;
}

h1 .editableform {
    margin-top: -10px;
}

.stash {
    display: none;
}

.reveal {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
}

.main {
    /*	background-color: rgba(255,255,255,0.8);
        box-shadow: 0 0 10px 0px black;     */
}

.main > .container {
    background: none repeat scroll 0 0 fade(@color_white, 90%);
    display: block;
    padding: 20px 50px;
    position: relative;
    top: -50px;
}

.page-header {
    background: fade(@color_white, 80%);
    padding: 5px 20px;
}

.jrn-container,
#yingyangyong-container {
    background: none repeat scroll 0 0 fade(@color_white, 80%);
    margin-top: 50px;
    padding: 20px;
    position: relative;

    & h2 {
        background: fade(@color_white, 30%);
        padding: 20px 20px;
        border-bottom: 1px solid white;
        margin: -20px -20px 20px -20px;
        
        &#index {
            background: fade(@color_white, 30%);
        }

        &#places {
            background: fade(@color_place, 60%);
        }

        &#adventurers {
            background: fade(@color_adventurer, 60%);
        }

        &#times {
            background: fade(@color_time, 60%);
        }
    }
}

.jrn-footer {
    background: fade(@color_white, 30%);
    padding: 20px 20px;
    border-top: 1px solid white;
    margin: 20px -20px -20px -20px;
}

.main > .row > * {
    background: none repeat scroll 0 0 fade(@color_white, 80%);
    display: block;
    padding: 20px 50px;
}

.main > .row {
    margin-left: -60px;
    margin-right: 10px;
}

#adventure-container .row .row {
    background: none;
}

#adventure-container .row.active {
    background: none repeat scroll 0 0 fade(@color_white, 90%);
}

#adventure-container .row.active h2 {
    color: gray !important;
}

body > .row-fluid > div.span8 {
    background: none repeat scroll 0 0 fade(@color_white, 40%);
    display: block;
    padding: 50px 20px 50px 20px;
    position: relative;
}

body > .row-fluid > div.span8.no-background {
    background: none;
}

body > .row-fluid > div.span8 h2 {
    background: fade(@color_white, 20%);
    padding-left: 20px;
    margin-top: 0;
    color: white !important;
    padding: 5px 20px;
    border-bottom: 1px solid white;
}

.navbar {

    & .brand {
        padding: 18px 40px 18px 20px;
    }

    & .nav > li > a {
        padding: 20px;
    }

    & .navbar-search {
        padding: 10px 0;
    }

    & .user-login {
        padding: 10px 0;
    }

    & .nav > .active > a,
    & .nav > .active > a:hover,
    & .nav > .active > a:focus {
        color: #E97802;
        text-decoration: none;
        background: none;
    }
}

.navbar-fixed-top .navbar-inner {
    background: white;
    border: none;

    & .brand, .hero-unit h1 {
        color: #E97802;
        vertical-align: text-bottom;
        line-height: 20px;
    }
}

.header .brand span {
    font-size: 20px;
    line-height: 25px;
}

.navbar-inner p {
    padding: 10px 0;
}

.spacer100 {
    height: 100px;
    width: 100%;
}

.spacer30 {
    height: 30px;
    width: 100%;
}

.spacer20 {
    height: 20px;
    width: 100%;
}

.controls.switch {
    height: 28px;
    margin-left: 20px;
}

table.inspiration {

    & .images img {
        margin-bottom: 10px;
    }

    & td {
        vertical-align: top;
        padding-right: 40px;

        &:last-child {
            padding-right: 0px;
        }

        &.fixed-width {
            width: 240px;
        }
    }
}


.tripadvisor {
    background: #fff !important;
    box-shadow: 0 0 3px #aaa !important;
    border-radius: 3px !important;
    margin-bottom: 20px;
}

.status-COMPLETE {
    text-decoration: line-through;
}

.weather-container {
    margin: 0px 0px 20px 20px;
}

.weather-container h3 {
    font-size: 16px;
}

.weather {
    float: left;
    text-align: center;
    margin-right: 20px;

    &:last-child {
        margin-right: 0px;
    }

    & img {
        width: 100px;
        display: block;
    }

    & .high-temperature {
        font-size: 24px;
    }

    & .low-temperature {
        font-size: 14px;
        margin-left: 5px;
    }
}

.comments {
    padding-left: 10px;

    & .empty {
        color: fade(@color_white, 60%);
        font-style: italic;
    }
}

.comment-list {
    max-height: 100%;
    max-height: calc(100% -40px);
    overflow: auto;

    & > * {
        margin-bottom: 10px;
        padding-left: 5px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.comments-wall {

    & .comment-list {
        max-height: none;
        color: #333;

        & .comment-info {
            color: #555;
        }

        & > * {
            margin-bottom: 20px;
        }
    } 
}

.comment-info {
    color: fade(@color_white, 70%);
    font-size: 12px;

    & small {
        color: #BBB;
    }
}

.input-comment {
    margin-top: 10px;
    opacity: 0.5;
    width: 75%;
}

#where-map img {
    max-width: none;
}

.icon-for-adventure-title {

}

.icon-for-adventure-title.icon-cogs {
    font-size: 24px;
}

.nav-adventure {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 40px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

    & li {
        height: calc(100% / 8);
        min-height: 80px;

        & + li {
            margin-top: 1px;
        }

        & a {
            border-radius: 0;
            border-right: 5px solid fade(@color_white, 60%);
            text-align: center;
            margin: 0;
            height: 100%;
            width: 100px;
        }

        & a i {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            width: 40px;
            left: 50%;
            margin-left: -20px;
        }

        &#nav-adventure-places a {
            border-right-color: fade(@color_place, 50%);
        }

        &#nav-adventure-adventurers a {
            border-right-color: fade(@color_adventurer, 50%);
        }

        &#nav-adventure-time a {
            border-right-color: fade(@color_time, 50%);
        }
    }

    & > li > a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    & a {
        color: white !important;
    }

    & .nav-pills>li.active>a,
    & .nav-pills>li.active>a:hover,
    & .nav-pills>li.active>a:focus {
        background: fade(@color_white, 40%) !important;
    }

    & .nav-pills>li>a:hover,
    & .nav-pills>li>a:focus {
        color: white;
        background: fade(@color_white, 20%);
    }

    & .nav-pills>li>a:hover i,
    & .nav-pills>li>a:focus i {
        color: white;
    }

    & .nav {
        height: 100%;
    }
}

h3 {
    background-color: fade(@color_white, 50%);
    margin-bottom: 10px;
    padding: 10px 20px;
}

#where-dialog,
#who-dialog,
#when-dialog {
    border-left: 20px solid silver !important;
    border-radius: 0 !important;
    background: white !important;
    position: absolute;
    width: 100%;
    
    #where-dialog {
        border-left-color: fade(@color_place, 50%) !important;
    }

    #who-dialog {
        border-left-color: fade(@color_adventurer, 50%) !important;
    }

    #when-dialog {
        border-left-color: fade(@color_time, 50%) !important;
    }
}

#yingyangyong {
    /*	-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; */

    background-color: fade(@color_white, 10%);
    border-radius: 50%;
    padding: 5px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.where {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

        -webkit-animation: spinWhere 1s 1 ease;
        -moz-animation: spinWhere 1s 1 ease;
        -o-animation: spinWhere 1s 1 ease;
        -ms-animation: spinWhere 1s 1 ease;
        animation: spinWhere 1s ease 1;

    }

    &.who {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        transform: rotate(120deg);

        -webkit-animation: spinWho 1s 1 ease;
        -moz-animation: spinWho 1s 1 ease;
        -o-animation: spinWho 1s 1 ease;
        -ms-animation: spinWho 1s 1 ease;
        animation: spinWho 1s ease 1;

    }

    &.when {
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        -o-transform: rotate(240deg);
        transform: rotate(240deg);

        -webkit-animation: spinWhen 1s ease 1;
        -moz-animation: spinWhen 1s ease 1;
        -o-animation: spinWhen 1s ease 1;
        -ms-animation: spinWhen 1s ease 1;
        animation: spinWhen 1s ease 1;
    }
}

@-webkit-keyframes spinWhere {
    0% {
        -webkit-transform: rotate(240deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinWhere {
    0% {
        -moz-transform: rotate(240deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spinWhere {
    0% {
        -o-transform: rotate(240deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spinWhere {
    0% {
        -ms-transform: rotate(240deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinWho {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(120deg);
    }
}

@-moz-keyframes spinWho {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(120deg);
    }
}

@-o-keyframes spinWho {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(120deg);
    }
}

@-ms-keyframes spinWho {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(120deg);
    }
}

@-webkit-keyframes spinWhen {
    0% {
        -webkit-transform: rotate(120deg);
    }
    100% {
        -webkit-transform: rotate(240deg);
    }
}

@-moz-keyframes spinWhen {
    0% {
        -moz-transform: rotate(120deg);
    }
    100% {
        -moz-transform: rotate(240deg);
    }
}

@-o-keyframes spinWhen {
    0% {
        -o-transform: rotate(120deg);
    }
    100% {
        -o-transform: rotate(240deg);
    }
}

@-ms-keyframes spinWhen {
    0% {
        -ms-transform: rotate(120deg);
    }
    100% {
        -ms-transform: rotate(240deg);
    }
}


#inspiration-container .social {
    position: absolute;
    left: 100%;
    max-width: 90px;
    padding-left: 10px;
    top: 0px;

    & .comments {
        position: absolute;
        left: 100%;
        min-width: 220px;
        color: white;
        top: 0px;
        height: 100%;
    }

    & .comments-wall {
        position: relative;
        min-width: 300px;
        color: white;
        top: 0px;
        height: auto;
    }

    & .table td {
        vertical-align: middle;
    }

    & .table th {
        white-space: nowrap;
    }
}

.table td.text-center,
.table th.text-center {
    text-align: center;
}

#adventure-title-image.hover {
    border: solid 1px #79a848;
}

#files-upload-dropzone {
    border: dashed 3px fade(@color_white, 40%);
    padding: 40px 0 20px 0;
    margin-top: 15px;
}

#files-upload-dropzone.hover {
    border: solid 3px #79a848;
}

.btn-edit-description {
    margin-top: 10px;
}

.x-edit-loading {
    font-size: 16px;
}

h1 .x-edit-loading {
    font-size: 22px;
}

#todo-title {
}

.adventures-list-full {

}

.adventures-list-full .row-fluid {
    vertical-align: middle;
    line-height: 56px;
    height: 60px;
}

.adventures-list-full h4 {
    margin: 0;
    padding: 0;
    line-height: inherit;
}

.adventures-list-full .media-object {
}

.adventures-list-full .action {
    margin-right: 14px;
}

.polaroid > div {
    padding: 2px 10px;
}

.polaroid h4 {
    margin: 10px 0px;
}

.polaroid-hover > a {
    display: block;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.polaroid-hover > a:hover,
.polaroid-hover > a:focus {
    border: 3px solid #a2e085;
}

.polaroid-hover.polaroid-active > a {
    border: 3px solid #5cb85c;
}

.polaroid-hover.polaroid-active > a img,
.polaroid-hover > a:hover img,
.polaroid-hover > a:focus img {
    margin: -3px !important;
}

.prime-image {
    border: none !important;
    position: relative;
    margin-bottom: 0;
    margin-top: 50px;
}

.prime-image .title-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 32px;
    text-shadow: 0 0px 1px black, 0 1px 1px #444;
}

.prime-image .title-name a {
    border: none;
    color: white;
}

.prime-image .title-name i {
    font-size: 24px;
    color: white;
}

.prime-image .toolbar {
    position: absolute;
    right: 20px;
    bottom: 20px;
    white-space: nowrap;
    display: inline;
}

.prime-image .toolbar .btn {
    margin-left: 5px;
}

.header > * > * {
    background-color: fade(@color_white, 20%);
    border: none;
    padding: 20px 20px 10px;
}

.header * {
    color: white;
}

.header .navbar-text {
    margin-top: -10px;
    margin-bottom: 5px;
}

.header .text-right {
    margin-top: 1px;
}

.header .pull-right i {
    position: relative;
    top: 2px;
}

.popover * {
    color: #333;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
    color: gray;
    background-color: white;
}

#success-stories {
    padding-bottom: 20px;
}

#success-stories .carousel-indicators {
    bottom: -10px;
}

#success-stories .item {
    padding: 0 70px;
}

#success-stories .carousel-control {
    background: white;
    width: 50px;
    margin: -20px;
}

#success-stories .polaroid {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

#success-stories .polaroid img {
    width: 100%;
}

.search-query {
    padding: 8px 12px;
    border: none;
    width: 300px;
    position: relative;
    top: 2px;
    color: #333;
}

.alert {
    margin-top: 50px;
}

.btn-group {
    white-space: nowrap;
}

.has-switch {
    border: 1px solid white;
    overflow: hidden;
    min-width: 125px;
}

.has-switch span.switch-primary,
.has-switch span.switch-left {
    background: #428bca;
}

.has-switch span,
.has-switch label {
    padding-bottom: 6px;
    padding-top: 6px;
}

.has-switch span.switch-right {
    background: none;
}

.btn-file {
    border-radius: 4px;
}

.jrn-actions {
    background: fade(@color_white, 20%);
    border-top: 1px solid white;
    padding: 20px;
    margin: 20px -20px -20px -20px !important;
}

.jrn-form .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.jrn-form .control-label {
    float: left;
}

.drophover {
    border: green solid 2px;
}

.popover {
    max-width: 1200px;
}

.unscrollable {
    overflow: hidden;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: fade(@color_white, 40%);
}

.table-striped>tbody>tr:hover>td,
.table-striped>tbody>tr:hover>th {
    background-color: fade(@color_white, 60%);
}

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
    border-top: none;
    border-bottom: none;
}

.adventure-container .editable-container,
.adventure-container .editable-input,
.adventure-container textarea {
    width: 100%;
}

.adventure-container .editable-buttons {
    text-align: right;
}

.nav-category {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 40px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}

.nav-category li {
    height: calc(100% / 8);
    min-height: 80px;
}

.nav-category li + li {
    margin-top: 1px;
}

.nav-category li a {
    border-radius: 0;
    border-right: 5px solid fade(@color_white, 60%);
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100px;
}

.nav-category li a i {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}

.nav-category > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-category a {
    color: white;
}

.nav-category .nav-pills>li.active>a,
.nav-category .nav-pills>li.active>a:hover,
.nav-category .nav-pills>li.active>a:focus {
    background: fade(@color_white, 40%) !important;
}

.nav-category .nav-pills>li>a:hover,
.nav-category .nav-pills>li>a:focus {
    color: white;
    background: fade(@color_white, 20%);
}

.nav-category .nav-pills>li>a:hover i,
.nav-category .nav-pills>li>a:focus i {
    color: white;
}

.nav-category .nav {
    height: 100%;
}

/* JournWe Icon */
@font-face {
    font-family: 'journwe';
    src: url('../font/journwe.eot');
    src: url('../font/journwe.eot?#iefix') format('embedded-opentype'), url('../font/journwe.woff') format('woff'), url('../font/journwe.ttf') format('truetype'), url('../font/journwe.svg#journwe') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-journwe {
    font-family: 'journwe';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-journwe:before {
    content: "\e000";
}

.jrn-subcategory a {
    display: inline-block;
}

.jrn-subcategory a .badge {
    top: -2px;
    position: relative;
}

@media (min-width: 768px) {
    .lead {
        font-size: 20px;
    }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #428bca;
    background-color: transparent;
}

.form-control {
    max-width: 100%;
}

.btn-adopt {
    width: 60px;
    margin-bottom: 2px;
}

.btn-adopt + .btn-adopt {
    margin-bottom: -2px;
}

.jrn-category ul {
    padding-left: 20px;
}

img.landing {
    width: 90%;
    border: 1px solid white;
    margin-bottom: 50px;
}

.background-container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    height: 100%;
}

.background-container img {
    background-image: url("http://i.embed.ly/1/image/resize?width=1600&url=http%3A%2F%2Fwww.journwe.com%2Fassets%2Fimg%2Fbg%2Fprekestollen.JPG&key=2c8ef5b200c6468f9f863bc75c46009f");
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
}

.background-container div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* star rating      */
.rating {
    float: left;
}

.rating:not(:checked) > input {
    display: none;
}

.rating:not(:checked) > label {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #ddd;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}