@(ins: Inspiration)(category: Category)

@main(ins.getName()+ " <small>"+category.getName()+"</small>") {

	<table class="inspiration">
		<tr>
			<td>
	  		<p>
		        @Html(ins.getDescription())
		    </p>
		    	<div class="row-fluid images">
		    		<div class="span6">
		    			<img src="@ins.getImage()" class="img-polaroid"/>
		    		</div>
					<div class="span3">
			    		<img src="@ins.getImage()" class="img-polaroid"/>
			    		<img src="@ins.getImage()" class="img-polaroid"/>
			    	</div>
			    	<div class="span3">
			    		<img src="@ins.getImage()" class="img-polaroid"/>
			    		<img src="@ins.getImage()" class="img-polaroid"/>
			    	</div>
		    	</div>
			</td>
			<td class="fixed-width">
				@if(ins.getTripAdvisor()){
					<div class="tripadvisor">
						@Html(ins.getTripAdvisor())
					</div>
				}

				@if(ins.getPinterest()){
					<div class="pinterest">
						<a data-pin-do="embedBoard" href="@ins.getPinterest()" data-pin-scale-width="110" data-pin-scale-height="300" data-pin-board-width="240"></a>
						<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
					</div>
				}
			</td>
		</tr>
	</table>
 
    
}
