@(ins: models.inspiration.Inspiration)(category:  models.category.Category)

@import play.libs.Json
@import java.text.SimpleDateFormat

@scripts = {
    <script type="text/javascript">
    define("inspirationData", [], @{Html(Json.toJson(ins).toString())});
    </script>
}

@main(ins.getName()){ } {

    <div class="prime-image">
        <div style="width: 100%;">
            <img id="inspiration-prime-image" style="width: 100%; height: 200;" @if(ins.getImage == null){src="http://www.placehold.it/1200x200/AAAAAA/EFEFEF&text=No+image"}else{src="http://www.journwe.com/thumbnail?h=200&w=1200&u=@ins.getImage"}/>
        </div>

        <div class="title-overlay">
            <div class="title-name">
                @ins.getName()
                @if(category != null) {<small>(<a href="@html.routes.IndexController.categoryIndex(category.getId)">@category.getName()</a>)</small>}
            </div>
            <div class="toolbar">
                <a class="btn btn-primary pull-right" href="@html.routes.InspirationController.createAdventure(ins.getId)"><i class="fa fa-arrow-right"></i> @Messages("adventure.general.label.start") </a>
            </div>
        </div>
    </div>

    <div id="inspiration-container" class="container">



    <div class="jrn-container jrn-no-top-gap jrn-no-top-round">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center"><a class="btn btn-primary btn-lg text-center" href="@html.routes.InspirationController.createAdventure(ins.getId)"> @Messages("adventure.getScala.start", ins.getName()) </a></div>
            </div>
        </div>
    @if(ins.getDescription != null){
        <div class="row">
            <div class="col-lg-2">
                <h4><i class="fa fa-list-alt"></i> Description</h4>
            </div>
            <div class="col-lg-10">
               @Html(ins.getDescription())
            </div>
        </div>
    }
    @if(ins.getWeatherId != null){
        <div class="row">
            <div class="col-lg-2">
                <h4><i class="fa fa-sun-o"></i> Weather</h4>
            </div>
            <div class="col-lg-10">
                <div class="weather-container">
                @for(period <- ins.getWeather()){
                    <div class="weather">
                        <img src="/assets/img/weather/@{period.getIcon()}.svg" title="@period.getDate() - @period.getCondition()"/>
                        <span class="high-temperature">@period.getTemperature()°C</span><span class="low-temperature">@period.getLowTemperature()°C</span>
                    </div>
                }
                </div>
            </div>
        </div>
    }
        <div class="row">
            <div class="col-lg-2">
                <h4><i class="fa fa-link"></i> Links</h4>
            </div>
            <div class="col-lg-10">
                <ul class="list-inspiration-urls"></ul>
                <script type="text/x-tmpl" id="inspiration-url-template">
                    <li>
                        <a class="btn btn-link" href="{%=o.url%}">{%=o.description%}</a>
                    </li>
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <h4><i class="fa fa-heart-o"></i> Share</h4>
            </div>
            <div class="col-lg-10">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=135557113297620";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <script type="text/javascript">
                (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
                </script>
                <script type="text/javascript">
                (function(d){
                var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
                p.type = 'text/javascript';
                p.async = true;
                p.src = '//assets.pinterest.com/js/pinit.js';
                f.parentNode.insertBefore(p, f);
                }(document));
                </script>

                <div class="pull-left" style="bottom: 0px;">
                    <div class="fb-like" data-width="50" data-layout="box_count" data-show-faces="false" data-send="false"></div>
                </div>
                <div class="pull-left" style="bottom: 0px;">
                    <div><a href="https://twitter.com/share" class="twitter-share-button" data-url="@html.routes.InspirationController.get(ins.getId).absoluteURL()" data-via="JournWe" data-related="JournWe" data-count="vertical">Tweet</a></div>
                </div>
                <div class="pull-left" style="bottom: 0px;">
                    <div class="g-plusone" data-size="tall" data-annotation="vertical-bubble"></div>
                </div>
                <div class="pull-left" style="bottom: 0px;">
                    <a href=@{"//www.pinterest.com/pin/create/button/?url=" + java.net.URLEncoder.encode(html.routes.InspirationController.get(ins.getId).absoluteURL(), "UTF-8") + (if(ins.getImage != null){"&media=" + java.net.URLEncoder.encode(ins.getImage, "UTF-8")}else{""}) + "&description=" + java.net.URLEncoder.encode("JournWe Inspiration " + ins.getName, "UTF-8")} data-pin-do="buttonPin" data-pin-config="above" data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="jrn-container">
        <h2 id="tips"><i class="fa fa-thumbs-up"></i> Tips</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-inspiration-tips"></div>
                <script type="text/x-tmpl" id="inspiration-tip-template">
                    <div>
                        <img class="pull-left" style="margin-right: 10px; max-height: 24pt;" src="{%=o.user.image%}">
                        <div class="comment-text"><i class="fa fa-comment"></i> {%=o.tip.tip%}</div>
                        <div class="comment-info">{%=o.user.name%} <small>-</small> {%=o.tip.created%}</div>
                    </div>
                </script>
            </div>
            <div class="col-lg-12">
                <input type="text" id="tip-add-text">
                <button id="tip-add-button" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </div>
        </div>

    </div>

    <div class="jrn-container">
        <h2 id="photos"><i class="fa fa-picture-o"></i> @Messages("adventure.general.label.photos") </h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="inspiration-photos"></div>
                <script type="text/x-tmpl" id="inspiration-photo-template">
                    <div class="polaroid" style="position: relative; float: left; width: 20%;">
                        <a class="btn-inspiration-photo" data-index='{%=o.index%}'>
                            <img style="margin: 0px; width: 100%;" src="{% if(o == null || o.url == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.url)%}{% } %}">
                        </a>
                    </div>
                </script>
                <div id="carousel-inspiration-photos" class="carousel carousel-fullscreen slide modal fade">
                    <div class="text-center" style="position: absolute; top: 0; width: 100%; z-index: 9999;"><em>Click</em> to exit</div>
                    <ol class="carousel-indicators carousel-indicators-inspiration-photos"></ol>
                    <div class="carousel-inner carousel-inner-inspiration-photos"></div>

                    <a class="left carousel-control" href="#carousel-inspiration-photos" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-inspiration-photos" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <script type="text/x-tmpl" id="inspiration-photo-carousel-indicator-template">
                    <li class="{%=o.active%}" data-target="#carousel-inspiration-photos" data-slide-to="{%=o.index%}"></li>
                </script>
                <script type="text/x-tmpl" id="inspiration-photo-carousel-item-template">
                    <div class="item {%=o.active%}" style="background-image: url('{% if(o == null || o.url == null) { %}{%=String('http://www.placehold.it/1600x1200/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=1600&h=1200&u=' + o.url)%}{% } %}')"></div>
                </script>
            </div>
        </div>
    </div>

    @if(ins.getPlaceAddress != null){
    <div class="jrn-container">
        <h2 id="place"><i class="fa fa-globe"></i> @Messages("adventure.getScala.place.title") </h2>
        <div class="row">
            <div class="col-lg-12">
                <h4><em>@ins.getPlaceAddress</em></h4>
                <div style="height: 400px; margin-top: 10px;">
                    <div id="inspiration-place-map" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    }

    @if(ins.getTimeStart != null) {
    <div class="jrn-container">
        <h2 id="time"><i class="fa fa-calendar"></i> @Messages("adventure.getScala.time.title") </h2>
        <div class="row">
            <div class="col-lg-12">
                <h4><em id="inspiration-time">@defining(new SimpleDateFormat("yyyy-MM-dd")){sdf => <span>@sdf.format(ins.getTimeStart) @if(ins.getTimeEnd != null && ins.getTimeEnd != ins.getTimeStart) { to @sdf.format(ins.getTimeEnd)}}</em></h4>
            </div>
        </div>
    </div>
    }


    <div class="jrn-container">
        <h2 id="public-journwes"><i class="fa fa-bullhorn"></i> @Messages("public.adventures") <div class="pull-right"><button class="btn btn-adventures-public-refresh btn-success btn-sm"><i class="fa fa-refresh"></i></button></div></h2>
        <div style="">
            <div id="adventures-public-list" class="text-center"><i class="fa fa-spin icon-journwe" style="font-size: 50px; margin-bottom: 20px;"></i></div>
            <div class="clearfix"></div>
            <div class="text-center"><button class="btn btn-adventures-public-load-more btn-default btn-block"> @Messages("adventure.general.button.more") </button></div>
        </div>
        <div style="height: 400px; margin-top: 10px;">
            <div id="adventures-places-map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
    <script type="text/x-tmpl" id="adventure-public-template">
        <div data-id="{%=o.id%}" class="polaroid" style="position: relative; float: left; width: 20%;">
            <a href="{%=o.link%}"><img style="margin: 0px; width: 100%;" src="{% if(o.image == null) { %}{%=String('http://www.placehold.it/204x204/EFEFEF/AAAAAA&text=no+image')%}{% } else { %}{%=String('http://www.journwe.com/thumbnail?w=204&h=204&u=' + o.image)%}{% } %}"></a>
            <div style="background-color: rgba(255,255,255,0.6); position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 2px;">
                <div style="line-height: 20px;"><h4><a href="{%=o.link%}">{%=o.name%}</a></h4></div>
                <div class="overlay text-center" style="display: none;">
                    <span class="label" style="background-color: rgba(184, 246, 145, 0.5);" title="Place"><i class="fa fa-globe"></i> {% if(o.favoritePlace != null) { %} {%=o.favoritePlace.address.substr(0,3).toUpperCase()%} {% } else { %} ? {% } %}</span>
                    <span class="label" style="background-color: rgba(235, 114, 104, 0.5);" title="Adventurers"><i class="fa fa-group"></i> {%=o.peopleCount%}</span>
                    <span class="label" style="background-color: rgba(152, 229, 251, 0.5);" title="Time"><i class="fa fa-calendar"></i> {% if(o.favoriteTime != null) { %} {%=formatDateShort(o.favoriteTime.startDate)%} {% } else { %} ? {% } %}</span>
                </div>
            </div>
        </div>
    </script>
</div>

}(openGraphMeta(ins.getName, controllers.html.routes.InspirationController.get(ins.getId).absoluteURL(), ins.getDescription, ins.getImage, "article"), "inspiration", scripts)
