body {
	background-image: url("http://i.embed.ly/1/image/resize?width=1600&url=http%3A%2F%2Fwww.journwe.com%2Fassets%2Fimg%2Fprekestollen.JPG&key=2c8ef5b200c6468f9f863bc75c46009f");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: cover;

}


body > * {
	background-color: rgba(0,0,0,0.4);
}

body, body * {
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

h1, h1 small {
    font-weight:100;
    margin-bottom: 20px;
}

h2, h3, h4, h2 small, h3 small, h4 small {
   font-weight:100;
   margin-bottom: 20px;
}

a {
	cursor: pointer;
	color: white;
}

a:hover,
a:focus,
.header a:hover.btn-link,
.header a:focus.btn-link  {
	color:#D1D1D1;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:hover i,
.nav a:focus i {
	color: gray;
}

.adventure-entry a {
	color: #333;
}

.adventure-entry a:hover,
.adventure-entry a:focus {
	color: #666;
}

hr {
    min-height: 0px;
    color: rgba(200, 200, 200, 0.9);
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
}

h1 .editable-input input {
	font-size: 38.5px;
	line-height: 40px;
	height: 40px;
	margin: -8px;
	display: inline-block;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: -10px;
}

h1 .editableform {
	margin-top: -10px;
}

.stash {display: none;}
.reveal {display: block;}

.main {
/*	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px 0px black;     */
}



.main > .container {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    display: block;
    padding: 20px 50px;
    position: relative;
    top: -50px;
}

.page-header {
	background: rgba(255,255,255,0.6);
	padding: 5px 20px;
	color: white;
}

.page-header small {
	color: white;
}

.jrn-container,
#yingyangyong-container {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    margin-top: 50px;
	padding: 20px;
	position: relative;
}




.jrn-container h2 {
	background: rgba(255,255,255,0.2);
	padding: 20px 20px;
	border-bottom: 1px solid white;
	margin: -20px -20px 20px -20px;
}


.jrn-container h2#index {
	background: rgba(255,255,255,0.6);
}

.jrn-container h2#places {
	background: rgba(184, 246, 145, 0.6)
}

.jrn-container h2#adventurers {
	background: rgba(235, 114, 104, 0.6);
}

.jrn-container h2#times {
	background: rgba(152, 229, 251, 0.6);
}

.jrn-footer {
	background: rgba(255,255,255,0.2);
	padding: 20px 20px;
	border-top: 1px solid white;
	margin: 20px -20px -20px -20px;
}

.main > .row > * {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    display: block;
    padding: 20px 50px;	
}

.main > .row {
	margin-left: -60px;
	margin-right: 10px;
}

#adventure-container .row .row {
    background: none;
}

#adventure-container .row.active {	
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}

#adventure-container .row.active h2 {
	color: gray !important;
}	

body > .row-fluid > div.span8 {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    display: block;
    padding: 50px 20px 50px 20px;
    position: relative;
}

body > .row-fluid > div.span8.no-background {
    background: none;
}

body > .row-fluid > div.span8 h2 {
	background: rgba(255,255,255,0.2);
	padding-left: 20px;
	margin-top: 0;
	color: white !important;
	padding: 5px 20px;
	border-bottom: 1px solid white;
}

.navbar {

}

.navbar-fixed-top .navbar-inner {
    background: white;
    border: none;
}

.navbar-fixed-top .navbar-inner .brand, .hero-unit h1 {
	color: #E97802;
	vertical-align: text-bottom;
	line-height: 20px;
}

.navbar .brand {
    padding: 18px 40px 18px 20px;
}

.header .brand span {
	font-weight: 100;
    font-size: 20px;
    line-height: 25px;
}

.navbar .nav > li > a {
    padding: 20px;
}

.navbar .navbar-search {
    padding: 10px 0;
}

.navbar .user-login {
	padding: 10px 0;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    color: #E97802;
    text-decoration: none;
    background: none;
}

.navbar-inner p {
    padding: 10px 0;
}

.spacer100 {
	height: 100px;
	width: 100%;
}

.spacer30 {
	height: 30px;
	width: 100%;
}

.spacer20 {
	height: 20px;
	width: 100%;
}

.controls.switch {
	height: 28px;
	margin-left: 20px;
}

table.inspiration td {
	vertical-align: top;
	padding-right: 40px;
}

table.inspiration td:last-child {
	padding-right: 0px;
}

table.inspiration td.fixed-width {
	width: 240px;
}

table.inspiration .images img {
	margin-bottom: 10px;
}

.tripadvisor {
	background: #fff!important;
	box-shadow: 0 0 3px #aaa!important;
	border-radius: 3px!important;
	margin-bottom: 20px;
}

.tripadvisor .description {

}

.status-COMPLETE {
	text-decoration: line-through;
}


.weather-container {
	margin: 0px 0px 20px 20px;
}


.weather-container h3 {
	font-size: 16px;
}

.weather {
	float: left;
	text-align: center;
	margin-right: 20px;
}

.weather:last-child {
	margin-right: 0px;
}



.weather img {
	width: 100px;
	display: block;
}

.weather .high-temperature {
	font-size: 24px;
}

.weather .low-temperature {
	font-size: 14px;
	margin-left: 5px;
}

.comments {
	padding-left: 10px;
}

.comments .empty{
	color: rgba(255,255,255,0.6);
	font-style: italic;
}
	
.comment-list {
	max-height: 100px;
	overflow: auto;
}

.comment-list > * {
	margin-bottom: 10px;
	padding-left: 5px;
}

.comment-list > *:last-child {
	margin-bottom: 0;
}

.comment-info {
	color: rgba(255,255,255,0.7);
	font-size: 12px;
}

.comment-info small {
	color: #BBB;
}

.input-comment {
	margin-top: 10px;
	opacity: 0.5;
	width: 75%;
}

.input-comment input {

}


.btn-add {
	
}

#where-map img { max-width: none; }

.icon-for-adventure-title {

}

.icon-for-adventure-title.icon-cogs {
	font-size: 24px;
}

.nav-adventure {
	background-color: rgba(0,0,0,0.4);
	font-size: 40px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
}

.nav-adventure li {
	height: calc(100% / 8);
	min-height: 80px;
}

.nav-adventure li + li {
	margin-top: 1px;
}

.nav-adventure li a {
	border-radius: 0;
	border-right: 5px solid rgba(255,255,255,0.6);
	text-align: center;
	margin: 0;
	height: 100%;
	width: 100px;
}

.nav-adventure li a i {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	left: 50%;
	margin-left: -20px;
}

.nav-adventure li#nav-adventure-places a {
	border-right-color: rgba(184, 246, 145, 0.5);
}

.nav-adventure li#nav-adventure-adventurers a {
	border-right-color: rgba(235, 114, 104, 0.5);
}

.nav-adventure li#nav-adventure-time a {
	border-right-color: rgba(152, 229, 251, 0.5);
}

.nav-adventure > li > a {
	padding-top: 12px;
	padding-bottom: 12px;
}

.nav-adventure a {
    color:  white;
}

.nav-adventure .nav-pills>li.active>a, 
.nav-adventure .nav-pills>li.active>a:hover, 
.nav-adventure .nav-pills>li.active>a:focus {
	background: rgba(255,255,255,0.4) !important;
}

.nav-adventure .nav-pills>li>a:hover, 
.nav-adventure .nav-pills>li>a:focus {
	color: white;
	background: rgba(255,255,255,0.2);
}

.nav-adventure .nav-pills>li>a:hover i, 
.nav-adventure .nav-pills>li>a:focus i{
	color: white;
}


.nav-adventure .nav {
	height: 100%;
}

h3 {
	background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    padding: 10px 20px;
}

#where-dialog, 
#who-dialog, 
#when-dialog {
	border-left: 20px solid silver !important;
	border-radius: 0 !important;
	background: white !important;
	position: absolute;
	width: 100%;
}

#where-dialog {
	border-left-color: rgba(184, 246, 145, 0.5) !important;
}

#who-dialog {
	border-left-color: rgba(235, 114, 104, 0.5) !important;
}

#when-dialog {
	border-left-color: rgba(152, 229, 251, 0.5) !important;
}

#yingyangyong {
/*	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease; */

    background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
    padding: 5px;
}

#yingyangyong:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes spinWhere {
0% { -webkit-transform: rotate(240deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinWhere {
0% { -moz-transform: rotate(240deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spinWhere {
0% { -o-transform: rotate(240deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spinWhere {
0% { -ms-transform: rotate(240deg);}
100% { -ms-transform: rotate(360deg);}
}



@-webkit-keyframes spinWho {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(120deg);}
}
@-moz-keyframes spinWho {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(120deg);}
}
@-o-keyframes spinWho {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(120deg);}
}
@-ms-keyframes spinWho {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(120deg);}
}


@-webkit-keyframes spinWhen {
0% { -webkit-transform: rotate(120deg);}
100% { -webkit-transform: rotate(240deg);}
}
@-moz-keyframes spinWhen {
0% { -moz-transform: rotate(120deg);}
100% { -moz-transform: rotate(240deg);}
}
@-o-keyframes spinWhen {
0% { -o-transform: rotate(120deg);}
100% { -o-transform: rotate(240deg);}
}
@-ms-keyframes spinWhen {
0% { -ms-transform: rotate(120deg);}
100% { -ms-transform: rotate(240deg);}
}

/*
#yingyangyong.where360 {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);

}
*/

#yingyangyong.where {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	
	-webkit-animation: spinWhere 1s 1 ease;
	-moz-animation: spinWhere 1s 1 ease;
	-o-animation: spinWhere 1s 1 ease;
	-ms-animation: spinWhere 1s 1 ease;
	animation: spinWhere 1s ease 1;

}


#yingyangyong.who {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
	
	-webkit-animation: spinWho 1s 1 ease;
	-moz-animation: spinWho 1s 1 ease;
	-o-animation: spinWho 1s 1 ease;
	-ms-animation: spinWho 1s 1 ease;
	animation: spinWho 1s ease 1;

}


#yingyangyong.when {
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	transform: rotate(240deg);
	
	-webkit-animation: spinWhen 1s ease 1;
	-moz-animation: spinWhen 1s ease 1;
	-o-animation: spinWhen 1s ease 1;
	-ms-animation: spinWhen 1s ease 1;
	animation: spinWhen 1s ease 1;
}

#inspiration-container .social {
    position: absolute;
    left: 100%;
    max-width: 90px;
    padding-left: 10px;
    top: 0px;
}

#adventure-container .comments {
	position: absolute;
	left: 100%;
    min-width: 220px;
	color: white;
	top: 0px;
}

#adventure-container .comments-wall {
    position: relative;
    min-width: 300px;
    color: white;
    top: 0px;
}

#adventure-container .table td {
	vertical-align: middle;
}

#adventure-container .table th {
	white-space: nowrap;
}

.table td.text-center,
.table th.text-center {
	text-align: center;
}

#adventure-title-image.hover {
    border: solid 1px #79a848;
}

#files-upload-dropzone {
	border: dashed 3px rgba(255,255,255,0.4);
	padding: 40px 0 20px 0;
	margin-top: 15px;
}

#files-upload-dropzone.hover {
    border: solid 3px #79a848;
}

.btn-edit-description {
	margin-top: 10px;
}

.x-edit-loading {
	font-size: 16px;
}

h1 .x-edit-loading {
	font-size: 22px;
}

#todo-title {
}

.adventures-list-full {

}

.adventures-list-full .row-fluid {
	vertical-align: middle;
	line-height: 56px;
	height: 60px;
}

.adventures-list-full h4 {
	margin: 0;
	padding: 0;
	line-height: inherit;
}

.adventures-list-full .media-object {
}

.adventures-list-full .action {
	margin-right: 14px;
}

.polaroid > div {
	padding: 2px 10px !important;
}

.polaroid h4 {
	margin: 10px 0px;
}

.prime-image {
	border: none !important;
	position: relative;
	margin-bottom: 0;
	margin-top: 50px;
}

.prime-image .title-name {
	position: absolute;
	bottom: 20px;
	left: 20px;
    color: white;
    font-size: 32px;
}

.prime-image .title-name a {
	border: none;
	color: white;
}

.prime-image .title-name i {
	font-size: 24px;
	color: white;
}

.prime-image .toolbar {
	position: absolute;
	right: 20px;
	bottom: 20px;
	white-space: nowrap;
	display: inline;
}

.prime-image .toolbar .btn {
	margin-left: 5px;
}

.header > * > * {
	background-color: rgba(255,255,255,0.2);
	border: none;
	padding: 20px 20px 10px;
}


.header * {
	color: white;
}

.header .navbar-text {
	margin-top: -10px;
	margin-bottom: 5px;
}

.header .text-right {
	margin-top: 1px;
}

.header .pull-right i {
	position: relative;
	top: 2px;
}

.popover * {
	color: #333;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	color: gray;
	background-color: white;
}

#success-stories .polaroid {
	width: 100%;
	margin-top: 20px;
	position: relative;
}


#success-stories .polaroid img {
	width: 100%;
}

.search-query {
	padding: 8px 12px;
	border: none;
	width: 300px;
	position: relative;
	top: 2px;
	color: #333;
}

.alert {
	margin-top: 50px;
}

.btn-group {
	white-space: nowrap;
}

.has-switch {
	border: 1px solid white;
	overflow: hidden;
	min-width: 125px;
}

.has-switch span.switch-primary, 
.has-switch span.switch-left {
	background: #428bca;
}

.has-switch span, 
.has-switch label {
	padding-bottom: 6px;
	padding-top: 6px;
}

.has-switch span.switch-right {
	background: none;
}

.btn-file {
	border-radius: 4px;
}

.jrn-actions {
	background: rgba(255,255,255,0.2);
	border-top: 1px solid white;
	padding: 20px;
	margin: 20px -20px -20px -20px !important;
}

.jrn-form .form-group {
	margin-right: 0px;
	margin-left: 0px;
}


.jrn-form .control-label {
	float: left;
}

.drophover {
    border: green solid 2px;
}

.popover {
    max-width: 1200px;
}

.unscrollable {
    overflow: hidden;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgba(255,255,255,0.4);
}

.table-striped>tbody>tr:hover>td, 
.table-striped>tbody>tr:hover>th {
	background-color: rgba(255,255,255,0.6);
}

.table thead>tr>th, 
.table tbody>tr>th, 
.table tfoot>tr>th, 
.table thead>tr>td, 
.table tbody>tr>td, 
.table tfoot>tr>td {
	border-top: none;
	border-bottom: none;
}
