body {
	background-image: url("../img/kilimanjaro.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: cover;
}

.main {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px 0px black;
	margin-top: 260px;
}

.main > .container {
	top: -100px;
	display: block;
	background: white;
	position: relative;
	padding: 20px 50px;
	box-shadow: 0 0 50px -5px black;
	border-radius: 3px;
}

.navbar {
	box-shadow: 0 0 10px -1px black;
}

.navbar-inverse .brand, .hero-unit h1 {
	color: #E97802;
}

.spacer100 {
	height: 100px;
	width: 100%;
}

.spacer30 {
	height: 30px;
	width: 100%;
}

.controls.switch {
	height: 28px;
	margin-left: 20px;
}

table.inspiration td {
	vertical-align: top;
	padding-right: 40px;
}

table.inspiration td:last-child {
	padding-right: 0px;
}

table.inspiration td.fixed-width {
	width: 240px;
}

table.inspiration .images img {
	margin-bottom: 10px;
}

.tripadvisor {
	background: #fff!important;
	box-shadow: 0 0 3px #aaa!important;
	border-radius: 3px!important;
	margin-bottom: 20px;
}

.tripadvisor .description {

}
