body {
	background-image: url("http://i.embed.ly/1/image/resize?width=1600&url=http%3A%2F%2Fwww.journwe.com%2Fassets%2Fimg%2Fprekestollen.JPG&key=2c8ef5b200c6468f9f863bc75c46009f");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: cover;
}

body, body * {
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

h1, h2, h3, h4, h1 small, h2 small, h3 small, h4 small {
   font-weight:100;
   margin-bottom: 20px;
}

hr {
    min-height: 0px;
    color: rgba(200, 200, 200, 0.9);
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
}


.main {
/*	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px 0px black;     */
	margin-top: 150px;
}


.main > .container {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    display: block;
    padding: 20px 50px;
    position: relative;
    top: -50px;
}

.navbar {
	box-shadow: 0 0 3px -2px black;
}

.navbar-fixed-top .navbar-inner {
    background: white;
    border: none;
}

.navbar-fixed-top .navbar-inner .brand, .hero-unit h1 {
	color: #E97802;
	vertical-align: text-bottom;
	line-height: 20px;
}

.navbar .brand {
    padding: 18px 40px 18px 20px;
}

.navbar .brand span {
	font-weight: 100;
}

.navbar .nav > li > a {
    padding: 20px;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    color: #E97802;
    text-decoration: none;
    background: none;
}

.navbar-inner p {
    padding: 10px 0;
}

.spacer100 {
	height: 100px;
	width: 100%;
}

.spacer30 {
	height: 30px;
	width: 100%;
}

.spacer20 {
	height: 20px;
	width: 100%;
}

.controls.switch {
	height: 28px;
	margin-left: 20px;
}

table.inspiration td {
	vertical-align: top;
	padding-right: 40px;
}

table.inspiration td:last-child {
	padding-right: 0px;
}

table.inspiration td.fixed-width {
	width: 240px;
}

table.inspiration .images img {
	margin-bottom: 10px;
}

.tripadvisor {
	background: #fff!important;
	box-shadow: 0 0 3px #aaa!important;
	border-radius: 3px!important;
	margin-bottom: 20px;
}

.tripadvisor .description {

}

.badge {
	top: -2px;
	position: relative;
}


.status-COMPLETE {
	text-decoration: line-through;
}


.weather-container {
	margin: 0px 0px 20px 20px;
}


.weather-container h3 {
	font-size: 16px;
}

.weather {
	float: left;
	text-align: center;
	margin-right: 20px;
}

.weather:last-child {
	margin-right: 0px;
}



.weather img {
	width: 100px;
	display: block;
}

.weather .high-temperature {
	font-size: 24px;
}

.weather .low-temperature {
	font-size: 14px;
	margin-left: 5px;
}

.comments {
	border-left: 1px solid #ddd;
	padding-left: 10px;
}

.comments .empty{
	color: #999;
	font-style: italic;
}

.comment-list > * {
	margin-bottom: 10px;
}

.comment-info {
	color: #999;
	font-size: 12px;
}

.comment-info small {
	color: #BBB;
}

.input-comment input {
	width: 120px !important;
}


.btn-add {
    background-color: rgb(153, 153, 153);
    border-color:  rgb(153, 153, 153);
}

#where-map img { max-width: none; }

.icon-for-adventure-title {
    font-size: 60px;
    color:  rgb(153, 153, 153);
}

.nav-adventure {
       position: fixed;
       right: 0px;
       top: 50%;
       background-color: rgba(255,255,255,0.9);
       box-shadow: 0 0 10px 0px black;
}

.nav-adventure a {
       color:  rgb(153, 153, 153);
}

h3 {
	background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    padding: 0 20px;
}