body {
	/*padding-top: 160px;*/
	background-image: url("../img/kilimanjaro.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	background-size: cover;
}

.spacer100 {
	height: 100px;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.navbar-inverse .brand,.hero-unit h1 {
	color: #E97802;
}